﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/sweetalert2.min")
    @Styles.Render("~/Content/sweetalert2.min")
    @Styles.Render("~/Content/slidetogglebutton")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/Content/bootstrap-select")

</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
       -->
    <!-- Sidebar -->

    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <!--
             <div style="height:120px;top:0px;margin-left:22px;position:absolute">
                 <div><img width="70" height="70" /></div>
                 <div style="top:90px;position:absolute">
                     <span>User</span>
                 </div>
             </div>
            style="position:absolute;top:120px;" -->
            <div>
                <ul class="sidebar-nav">
                    <li><img width="64" height="64" /></li>

                    <li class="sidebar-brand">
                        <a href="#">
                            Start Bootstrap
                        </a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">Upload files</a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">View/Send files</a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">View files</a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">Download PACS Gateway</a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">Monitor files</a>
                    </li>

                    <li>
                        <img width="24" height="24" />
                        <a href="#">Edit Group Functions</a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">Edit Personal Functions</a>
                    </li>
                    <li>
                        <img width="24" height="24" />
                        <a href="#">Profile</a>
                    </li>
                </ul>
            </div>
        </div>



        <div id="page-content-wrapper" class="toggled">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <div class="modal" id="loadingDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" style="height:420px;">
                    <div class="modal-body text-center">
                        <h1 class="has-text-green pt-lg">กรุณารอสักครู่</h1>
                        <h3 class="has-text-silver pt-lg">ขณะนี้ระบบกำลังประมวลผล</h3>

                        <div class="loader">
                        </div>

                        <h6 class="pt-md has-text-silver">(ใช้เวลาทำการประมาณ 3-5 นาที)</h6>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert2.min")
    @Styles.Render("~/Content/sweetalert2.min")
    @Styles.Render("~/Content/slidetogglebutton")
    @Styles.Render("~/Content/loader")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    function showLoadingDialog() {
        setTimeout(function () { hideLoadingDialog(); }, 60000);
        var loadingDialog = $('#loadingDialog');
        loadingDialog.modal('show');
    }

    function hideLoadingDialog() {
        var loadingDialog = $('#loadingDialog');
        loadingDialog.modal('hide');
    }
</script>