﻿@{
    Common.OperatorModel operatorProvider = Common.OperatorProvider.Provider.GetCurrent();
    BaseData.Role role = BaseData.Role.Patient;
    string sauthority = string.Empty;
    bool broleMonitor = false, broleSend = false, broleUpload = false, broleView = false, bsendDown = false, bDownload = false, bDownPacs = false;
    bool bHospitalMember = false;
    string head_icon = string.Empty,userid_id=string.Empty;

    string downExist = Common.Configs.GetValue("DownloadFromPacs");
    bool bdownExist = true;
    if(downExist == "0")
    {
        bdownExist = false;
    }

    if (operatorProvider != null)
    {
        head_icon = operatorProvider.headImageFile;
        if(System.IO.File.Exists(head_icon))
        {
            byte[] bts = System.IO.File.ReadAllBytes(head_icon);
            string stmp = Convert.ToBase64String(bts);
            head_icon = "data:image/bmp;base64," + stmp;
        }
        else
        {
            head_icon = "";
        }
        userid_id = operatorProvider.UserCode;

        role = BaseData.RoleActor.GetRole(operatorProvider.RoleId);

        sauthority = operatorProvider.Authority;
        //
        int iauthority = VNA.MiscUitl.AuthorityOfRole(operatorProvider.RoleId);

        broleMonitor = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.Monitor);
        broleSend = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.SendUpload);
        broleUpload = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.Upload);
        bsendDown = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.SendDownload);
        broleView = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.ViewFile);
        bDownload = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.DownloadFile);
        bDownPacs = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.DownloadFromPacs);
        //
        bHospitalMember = (role == BaseData.Role.Nurse || role == BaseData.Role.Doctor);
    }
    bool bsuper = (role == BaseData.Role.Super);

    string sViewSendBackImg = "~/Content/images/btn_patientView_1.png";

    if ((bHospitalMember && (bDownload || BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.DownloadFile))))
    {
        sViewSendBackImg = "~/Content/images/btn_ViewDL_1.png";
    }
    bool bSelfProfile = true;
    string suseridid = string.Empty;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    var curactionClass = string.Empty;
    if (action == "UploadFiles")
    {
        curactionClass = "uploadNow";
    }
    else if(action=="SendUploadLink")
    {
        curactionClass = "sendUploadLinkNow";
    }
    else if(action=="SendDownloadLink")
    {
        curactionClass = "sendDlLinkNow";
    }
    else if(action=="DownloadFromPacs")
    {
        curactionClass = "dlFromPACSNow";
    }
    else if(action =="MonitorFiles")
    {
        curactionClass = "monitorNow";
    }
    else if(action=="Profiles")
    {
        curactionClass = "profileNow";
        string url= HttpContext.Current.Request.Url.Query;
        if(url.Contains("user_id_id"))
        {
            suseridid = url.Substring(url.IndexOf("user_id_id")+11);
        }
        if (!string.IsNullOrEmpty(suseridid))
        {
            string sopercode = operatorProvider.UserCode;
            bSelfProfile = sopercode.Equals(suseridid);
        }
    }
    else if(action=="EditPersonalFunc")
    {
        curactionClass = "editPerFuncNow";
    }
    else if(action=="EditGroupFunc")
    {
        curactionClass = "editGroupFuncNow";
    }
    else if(action=="CreateIndividualAcount")
    {
        curactionClass = "createOneACNow";
    }
    else if(action=="CreateGroupAcount")
    {
        curactionClass = "createGroupACNow";
    }
    else if(action=="ViewFiles")
    {
        curactionClass = "viewNow";
    }
    else if(action=="DownloadFiles")
    {
        curactionClass = "dlFromPACSNow";// "downloadNow";
    }
    string stylestyle = "to Dark Style";
    if (Session["style"] as string == "1")
    {
        stylestyle = "to White Style";
    }


}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- yys clear cache -->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">

    <title>@ViewBag.Title EBM eDC</title>

    @RenderSection("metadata", required: false)

    @Styles.Render("~/Content/css")

    @if (Session["style"] as string == "1")
    {
        @Styles.Render("~/Content/myCssDark")
    }
    else
    {
        @Styles.Render("~/Content/myCss")
    }
    @* @Styles.Render("~/Content/myCss2")*@

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/sweetalert2.min")
    @Styles.Render("~/Content/sweetalert2.min")
    @Styles.Render("~/Content/loader")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Styles.Render("~/Content/slidetogglebutton")
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/Content/bootstrap-select")
    @Scripts.Render("~/bundles/jquerymd5")
    <link href="~/Content/libs/css/all.css" rel="stylesheet" />
    <style>
    </style>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



</head>
<body>
    <div class="setTopMenuBG">
        <div class="flexHorSet_L" style="height: 58px;">
            <div class="flexVerSet flexHorSet">
                <img class="logoSet" src='@Url.Content("~/Content/images/logo-1.png")' onclick="window.location.href='@Url.Action("Index", "Home")'">
            </div>
            <div class="drawLine_ver" style="height: 58px; float: left;"></div>
            <div class="userPhotoSet">
                @if (!string.IsNullOrEmpty(head_icon))
                {
                    <img id="headimg" src='@head_icon' style="max-width:80px;max-height:80px;">
                }
                else if (role == BaseData.Role.Super || role == BaseData.Role.Admin)
                {
                    <img id="headimg" src='@Url.Content("~/Content/images/pageIconAdmin.png")'>
                }
                else if (role == BaseData.Role.Doctor)
                {
                    <img id="headimg" src='@Url.Content("~/Content/images/pageIconPhysician.png")'>
                }
                else if (role == BaseData.Role.Nurse)
                {
                    <img id="headimg" src='@Url.Content("~/Content/images/pageIconNurse.png")'>
                }
                else if (role == BaseData.Role.Manager)
                {
                    <img id="headimg" src='@Url.Content("~/Content/images/pageIconManager.png")'>
                }
                else if (role == BaseData.Role.Patient)
                {
                    <img id="headimg" src='@Url.Content("~/Content/images/pageIconPatient.png")'>
                }
            </div>
            @if (action == "Profiles" && bSelfProfile)
            {
                <div class="userHPBtnSet">

                    <img onclick="$('#inputfileImg').click()" src='@Url.Content("~/Content/images/btn_headShot.png")'>
                    <input onchange="filechange(this);" name="" style="display:none;" type="file" id="inputfileImg" accept=".jpg,png,.bmp" multiple="">

                </div>
            }
            else
            {

            }
            <div class="pageUserName flexVerSet">
                <span id="userNamesp" name="userNamesp">
                    @if (Common.OperatorProvider.Provider.GetCurrent() != null)
                    {
                        @Common.OperatorProvider.Provider.GetCurrent().UserName
                    }
                </span>
            </div>

            <div class="flexHorSet_R" style="margin-left: auto;">

                @if (bsuper || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.Upload)
                     || (broleUpload && (string.IsNullOrEmpty(sauthority) || sauthority == "0"))))
                {
                    if (action != "UploadFiles")
                    {
                        <a href='@Url.Action("UploadFiles", "Home")'><div class="upload toolTip flexHorSet"><span class="toolTipText">Upload Files</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }

                @if (bsuper || ((bsendDown && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.SendDownload))))
                {
                    if (action != "SendDownloadLink")
                    {
                        <a href='@Url.Action("SendDownloadLink", "Home")'><div class="sendDlLink toolTip flexHorSet"><span class="toolTipText">Send Download Link</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }
                @if (bsuper || ((broleSend && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.SendUpload))))
                {
                    if (action != "SendUploadLink")
                    {
                        <a href='@Url.Action("SendUploadLink", "Home")'><div class="sendUploadLink toolTip flexHorSet"><span class="toolTipText">Send Upload Link</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }

                @if (bdownExist && (bsuper || ((bDownPacs && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.DownloadFromPacs)))))
                {
                    if (action != "DownloadFromPacs")
                    {
                        <a href='@Url.Action("DownloadFromPacs", "Home")'><div class="dlFromPACS toolTip flexHorSet"><span class="toolTipText">Download from PACS</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }

                @if (bsuper || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.Monitor)
                       || (broleMonitor && (string.IsNullOrEmpty(sauthority) || sauthority == "0"))))
                {
                    if (action != "MonitorFiles")
                    {
                        <a href='@Url.Action("MonitorFiles", "Home")'><div class="monitor toolTip flexHorSet"><span class="toolTipText">Monitor Files</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }

                @if (bsuper || (role == BaseData.Role.Admin))
                {
                    if (action != "EditPersonalFunc")
                    {
                        <a href='@Url.Action("EditPersonalFunc", "User")'><div class="editPerFunc toolTip flexHorSet"><span class="toolTipText">Edit Personal Function</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }

                @if (bsuper || (role == BaseData.Role.Admin))
                {
                    if (action != "EditGroupFunc")
                    {
                        <a href='@Url.Action("EditGroupFunc", "User")'><div class="editGroupFunc toolTip flexHorSet"><span class="toolTipText">Edit Group Function</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                    if (action != "CreateIndividualAcount")
                    {
                        <a href='@Url.Action("CreateIndividualAcount", "User")'><div class="createOneAC toolTip flexHorSet"><span class="toolTipText">Create One Acount</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                    if (action != "CreateGroupAcount")
                    {
                        <a href='@Url.Action("CreateGroupAcount", "User")'><div class="createGroupAC toolTip flexHorSet"><span class="toolTipText">Create GroupAcount</span></div></a>
                    }
                    else
                    {
                        <div class="@curactionClass"></div>
                    }
                }

                @if (bsuper || (bDownload && role == BaseData.Role.Patient))
                {@*only for patient..&& *@
                if (action != "DownloadFiles")
                {
                    <a href='@Url.Action("DownloadFiles", "Home")'><div class="dlFromPACS toolTip flexHorSet" id="DownloadFiles" name="DownloadFiles"><span class="toolTipText">Download</span></div></a>
                }
                else
                {
                    <div class="@curactionClass"></div>
                }
            }

                @if (bsuper
                            || (bHospitalMember && ((bDownload && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) ||
                            BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.DownloadFile))))
                {@*非病人的download 和view在viewfiles显示..role == BaseData.Role.Patient || role == BaseData.Role.Nurse || role == BaseData.Role.Doctor*@
                if (action != "ViewFiles")
                { @*style="background-image:url(@Url.Content(sViewSendBackImg)"*@
                <a href='@Url.Action("ViewFiles", "Home")'><div class="view toolTip flexHorSet" id="ViewFiles" name="ViewFiles"><span class="toolTipText">View Files</span></div></a>
            }
            else
            {
                <div class="@curactionClass"></div>
            }
        }
        else if ((role == BaseData.Role.Patient && (broleView ||
        BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.ViewFile))) || (bHospitalMember && (broleView || (BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.ViewFile))
        )))
        {
            if (action != "ViewFiles")
            {
                <a href='@Url.Action("ViewFiles", "Home")'><div class="view toolTip flexHorSet" id="ViewFiles" name="ViewFiles"><span class="toolTipText">View Files</span></div></a>
            }
            else
            {
                <div class="@curactionClass"></div>
            }
        }

                @if (action != "Profiles")
                {
                    <a href='@Url.Action("Profiles", "User")'><div class="profile toolTip flexHorSet"><span class="toolTipText">User Profile</span></div></a>
                }
                else
                {
                    <div class="@curactionClass"></div>
                }

                @*<a href='@Url.Action("SwitchStyle", "User")?Return=@Request.RawUrl.ToString()'><div class="switchDarkStyle toolTip flexHorSet"><span class="toolTipText">@stylestyle</span></div></a>*@

                @*if(Session["style"] as string == "1")
                    {
                    stylestyle = "to White Style";
                    }*@
                <label class="switch" style="margin-top:16px;">
                    @{
                        string Css = "";
                    }
                    @if (Session["style"] as string == "1") //1 = white
                    {
                        Css = "checked";
                    }
                    <a href='@Url.Action("SwitchStyle", "User")?Return=@Request.RawUrl.ToString()'>

                        <input type="checkbox" @Css>
                        <span class="slider round"></span>
                    </a>

                </label>
                @if (action != "Logout")
                {
                    <a href='@Url.Action("Logout", "User")'><div class="exitProg toolTip flexHorSet"><span class="toolTipText">Logout</span></div></a>
                }
                else
                {
                    <div class="@curactionClass"></div>
                }


            </div>
        </div>
    </div>

    @*<div style="width:100%;height:100%">*@
    @RenderBody()
    @*</div>*@
    <div class="modal" id="loadingDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" style="height:420px;">
                <div class="modal-body text-center">
                    <h1 class="has-text-green pt-lg">กรุณารอสักครู่</h1>
                    <h3 class="has-text-silver pt-lg">ขณะนี้ระบบกำลังประมวลผล</h3>

                    <div class="loader">
                    </div>

                    <h6 class="pt-md has-text-silver">(ใช้เวลาทำการประมาณ 3-5 นาที)</h6>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
<script>
    function showLoadingDialog() {
        setTimeout(function () { hideLoadingDialog(); }, 60000);
        var loadingDialog = $('#loadingDialog');
        loadingDialog.modal('show');
    }

    function hideLoadingDialog() {
        var loadingDialog = $('#loadingDialog');
        loadingDialog.modal('hide');
    }
</script>

<script language="javascript">
        window.scrollTo(0, 1);

function filechange(obj){

      if (!/image\/\w+/.test(obj.files[0].type)) {
            alert("please select image file");
            return false;
        }
    var ftype = obj.files[0].type;

    var filevalue = obj.files[0].name;
    var index = filevalue.lastIndexOf('.');
    ftype = filevalue.substring(index);
     var reader = new FileReader();
 reader.onload = function(evt){
     image = evt.target.result;
     uploadImage(image,ftype);
}
    reader.readAsDataURL(obj.files[0]);

        };

function getObjectURL(file) {
    var url = null;
    if (window.createObjectURL != undefined) { // basic
        url = window.createObjectURL(file);
    } else if (window.URL != undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file);
    } else if (window.webkitURL != undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file);
    }
    return url;
        }
        function uploadImage(imageobj,ftype) {
            $.ajax({
        type:'POST',
                url: '@Url.Action("UploadIcon","User")',
                data: { image: imageobj, userid_id: '@userid_id', filetype: ftype },
        async: false,
        dataType: 'json',
        success: function(data){
            if (data.success) {
               $("#headimg").attr("src", image);
            alert('success');
        }
        else {
            alert('failed');
        }
        },
         error: function(err){
            alert(err);
        }
        });
        }
</script>