﻿@{ 
    Common.OperatorModel operatorProvider = Common.OperatorProvider.Provider.GetCurrent();
    BaseData.Role role = BaseData.Role.Patient;
    string sauthority = string.Empty;
    bool broleMonitor=false,broleSend=false,broleUpload=false,broleView=false,bsendDown=false,bDownload=false,bDownPacs=false;
    bool bHospitalMember = false;
    if (operatorProvider != null)
    {
        role = BaseData.RoleActor.GetRole(operatorProvider.RoleId);

        sauthority = operatorProvider.Authority;
        //
        int iauthority = VNA.MiscUitl.AuthorityOfRole(operatorProvider.RoleId);

        broleMonitor = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.Monitor);
        broleSend = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.SendUpload);
        broleUpload = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.Upload);
        bsendDown = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.SendDownload);
        broleView = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.ViewFile);
        bDownload = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.DownloadFile);
        bDownPacs = VNA.MiscUitl.HasAuthority(iauthority, BaseData.AuthorityRights.DownloadFromPacs);
        //
        bHospitalMember = (role == BaseData.Role.Nurse || role == BaseData.Role.Doctor);
    }
    bool bsuper = (role == BaseData.Role.Super);

    string sViewSendBackImg = "~/Content/images/btn_patientView_1.png";

    if ((bHospitalMember && (bDownload || BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.DownloadFile))))
    {
        sViewSendBackImg = "~/Content/images/btn_ViewDL_1.png";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- yys clear cache -->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">

    <title>@ViewBag.Title EBM eDC</title>

    @RenderSection("metadata", required: false)

    <!-- @@Styles.Render("~/Content/css") -->
    @Styles.Render("~/Content/myCss")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/sweetalert2.min")
    @Styles.Render("~/Content/sweetalert2.min")
    @Styles.Render("~/jQueryUI/css")
    @Styles.Render("~/Content/slidetogglebutton")
    @Styles.Render("~/Content/loader")
    @Scripts.Render("~/bundles/jquerymd5")

    <style>
        .cs1 {
          background-image: url(../Content/images/btn_createIndividualAC.png)
        }
        .cs2{
            background-image:  url(@Url.Content("~/Content/images/btn_createGroupAC.png"));
            height: 87px;
            opacity: 1;
        }
    </style>
    <script language="javascript">
        window.scrollTo(0, 1);
        $(document).ready(function () {
            var controller = '@ViewContext.RouteData.Values["controller"].ToString()';
            var action = '@ViewContext.RouteData.Values["action"].ToString()';
            if (controller == "Home" || controller == "User") {
                var vid = '#' + action+'';
                $(vid).css("background-color", "#F5F5F5");
            }
        });
    </script>

</head>
<body>
    
    @*hideScrollBar yys *@
    <div class="allContentContainer middleCenter hideScrollBar">
        <div class="pageMenuPosition pageMenuBg" style="padding-top: 30px;">
            <div class="pageLogoPosition">
                <img src='@Url.Content("~/Content/images/logo-1.png")'>
            </div>
            <div class="pageProductName">
                <span>eDC</span>
            </div>
            <div class="pageUserPhotoPosition">
                <img src='@Url.Content("~/Content/images/loginPatientIcon.png")'>
            </div>
            <div class="pageUserName">
                <span id="userNamesp" name="userNamesp">
                    @if (Common.OperatorProvider.Provider.GetCurrent() != null)
                    {
                        @Common.OperatorProvider.Provider.GetCurrent().UserName
                    }
                </span>
            </div>
            <div class="setMenuScrollBar">
                <div class="pageMenuSet" style="margin-top: 20px;" id="divMenus" name="divMenus">
                    @if (bsuper || ((broleSend && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.SendUpload))))
                    {@* role == BaseData.Role.Manager*@
                    <a href='@Url.Action("SendUploadLink", "Home")'><div class="sendUploadLink" id="SendUploadLink" name="SendUploadLink"></div></a>
                }
                    @if (bsuper || ((bsendDown && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.SendDownload))))
                    {
                        <a href='@Url.Action("SendDownloadLink", "Home")'><div class="sendDlLink" id="SendDownloadLink" name="SendDownloadLink"></div></a>
                    }
                    @if (bsuper || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.Monitor)
                       || (broleMonitor && (string.IsNullOrEmpty(sauthority) || sauthority == "0"))))
                    {@*role == BaseData.Role.Manager*@
                    <a href='@Url.Action("MonitorFiles", "Home")'><div class="monitor" id="MonitorFiles" name="MonitorFiles"></div></a>
                }
                    @if (bsuper || ((bDownPacs && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.DownloadFromPacs))))
                    {
                        <a href='@Url.Action("DownloadFromPacs", "Home")'><div class="dlFromPACS" id="DownloadFromPacs" name="DownloadFromPacs"></div></a>
                    }
                    @if (bsuper || (role == BaseData.Role.Admin))
                    {
                        <a href='@Url.Action("EditPersonalFunc", "User")'><div class="editPerFunc" id="EditPersonalFunc" name="EditPersonalFunc"></div></a>
                    }
                    @if (bsuper || (role == BaseData.Role.Admin))
                    {
                        <a href='@Url.Action("EditGroupFunc", "User")'><div class="editGroupFunc" id="EditGroupFunc" name="EditGroupFunc"></div></a>

                        <a href='@Url.Action("CreateIndividualAcount", "User")'><div class="createOneAC" id="CreateIndividualAcount" name="CreateIndividualAcount"></div></a>
                        <a href='@Url.Action("CreateGroupAcount", "User")'><div class="createGroupAC" id="CreateGroupAcount" name="CreateGroupAcount"></div></a>


                    }
                    @if (bsuper || (!string.IsNullOrEmpty(sauthority) && BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.Upload)
                        || (broleUpload && (string.IsNullOrEmpty(sauthority) || sauthority == "0"))))
                    {@*role == BaseData.Role.Manager || role == BaseData.Role.Patient || role == BaseData.Role.Nurse || role == BaseData.Role.Doctor*@
                    <a href='@Url.Action("UploadFiles", "Home")'><div class="upload" id="UploadFiles" name="UploadFiles"></div></a>
                }
                    @if (bsuper || (bDownload && role == BaseData.Role.Patient))
                    {@*only for patient..*@
                    <a href='@Url.Action("DownloadFiles", "Home")'><div class="download" id="DownloadFiles" name="DownloadFiles"></div></a>
                }
                @*(broleView && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || *@
                    @if (bsuper
                             || (bHospitalMember && ((bDownload && (string.IsNullOrEmpty(sauthority) || sauthority == "0")) || 
                             BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.DownloadFile))))
                    {@*非病人的download 和view在viewfiles显示..role == BaseData.Role.Patient || role == BaseData.Role.Nurse || role == BaseData.Role.Doctor*@
                    <a href='@Url.Action("ViewFiles", "Home")'><div class="view" id="ViewFiles" name="ViewFiles" style="background-image:url(@Url.Content(sViewSendBackImg)"></div></a>
                                }
                                else if ((role == BaseData.Role.Patient && (broleView || 
                        BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.ViewFile) ))|| (bHospitalMember && (broleView || (BaseData.RoleActor.HasAuthorityRights(sauthority, BaseData.AuthorityRights.ViewFile))
                                    )))
                                {
                    <a href='@Url.Action("ViewFiles", "Home")'><div class="view" id="ViewFiles" name="ViewFiles"></div></a>
                }

                        @if (true)
                        {
                        <a href='@Url.Action("Profiles", "User")'><div class="profile" id="Profiles" name="Profiles"></div></a>
                    }
                </div>
            </div>
        </div>
        <div style="float:right; margin-top: 20px;">
            <a href='@Url.Action("Logout","User")'><span class="allTextSetBlue">logout</span></a>

        </div>

        
            <!--class="pageContentPosition middleCenter"-->

        <div>
            @RenderBody()
        </div>
       

    </div>



    @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquerymd5")*@


    @RenderSection("scripts", required: false)

</body>
</html>
