﻿@using System.Web.Optimization;
@using Kendo.Mvc.UI
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @ViewBag.Title
    </title>
    @{
        var yearType = System.Configuration.ConfigurationManager.AppSettings["YearType"].ToString().ToUpper();
        var langType = (yearType == "BE") ? "th" : "en";
        var IsThaiyear = (yearType == "BE") ? "true" : "false";
    }
    <script type="text/javascript">
        var _langType = '@langType';
        var $urlBase = "@Url.Content("~")";
        var _yearOffset = '@HttpContext.Current.Application["YearOffset"]';
    </script>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontAwesome")
    
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/theme/css")
    
    @Styles.Render("~/Content/cdss")
    
   @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
    )
    @*@Styles.Render("~/Content/fontTHsarabun")*@
 

   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*@RenderSection("headData", required: false)*@
    
    @RenderSection("CustomTopAreaHolder", false)
    <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css' />

     
    <link href="@Url.Content("~/Content/DXR_MetropolisBlue.css")" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-toggle.min.css">
    <script src="~/Scripts/bootstrap/bootstrap-toggle.min.js"></script>
    

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.CardView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.TreeList }
)
    
    @Scripts.Render("~/bundles/cdss")
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@

    <script src="~/Scripts/cdss-delete.js"></script>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    <script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>
    <script src="~/Scripts/cdss.window.js"></script>
</head>

<body class="skin-blue sidebar-mini  form-horizontal">
    <div class="wrapper ">
        @Html.Partial("_HeaderBar")
        <div class="content">
            @RenderBody()
        </div>
        <div id="btnBackToTop" class="btnBackToTop hidden">
            <i class="glyphicon glyphicon-circle-arrow-up"></i>
        </div>
        <footer>
            @Html.Partial("_FooterBar")
        </footer>
        @(Html.Kendo().Window()
           .Name("PopupWindow")
           .Visible(false)
           .Modal(true)
           .Actions(action => action.Maximize().Close())
           .Width(700)
           .Height(600)
        )
    </div>
</body>
</html>