﻿
.description-Herder #div_panel_description {
    position: absolute;
    top: 10%;
    margin: 0;
    padding: 2em;
}

.description-Body #div_panel_description {
    position: absolute;
    top: 40%;
    margin: 0;
    padding: 2em;
}

.description #div_panel_description {
    /*position: absolute;*/
    top: 30%;
    margin: 0;
    padding: 2em;
}

    .description #div_panel_description h1 {
        color: #0a3af5;
    }

    .description #div_panel_description p {
        color: #0a3af5;
        font-size: 20px;
        width: 100%;
        line-height: 1.5;
    }

    .description #div_panel_description button {
        /*border:1px  solid #F97300;*/
        background: rgba(42, 136, 189, 1);
        color: #fff;
    }

    .description #div_panel_description button {
        /*border:1px  solid #F97300;*/
        background: rgba(42, 136, 189, 1);
        color: #fff;
    }

.sub0_panel_description {
    color: darkslateblue;
}

.sub1_panel_description {
    color: #4b4a48;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

#div_panel_description {
    border-width: 0px;
    position: fixed;
    left: 0px;
    top: 45%;
    width: 100%;
    height: auto;
    background: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
