body{
	min-width: 1024px;
	background-color:rgba(44,51,64,1.00);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}

.logoSet{
	padding: 15px 15px;
}

.pageUserPhotoSet{
	float: left;
	height: 100%;
}

.drawLine_ver{
	border-right: solid 1px rgba(39,177,255,1.00);
}

.userPhotoSet{
	padding: 5px 30px;
}

	.userPhotoSet img{
		height: 50px;
		border-radius: 50%;
		border: solid 2px rgba(39,177,255,1.00);
		
	}

.userHPBtnSet{
	padding-top: 33px;
	padding-right: 10px;
	margin-left: -35px;
}

.setWhiteBG{
	background-color: rgba(60,77,101,1.00);
	border-radius: 3px;
	padding: 15px 0px;
	display: block;
	overflow: auto;
}

	.setWhiteBG_table{
		background-color: rgba(60,77,101,1.00);
		border-radius: 3px;
		padding: 15px 15px;
		display: block;
		overflow: auto;
}


/* new for DARK Style START (Table, menuBG) */
.setTableBG_title{
	background-color:rgba(48,61,78,1.00); 
}

	.setTableBG_line1{
		background-color:rgba(60,76,97,1.00); 
	}

	.setTableBG_line2{
		background-color:rgba(54,68,87,1.00);
	}

.setTopMenuBG{
	background-color: rgba(60,77,101,1.00)
}

/* new for DARK Style END (Table, menuBG) */



.toolTip {
    position: relative;
    display: inline-block;
    
}

	.toolTip .toolTipText {
    	visibility: hidden;
		height: 26px;
   	 	background-color: rgba(39,177,255,1.00);
    	color: #fff;
    	text-align: center;
    	border-radius: 3px;
    	padding: 0px 10px;
		font-size: 13px;
		white-space: nowrap;
		padding-top: 5px;
		margin-top: 5px;
    
    	/* 定位 */
    	position: absolute;
    	z-index: 100;
    	top: 100%;
    	
	}

	.toolTip:hover .toolTipText {
    	visibility: visible;
	}



/* popup box start */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
	.overlay:target {
  	visibility: visible;
  	opacity: 1;
	}

.popup {
  margin: 1px auto;
  padding: 20px;
  background: rgba(60,77,101,1.00);
  border-radius: 3px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:#BBBBBB;
}
.popup .close:hover {
  color: rgba(39,177,255,1.00);
	opacity: 1;
}
/* popup box end */


/* Loading EFFECT START */
.loadMASK {
  background-image: url("images/loading.gif");
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
}

	.loadMASK img{
		position: absolute;
		top: 50%;
		left: 50%;
	}

/* Loading EFFECT END */



/* 為 style2 舊css更新 start */
.pageUserName{			
	text-align: left;
}

.inputFieldSet{
	border-radius: 3px;
	height: 33px;
}

.buttonSet{
	background-color:rgba(0,175,236,1.00);
	height: 35px;
	border-radius: 3px;
	border: rgba(0,175,236,1.00) solid 1px;
	color: rgba(255,255,255,1.00);
	font-size: 15px;
	line-height: 33px;
}

.buttonSet_Clear{
	height: 35px;
	border-radius: 3px;
	color: rgba(255,255,255,1.00);
	font-size: 15px;
	line-height: 33px;
}

.dragDownMenuSet{
	height: 33px;
	background: url(images/iconTriangle.png) no-repeat right;
	border-radius: 3px;
	border: rgba(166,166,166,1.00) solid 1px;
	background-color: rgba(44,51,64,1.00);
	padding: 0 0 0 10px;
	color: rgba(187,187,187,1.00);
	font-size: 15px;
}


.setChoosePage{
	font-size: 13px;
}


label{
	margin-bottom: 0px;
	font-weight: 400;
}

td{
	padding-left: 15px;
}



.profile{
	background-image: url(images/btn_patientProfile_1.png);
	width: 58px;
	height: 58px;
}

	.profile:hover{
		background-image: url(images/btn_patientProfile_2.png);
	}

	.profileNow{
		background-image: url(images/btn_patientProfile_2.png);
		width: 58px;
		height: 58px;
	}

.switchDarkStyle {
    background-image: url(images/btn_switch2_1.png);
    width: 58px;
    height: 58px;
}

    .switchDarkStyle:hover {
        background-image: url(images/btn_switch2_2.png);
    }

.sendDlLink{
	background-image: url(images/btn_sendDlLink_1.png);
	width: 58px;	
	height: 58px;
}

	.sendDlLink:hover{
		background-image: url(images/btn_sendDlLink_2.png);
	}

	.sendDlLinkNow{
		background-image: url(images/btn_sendDlLink_2.png);
		width: 58px;
		height: 58px;
	}

.sendUploadLink{
	background-image: url(images/btn_sendUploadLink_1.png);
	width: 58px;
	height: 58px;
}

	.sendUploadLink:hover{
		background-image: url(images/btn_sendUploadLink_2.png);
	}

	.sendUploadLinkNow{
		background-image: url(images/btn_sendUploadLink_2.png);
		width: 58px;
		height: 58px;
	}

.upload{
	background-image: url(images/btn_patientUpload_1.png);
	width: 58px;	
	height: 58px;
}

	.upload:hover{
		background-image: url(images/btn_patientUpload_2.png);
	}

	.uploadNow{		/* 正在upload這一頁用的 */ 
		background-image: url(images/btn_patientUpload_2.png);
		width: 58px;
		height: 58px;
	}

.dlFromPACS{
	background-image: url(images/btn_dlFromPACS_1.png);
	width: 58px;	
	height: 58px;
}

	.dlFromPACS:hover{
		background-image: url(images/btn_dlFromPACS_2.png);
	}

	.dlFromPACSNow{		/* 正在 downloadFromPACS這一頁用的 */ 
		background-image: url(images/btn_dlFromPACS_2.png);
		width: 58px;
		height: 58px;
	}

.monitor{
	background-image: url(images/btn_monitorFiles_1.png);
	width: 58px;
	height: 58px;
}

	.monitor:hover{
		background-image: url(images/btn_monitorFiles_2.png);
	}

	.monitorNow{
		background-image: url(images/btn_monitorFiles_2.png);
		width: 58px;
		height: 58px;
	}

.createOneAC{
	background-image: url(images/btn_createOneAC_1.png);
	width: 58px;
	height: 58px;
}

	.createOneAC:hover{
		background-image: url(images/btn_createOneAC_2.png);
	}

	.createOneACNow{
		background-image: url(images/btn_createOneAC_2.png);
		width: 58px;
		height: 58px;
	}

.createGroupAC{
	background-image: url(images/btn_createGroupAC_1.png);
	width: 58px;
	height: 58px;
}

	.createGroupAC:hover{
		background-image: url(images/btn_createGroupAC_2.png);
	}

	.createGroupACNow{
		background-image: url(images/btn_createGroupAC_2.png);
		width: 58px;
		height: 58px;
	}

.editGroupFunc{
	background-image: url(images/btn_editGroupFunc_1.png);
	width: 58px;
	height: 58px;
}

	.editGroupFunc:hover{
		background-image: url(images/btn_editGroupFunc_2.png);
	}

	.editGroupFuncNow{		/* 正在download這一頁用的 */ 
		background-image: url(images/btn_editGroupFunc_2.png);
		width: 58px;
		height: 58px;
	}

.editPerFunc{
	background-image: url(images/btn_editPerFunc_1.png);
	background-color: rgba(60,77,101,1.00);
	width: 58px;
	height: 58px;
}

	.editPerFunc:hover{
		background-image: url(images/btn_editPerFunc_2.png);
	}

	.editPerFuncNow{		/* 正在download這一頁用的 */ 
		background-image: url(images/btn_editPerFunc_2.png);
		width: 58px;
		height: 58px;
	}


.view{
	background-image: url(images/btn_viewFiles_1.png);
	width: 58px;	
	height: 58px;
}

	.view:hover{
		background-image: url(images/btn_viewFiles_2.png);
	}

	.viewNow{
		background-image: url(images/btn_viewFiles_2.png);
		width: 58px;
		height: 58px;
	}


.exitProg{
		background-image: url(images/btn_exit_1.png);
		width: 58px;
		height: 58px;
		opacity: 1;
	}

	.exitProg:hover{
		background-image: url(images/btn_exit_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.exitProgNow{
		background-image: url(images/btn_exit_2.png);
		width: 58px;
		height: 58px;
		cursor: default;
	}


/* 為 style2 舊css更新 end */


.flexVerSet {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

	.flexVerSet_T {
    	display: flex;
    	flex-wrap: wrap;
    	align-content:flex-start;
	}


.flexHorSet {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

	.flexHorSet_L {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content:flex-start;
	}

	.flexHorSet_R {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content:flex-end;
	}

	.flexHorSet_SB {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
	}