﻿@charset "utf-8";

/* login start */

.middleCenter{	/* 上下置中用 */
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: -1;
}

.centerAsText{		/* 要和toInlineBlock 聯用 父層 */
	text-align: center;
}

.toInlineBlock{		/* 轉成inlineBlock 水平置中又堆疊用  和 centerAsText聯用  子層  */
	display: inline-block;
}

/* 左右置中 START */

.horToCenter{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-items: center;
	justify-items: center;
	justify-content: center;
}

/* 左右置中 END */


.allContentContainer{ /* 限制範圍大小 */
	overflow: hidden; 
	width: 1024px; 
	/*height: 768px;*/ 
}

.loginBG{	/* 底圖 */
	background: url('images/loginBG.jpg') no-repeat center center fixed;
	min-width: 1024px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.loginWallpaper { /* 底圖 */
	background: url('images/loginWallpaper.jpg') no-repeat center center fixed;
	min-width: 1024px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login_productNamePosition{	/* login 產品名稱 位置 */
	margin: auto;
	padding: 40px 0 0 30px;
	float: left;
	width: 700px;
}

.login_logoPosition{	/* login logo 位置 */
	margin: auto;
	padding: 60px 40px 0 0;
	float: right;
}

.login_productNameEBM{
	font-size: 57px;
	color: rgba(0,46,129,1.00);
}

.login_productName{
	font-size: 57px;
	color:rgba(0,175,236,1.00);
}

.loginIdentityChooseBg{		/* 身分選擇抵圖 */
	background: url('images/loginBTNBg.png') no-repeat;
	width: 187px;
	height: 228px;
	margin-top: -33px;
	float: left;
}

	.loginIdentityChooseBg > img{
		padding: 40px 0 0 33px;
		
	}

	.loginIdentityChooseBg > div{
		text-align: center;
	}
	
	.loginIdentityChooseBg > div > span{
		font-size: 16px;
/*		font-family: "HelveticaNeue LT 55 Roman";*/
		color: rgba(0,175,236,1.00);
	}


.loginSignInBg{
	background: url(images/loginBg.png) no-repeat;
	width: 385px;
	height: 358px;
}

.loginSignInIconSet{
	margin: 25px 0 0 25px;
	font-size: 20px;
/*	font-family: "HelveticaNeue LT 55 Roman";*/
	color: rgba(0,175,236,1.00);
}

	.loginSignInIconSet > span{
		padding: 0 0 0 5px;
	}

.loginTextRememberMe{
	font-size: 15px;
/*	font-family: "HelveticaNeue LT 55 Roman";*/
	color:rgba(83,83,83,1.00);
}

.loginSignUpBg{
	background: url(images/loginSignUpBg.png) no-repeat;
	width: 385px;
	height: 313px;
}

.loginForgetPWBg{
	background: url(images/loginForgetPWBg.png) no-repeat;
	width: 385px;
	height: 269px;
}

.loginResetPWBg{
	background: url(images/loginResetPWBg.png) no-repeat;
	width: 385px;
	height: 314px;
}

.allTextSetBlue{
	color:rgba(0,175,236,1.00);
/*	font-family: "HelveticaNeue LT 55 Roman";*/
}

.allTextSetGray{
	color:rgba(130,130,130,1.00);
/*	font-family: "HelveticaNeue LT 55 Roman";*/
}

.allTextSetWhite{
	color: white;
/*	font-family: "HelveticaNeue LT 55 Roman";*/
}

	.allTextSmallWhite{
		color: white;
/*		font-family: "HelveticaNeue LT 55 Roman";*/
	}

.allTextSetBlack{
	color: black;
/*	font-family: "HelveticaNeue LT 55 Roman";*/
}

a:link{
	text-decoration: none;
	font-size: 18px;
/*	font-family: "HelveticaNeue LT 55 Roman";*/
}

.inputFieldSet{
	height: 43px;
	border-radius: 6px;
	border: rgba(0,175,236,1.00) solid 1px;
	padding: 0 0 0 10px;
	color: rgba(83,83,83,1.00);
	font-size: 15px;
}

	::placeholder {
    	color: rgba(0,175,236,1.00);
    	opacity: 0.5; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
   	color: rgba(0,175,236,1.00);
	}

	::-ms-input-placeholder { /* Microsoft Edge */
   	color: rgba(0,175,236,1.00);
	}

	.inputFieldIconSet{
		margin: -29px 0 9px 333px;
	}

.dragDownMenuSet{
	height: 43px;
	background: url(images/iconTriangle.png) no-repeat right;
	border-radius: 6px;
	border: rgba(0,175,236,1.00) solid 1px;
	padding: 0 0 0 10px;
	color: rgba(83,83,83,1.00);
	font-size: 15px;
}

	.dragDownMenuSet:required:invalid{
		color: rgba(0,175,236,0.50);
	}


.buttonSet{
	background-color:rgba(0,175,236,1.00);
	height: 43px;
	border-radius: 6px;
	border: rgba(0,175,236,1.00) solid 1px;
	/*padding: 0 0 0 10px;*/
	color: rgba(255,255,255,1.00);
	font-size: 22px;
/*	font-family: "HelveticaNeue LT 55 Roman";*/
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	cursor: pointer;
}

	.buttonSet:hover{
		background-color:rgba(3,135,209,1.00);
	}

.buttonSetCancel{
	background-color: rgba(148,148,148,1.00);
	height: 43px;
	border-radius: 3px;
	border: rgba(148,148,148,1.00) solid 1px;
	/*padding: 0 0 0 10px;*/
	color: rgba(255,255,255,1.00);
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	cursor: pointer;
}

	.buttonSetCancel:hover{
		background-color:rgba(87,87,87,1.00);
	}

.buttonSet_Clear{
	background-color: rgba(148,148,148,1.00);
	height: 43px;
	border-radius: 3px;
	border: rgba(148,148,148,1.00) solid 1px;
	/*padding: 0 0 0 10px;*/
	color: rgba(255,255,255,1.00);
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	cursor: pointer;
}

	.buttonSet_Clear:hover{
		background-color:rgba(112,112,112,1.00);
	}


/* 設計自己的checkBox開始 */
.checkBoxSet{	
	background-color: white;
	outline: 1px solid rgba(0,175,236,1.00);
	position: relative;
	width: 14px;
	height: 14px;
	margin: 20px 0 0 25px;
}

	.checkBoxSet > input[type="checkbox"]{
		visibility:hidden;
	}

	.checkBoxSet > label{
		cursor: pointer;
	}

	.checkBoxSet > label:before{
		content:'';
		width: 12px;
		height: 9px;
		border: 3px solid rgba(0,175,236,1.00);
		position: absolute;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
		top: 1px;
		left: 1px;
		opacity: 0;
	}

	.checkBoxSet > input[type="checkbox"]:checked + label:before{
		opacity: 1;
	}

/* 設計自己的checkBox end */


.textVerticalAlign{		/* 要自己給 line-height 值 */
	text-align: center;
	vertical-align: middle;
}

.pageMenuPosition{
	position: fixed;
}

.pageMenuBg{
	background: url(images/areaLine.png) no-repeat;
	width: 198px;
	height: 768px;
}

.pageLogoPosition{
	padding: 30px 0 0 16px;
}

	.pageLogoPosition > img{
		width: 130px;
	}

.pageProductName{
	font-size: 30px;
	color:rgba(0,175,236,1.00);
	text-align: center;
	width: 160px;
	padding-top: 10px;
}

.pageUserPhotoPosition{
	padding: 30px 0 0 42px;
}

.pageUserPhotoPosition > img{
	width: 80px;
}

.pageUserName{
	font-size: 16px;
	color:rgba(0,175,236,1.00);
	text-align: center;
	width: 160px;
}

.pageMenuSet{
	cursor: pointer;
	width: 163px;
}

	.upload{
		background-image: url(images/btn_patientUpload_1.png);
		height: 87px;
		opacity: 1;
	}

	.upload:hover{
		background-image: url(images/btn_patientUpload_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.uploadNow{		/* 正在upload這一頁用的 */ 
		background-image: url(images/btn_patientUpload_2.png);
		height: 87px;
		cursor: default;
	}

	.uploadDisable{		/* 選配功能 用的 */ 
		background-image: url(images/btn_patientUpload_3.png);
		height: 87px;
		cursor: default;
	}

	.view{
		background-image: url(images/btn_patientView_1.png);
		height: 87px;
		opacity: 1;
	}

	.view:hover{
		background-image: url(images/btn_patientView_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.viewNow{
		background-image: url(images/btn_patientView_2.png);
		height: 87px;
		cursor: default;
	}

	.download{
		background-image: url(images/btn_patientDownload_1.png);
		height: 87px;
		opacity: 1;
	}

	.download:hover{
		background-image: url(images/btn_patientDownload_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.downloadNow{		/* 正在download這一頁用的 */ 
		background-image: url(images/btn_patientDownload_2.png);
		height: 87px;
		cursor: default;
	}

	.dlFromPACS{
		background-image: url(images/btn_dlFromPACS_1.png);
		height: 87px;
		opacity: 1;
	}

	.dlFromPACS:hover{
		background-image: url(images/btn_dlFromPACS_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.dlFromPACSNow{		/* 正在 downloadFromPACS這一頁用的 */ 
		background-image: url(images/btn_dlFromPACS_2.png);
		height: 87px;
		cursor: default;
	}
	

	.sendDlLink{
		background-image: url(images/btn_sendDlLink_1.png);
		height: 87px;
		opacity: 1;
	}

	.sendDlLink:hover{
		background-image: url(images/btn_sendDlLink_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.sendDlLinkNow{
		background-image: url(images/btn_sendDlLink_2.png);
		height: 87px;
		cursor: default;
	}

	
	.sendUploadLink{
		background-image: url(images/btn_sendUploadLink_1.png);
		height: 87px;
		opacity: 1;
	}

	.sendUploadLink:hover{
		background-image: url(images/btn_sendUploadLink_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.sendUploadLinkNow{
		background-image: url(images/btn_sendUploadLink_2.png);
		height: 87px;
		cursor: default;
	}


	.profile{
		background-image: url(images/btn_patientProfile_1.png);
		height: 87px;
		opacity: 1;
	}

	.profile:hover{
		background-image: url(images/btn_patientProfile_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.profileNow{
		background-image: url(images/btn_patientProfile_2.png);
		height: 87px;
		cursor: default;
	}


	.switchDarkStyle{
		background-image: url("images/btn_switch2_1.png");
		height: 87px;
		opacity: 1;
	}

	.switchDarkStyle:hover{
		background-image: url(images/btn_switch2_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.switchWhiteStyle{
		background-image: url("images/btn_switch1_1.png");
		height: 87px;
		opacity: 1;
	}

	.switchWhiteStyle:hover{
		background-image: url(images/btn_switch1_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}


	.createAC{
		background-image: url(images/btn_createAC_1.png);
		background-color: rgba(0, 0,0, 0.00);
		width: 163px;
		height: 87px;
		border: none;
		cursor: pointer;
		opacity: 1;
	}

	.createAC:hover{
		background-image: url(images/btn_createAC_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.createAC:hover .createACExtand {
		display: block;
		background-color: rgba(0, 0,0, 0.00);
		position: absolute;
		z-index: 100;
	}


	.createACNow{
		background-image: url(images/btn_createAC_2.png);
		height: 87px;
		cursor: default;
	}

	.createACNow:hover .createACExtand {
		display: block;
		background-color: rgba(0, 0,0, 0.00);
		position: absolute;
		z-index: 100;
	}

	.createACExtand{
		display: none;
		position: absolute;
		margin: -55px 0 0 150px;
		z-index: 100;
	}
	
	.createACExtand input[type="button"]{
		background-repeat: no-repeat;
		background-color: rgba(0,0,0, 0.00);
		width: 296px;
		height: 97px;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.createOneAC{
		background-image: url(images/btn_createOneAC_1.png);
		height: 87px;
		opacity: 1;
	}

	.createOneAC:hover{
		background-image: url(images/btn_createOneAC_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.createOneACNow{
		background-image: url(images/btn_createOneAC_2.png);
		height: 87px;
		cursor: default;
	}

	.createGroupAC{
		background-image: url(images/btn_createGroupAC_1.png);
		height: 87px;
		opacity: 1;
	}

	.createGroupAC:hover{
		background-image: url(images/btn_createGroupAC_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.createGroupACNow{
		background-image: url(images/btn_createGroupAC_2.png);
		height: 87px;
		cursor: default;
	}

	.editGroupFunc{
		background-image: url(images/btn_editGroupFunc_1.png);
		height: 87px;
		opacity: 1;
	}

	.editGroupFunc:hover{
		background-image: url(images/btn_editGroupFunc_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.editGroupFuncNow{		/* 正在download這一頁用的 */ 
		background-image: url(images/btn_editGroupFunc_2.png);
		height: 87px;
		cursor: default;
	}

	.editPerFunc{
		background-image: url(images/btn_editPerFunc_1.png);
		background-repeat: no-repeat;
		height: 87px;
		opacity: 1;
	}

	.editPerFunc:hover{
		background-image: url(images/btn_editPerFunc_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.editPerFuncNow{		/* 正在download這一頁用的 */ 
		background-image: url(images/btn_editPerFunc_2.png);
		height: 87px;
		cursor: default;
	}

	.monitor{
		background-image: url(images/btn_monitorFiles_1.png);
		height: 87px;
		opacity: 1;
	}

	.monitor:hover{
		background-image: url(images/btn_monitorFiles_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.monitorNow{
		background-image: url(images/btn_monitorFiles_2.png);
		height: 87px;
		cursor: default;
	}

	.managerView{
		background-image: url(images/btn_managerView_1.png);
		height: 87px;
		opacity: 1;
	}

	.managerView:hover{
		background-image: url(images/btn_managerView_2.png);
	
		-webkit-transition: all 500ms;
    	-moz-transition: all 500ms;
    	-o-transition: all 500ms;
    	-ms-transition: all 500ms; 
    	transition: all 500ms;

		opacity: 1;
	}

	.managerViewNow{
		background-image: url(images/btn_managerView_2.png);
		height: 87px;
		cursor: default;
	}

.pageContentPosition{
	width: 790px;
	margin-top: 50px;
	margin-left: 200px;
}

.dragAndDropUploadBg{
	width: 788px;
	border: 1px solid rgba(0,175,236,1.00);
	border-radius: 6px;
}

	.dragAndDropUploadBg > img{
		margin-top: 30px;
	}

.pageProfilePhotoPosition{
	padding-left: 7px;
	padding-top: 100px;
}

.pageProfileInput{
	width: 610px;
	padding-top: 50px;
	float: left;
}
	
	.pageProfileInput span{
		width: 305px;
		float: left;
	}

	.pageProfileInput input{
		width: 280px;
		color: rgba(130,130,130,1.00);
	}

	.pageProfileInput div{
		width: 305px;
		margin-top: 20px;
		float: left;
	}


.pageUploadInput{
	width: 100%;
	padding-top: 50px;
}

	.pageUploadInput span{
		width: 100%;
	}

	.pageUploadInput input{
		float: left;
	}

	.pageUploadInput div{
		width: 30%;
		float: left;
		padding: 0 10px 15px 10px;
	}

.hideScrollBar{
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

	.hideScrollBar::-webkit-scrollbar{
		display: none;
	}

.enableScrollY{
	overflow: scroll;
	overflow-x: hidden;
}

.enableScrollX{
	overflow: scroll;
	overflow-y: hidden;
	scrollbar-
}

.setChoosePage{
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}

	.setChoosePage img{
		margin: -5px 15px;
	}

	.setChoosePage span{
		margin: 0 15px;
	}

.setPopupArea{
/*
	position: absolute;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
*/
	background-color: white;
	box-shadow: 0 0 5px 2px #888888;
	z-index: 2;	
}

.setMenuScrollBar{
	width: 163px;
	height: 435px; 
	overflow: auto; 
	overflow-x: hidden;
}

.setFormTitle{
	background-color: rgba(39,177,255,1.00);
	line-height: 40px;
}


/* horizontalAlign START */

.horAlignCenter{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.horAlignLeft{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.uploadAreaHorAlignSet{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.uploadHorAlignLeft{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

/* horizontalAlign END */


/* scroll bar style START ---- only for chrome & safari ---- */
/* width */
	::-webkit-scrollbar {
    	width: 5px;
		height: 5px;
	}

/* Track */
	::-webkit-scrollbar-track {
    	background: #f1f1f1; 
	}
 
/* Handle */
	::-webkit-scrollbar-thumb {
    	background: #75CCFD; 
	}

/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
    	background: #27B1FF; 
	}

/* scroll bar style END */


/* dropDown Menu CSS START */
select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

select::-ms-expand {
    display: none;
}

/* dropDown Menu CSS END */



/* patient page CSS */
.patientUploadConfirm{
	padding: 20px 0 0 0;
}

.patientProgressBarBg{
	background-color: white;
	border: 1px solid rgba(0,175,236,1.00);
	height: 20px;
	border-radius: 6px
}

	.patientProgressBar{
		background-color:rgba(125,221,255,1.00);
		height: 18px;
		border-radius: 6px
	}





