﻿
@{
    //using VNAServiceReference1;
    ViewBag.Title = "DownloadFiles";

    // VNAServiceReference1.QueryDownloadReturn[] queryDownloadReturns = ViewBag.queryReturn as VNAServiceReference1.QueryDownloadReturn[];
    string stmp = string.Empty;
    string curUid = ViewBag.curUid as string;
}
<style>
    .bgRed {
        background-color: #DCDCDC;
    }

    .buttonSetCur {
        /*background-color: rgba(0,175,236,1.00);*/
        height: 43px;
        width: 80px;
        border-radius: 6px;
        /* border: rgba(0,175,236,1.00) solid 1px;*/
        color: #ffffff;
        background: rgb(192, 192, 192);
        font-size: 22px;
        font-family: "HelveticaNeue LT 55 Roman";
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        cursor: pointer;
    }
</style>
<script>
    //
    var bRsna = false;
    var sortby = 1;
    var lastsort = 1;
    var order = "d";//"desc";

    $(function () {

        $('#download').removeClass("buttonSet");
        $('#download').addClass("buttonSetCur");

        /*
        $("#downlist tr").first().nextAll().click(function (evt) {

            //Add if there is no style, otherwise remove
            $(this).toggleClass("bgRed"); //children().
            if ($(this).hasClass("bgRed")) {//children().If there is a certain style, it means that this line has been selected
                $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
            } else {                                  //If not selected
                $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);
            }

            //There is a label in the tr. When the simulated checkbox is clicked, the label inside will be clicked, which will cause the click to trigger twice .. or use return false ..
            // evt.stopPropagation();
            // evt.preventDefault();
            // evt.stopImmediatePropagation();
            return false;
        });
        */
        $('#all').click(all);

        $('#requestotp').click(requestotp);

        $('#download').click(download);

    })

    function clickSelect(obj) {//Or event, obj as parameters, or onclick = return fucn ();
        //Add if there is no style, otherwise remove
            $(obj).toggleClass("bgRed"); //children().
        if ($(obj).hasClass("bgRed")) {//children(). If there is a certain style, it means that this line has been selected
                $(obj).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
        } else {                                  //If not selected
                $(obj).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);
            }

            //There is a label in the tr. When the simulated checkbox is clicked, the label inside will be clicked, which will cause the click to trigger twice .. or use return false ..
             //evt.stopPropagation();
             //evt.preventDefault();
             //evt.stopImmediatePropagation();
            return false;
    }
    function all() {

        var selected = $("#all").prop("checked");// $('#all').attr('checked')


        $("#downlist [name='_datacheckbox']").prop("checked", selected);//Select all 'true'

        $("#downlist [name='_datacheckbox']").each(function () {

            if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                $(this).parent().parent().parent().toggleClass("bgRed");//Add the selected style, 3 parents ... to the tr layer
            else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                $(this).parent().parent().parent().toggleClass("bgRed");

        });
    }

    function requestotp() {

        var url = '@Url.Action("RequestOTP", "Home")';
        var data = {};

        $.post(url, data, function (result) {
            if (result.state == 'success' || result.state == "1") {

                alert(result.message);
            }
            else if (result)
                alert(result.message);
        });

    }
    function verifyOTP(otpcode) {
        if (bRsna) {
            if (otpcode == "1234")
                return true;
            else {
                alert("OTP Code is not correct.");
                return false;
            }
        }
        var url = '@Url.Action("VerifyOTP", "Home")';
        var data = { OTPCode: otpcode };

        var ret = false;
        //Return with synchronous post
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType:'json',
            async: false, //Synchronize
            success: function (result) {

                if (result.state == 'success' || result.state == "1") {
                    ret = true;
                }
                else if (result) {
                    alert(result.message);
                    ret = false;
                }
            }
        });
        return ret;
    }
    function download() {

        var otpcode = $('#otpCode').val();

        var otpverify = verifyOTP(otpcode);
        if (!otpverify)
            return;

        var downParams = [];
        var data = {};//{ downParams: [] };
        var ii = 0;
        var pars = '';
        var uids = '';
        var studyuids = [];
        $("input[name='_datacheckbox']:checked").each(function () { // Traverse the selected checkbox
            // n = $(this).parents("tr").index();  // Get the order of the checkbox row
            // $("table#test_table").find("tr:eq(" + n + ")").remove();
            var ttr = $(this).parent().parent().parent();
            var tid = ttr.attr("id");
            var tname = ttr.attr("name");
            //alert(tid + tname);
            var obj = { 'uid': tid, 'filename': tname };

            downParams.push(obj);
            // data.downParams.push(obj);
            data["downParams[" + ii + "].uid"] = tid;
            data["downParams[" + ii + "].filename"] = tname;
            if (ii == 0) {
                pars += "?downParams[" + ii + "].uid=" + tid;
                uids += "?studyuids=" + tid; //uids
            }
            else {
                pars += "&downParams[" + ii + "].uid=" + tid;
                uids += "&studyuids=" + tid; //uids
            }
            pars += "&downParams[" + ii + "].filename=" + tname;

            studyuids.push(tid);

            ii++;
        });
        //
        if (studyuids.length == 0)
            return;
        //DownloadActualFiles
        //for (var i = 0; i < studyuids.length; ++i) {
            //var url = '@@Url.Action("DownloadActualStudy", "Home")';

            //window.open(url + '?studyuid=' + studyuids[i], 'download' + i);
            var url = '@Url.Action("DownloadActualStudyEs", "Home")';
            //alert(url + uids);
            window.open(url + uids);
        //}

        /*
         var url = '@@Url.Action("DownloadActualFiles", "Home")';
            //alert(url + uids);
            window.open(url + uids);
        var lurl = '@@Url.Action("DownloadActualFile", "Home")';

        for (var ii = 0; ii < downParams.length; ++ii)
        {
            lurl = lurl + "?uid=" + downParams[ii].uid + "&filename=" + downParams[ii].filename;

            window.open(lurl);
        }*/
       // $.get(url, data, function (result) {
   //
      //  });

    }
    function changestate() {
        var value = $('#otpCode').val();
        if (!value || value == '')
            return;

        if ($('#download').hasClass("buttonSetCur"))
            $('#download').removeClass("buttonSetCur");
        if (!$('#download').hasClass("buttonSet"))
            $('#download').addClass("buttonSet");
    }
    function sortQuery(sid) {
        var lc = $("#downlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "a")//asc
                order = "d";//desc
            else
                order = "a";
        }
        else
            order = "a";
        lastsort = sid;

        window.location.href = '@Url.Action("DownloadFiles","Home")' +
            '?DownloadLinkUid=@curUid&s=' + sortby + '&o=' + order;

    }
</script>
@*
<div class="pageContentPosition">

    <div style="margin-top: 20px;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>Download File</span></div>
        <table width="100%" border="0" style="font-size: 13px;" id="downlist" name="" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite" style="height: 40px;">
                    <td bgcolor="#00AFEC">
                        <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td bgcolor="#00AFEC">Upload Date</td>
                    <td bgcolor="#00AFEC">Patient ID</td>
                    <td bgcolor="#00AFEC">File Name</td>
                    <td bgcolor="#00AFEC">Data Type</td>
                    <td bgcolor="#00AFEC">Dr. Comment</td>
                    <td bgcolor="#00AFEC">Refer. Physician</td>
                </tr>
                @for (int ii = 0; ii < Model.Length; ++ii)
                {



                    <tr class="allTextSetGray" style="height: 40px;" id="@Model[ii].study_uid" name="@Model[ii].org_filename">
                        <td>
                            <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                                <input type="checkbox" @Html.Raw("id='select" + ii + "'") name="_datacheckbox">
                                <label for=@Html.Raw("'select" + ii + "'")></label>
                            </div>
                        </td>
                        <td>@Model[ii].upload_date</td>
                        <td>@Model[ii].medical_num</td>
                        <td>@Model[ii].org_filename</td>
                        <td></td>
                        <td></td>
                        <td>@Model[ii].ref_physician</td>
                    </tr>
                }
                <!--
                <tr class="allTextSetGray" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                            <input type="checkbox" id="select1">
                            <label for="select1"></label>
                        </div>
                    </td>
                    <td>2018-03-15</td>
                    <td>22222222</td>
                    <td>PDF</td>
                    <td>Meical Certificate</td>
                    <td>N</td>
                    <td>Orlando Bloom</td>
                </tr>
                <tr class="allTextSetGray" style="height: 40px;">
                    <td bgcolor="#E3E3E3">
                        <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                            <input type="checkbox" id="select2">
                            <label for="select2"></label>
                        </div>
                    </td>
                    <td bgcolor="#E3E3E3">2018-03-18</td>
                    <td bgcolor="#E3E3E3">22222222</td>
                    <td bgcolor="#E3E3E3">JPG</td>
                    <td bgcolor="#E3E3E3">MRI Report</td>
                    <td bgcolor="#E3E3E3">Y</td>
                    <td bgcolor="#E3E3E3">Angelina Jolie</td>
                </tr>-->
            </tbody>
        </table>

    </div>

    <div>
        <div style="width: 70%; float: left; margin-top: 40px;">
            <div class="buttonSet" style="float: left; width:185px" id="requestotp" name="">Request OTP</div>
            <input type="text" id="otpCode" oninput="changestate()" name="" placeholder="Enter Code" class="inputFieldSet" style="width:50%; margin-left: 15px;">
        </div>
        <div style="width: 20%; float: right; margin: 40px 30px 0 0;">
            <div class="buttonSet" style="float: left; width:185px" id="download" name="">Download Files</div>
        </div>
        <div class="allTextSetGray" style="float: left; margin: 20px 0 30px 0;">
            <span>
                If you have not received the OTP on email in 3 minutes.
                Please click Request OTP again.
            </span>
        </div>
    </div>


</div>
*@

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">

            <div class="flexVerSet col-md-6 col-lg-6" style="height: 70px;">
                <div class="buttonSet" id="requestotp" style="width:125px">Request OTP</div>
                <input type="text" id="otpCode" oninput="changestate()" name="" placeholder="Enter Code" class="inputFieldSet" style="width:100px; margin: 1px 10px 0 20px;">
                <span style="padding-top: 8px;">If you haven't received the OTP on email in 3 min. Please click Button again.</span>
            </div>

        </div>
    </form>
</div>

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>

        <table width="100%" border="0" id="downlist" name="" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td onclick="javascript:sortQuery('1')">Upload Date</td>
                    <td onclick="javascript:sortQuery('2')">Patient ID</td>
                    <td onclick="javascript:sortQuery('3')">File Format</td>
                    <td>Data Type</td>
                    <td>Dr. Comment</td>
                    <td onclick="javascript:sortQuery('4')">Refer. Physician</td>
                </tr>
                <!--
          <tr class="allTextSetGray" style="height: 40px;">
              <td>
                  <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                      <input type="checkbox" id="select1">
                      <label for="select1"></label>
                  </div>
              </td>
              <td>2018-03-15</td>
              <td>22222222</td>
              <td>PDF</td>
              <td>Meical Certificate</td>
              <td>N</td>
              <td>Orlando Bloom</td>
          </tr> -->
                @for (int ii = 0; ii < Model.Length; ++ii)
                {



                    <tr class="allTextSetGray" style="height: 40px;" onclick="return clickSelect(this);" id="@Model[ii].study_uid" name="@Model[ii].org_filename">
                        <td>
                            <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                                <input type="checkbox" @Html.Raw("id='select" + ii + "'") name="_datacheckbox">
                                <label for=@Html.Raw("'select" + ii + "'")></label>
                            </div>
                        </td>
                        <td>@Model[ii].upload_date</td>
                        <td>@Model[ii].medical_num</td>
                        <td>@Model[ii].org_filename</td>
                        <td></td>
                        <td></td>
                        <td>@Model[ii].ref_physician</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="setChoosePage" style="display:none">
            <img src='@Url.Content("~/Content/images/iconFirstPage.png")'>
            <img src='@Url.Content("~/Content/images/iconPreviousPage.png")'>
            <span class="allTextSetGray" style="text-align: center;">1　2　3　4　5</span>
            <img src='@Url.Content("~/Content/images/iconNextPage.png")'>
            <img src='@Url.Content("~/Content/images/iconLastPage.png")'>
        </div>

        <div style="float: right;">
            <div class="buttonSet" id="download" name="" style="margin: 15px 0 0px 20px; width:125px">Download Files</div>
        </div>


    </div>


</div>




