﻿
@{
    ViewBag.Title = "DownloadFromPacs";

    Dictionary<string, string> dicAeNames = ViewBag.servers as Dictionary<string, string>;
    string stemp = string.Empty;
    int ii = 0;
    string ssel = string.Empty;
}

<style>
    .bgRed {
        background-color: #DCDCDC;
    }

    .buttonSetCur {
        height: 43px;
        width: 80px;
        border-radius: 6px;
        border: rgba(0,175,236,1.00) solid 1px;
        color: #ffffff;
        background: #ff0000;
    }
</style>

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record Number</span>
                <input type="text" id="medicno" name="medicno" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Name</span>
                <input type="text" id="name" name="name" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Modality Type</span>
                <select required name="modalities" class="dragDownMenuSet " id="modalities" style="width:100%;">
                    <option value="" selected>Modality Type</option>
                    <option value="CT">CT</option>
                    <option value="DX">DX</option>
                    <option value="MR">MR</option>
                    <option value="US">US</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date From </span>
                <input type="text" id="studydate" name="studydate" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date To</span>
                <input type="text" id="studydate2" name="studydate2" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate2').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Server</span>
                <select required name="server" class="dragDownMenuSet " id="server" style="width:100%;">
                    <option value="" selected>Select PACS Server</option>
                    @if (dicAeNames != null)
                    {
                        foreach (string lserver in dicAeNames.Keys)
                        {
                            stemp = dicAeNames[lserver];

                            if (string.IsNullOrEmpty(stemp))
                            {
                                stemp = lserver;
                            }
                            if (ii == 0)
                            {
                                ssel = "selected";
                            }
                            else
                            {
                                ssel = string.Empty;
                            }
                            ii++;
                            <option value="@lserver">@stemp</option>
                        }
                    }

                </select>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <button type="button" id="search" name="search" class="btn btn-success" style="width: 100%;">Query</button>
                    @*<div class="buttonSet" id="search" name="search" style="width: 100%;">Query</div>*@
                </div>
            </div>

        </div>
    </form>
</div>

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" border="0" id="studylist" name="studylist" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="header" style="height: 40px;">
                    <td>
                        <!-- bgcolor="#00AFEC"-->
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td  onclick="javascript:sortQuery('1')">Medical Record No.</td>
                    <td  onclick="javascript:sortQuery('2')">Patient Name</td>
                    <td  onclick="javascript:sortQuery('3')">Study Date</td>
                    <td  onclick="javascript:sortQuery('4')">Modality Type</td>
                    <td>Server</td>
                </tr>

            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 80%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

        <div style="float: right;">
            <a href="#sendChk" onclick="showSend()"> <div class="buttonSet" id="transtovna" name="transtovna" style="margin: 15px 0 0px 20px; width:125px">Transfer to VNA</div></a>
        </div>
    </div>
  
    <div id="sendChk" class="setPopupArea flexVerSet overlay" style="display:none;">

        <div class="flexHorSet popup" style="width: 470px;height: 200px;">
            <span class="allTextSetGray" id="linktext" name="" style="font-size: 18px; float: left;">Would you like to send 2 download link</span><br><br>
            <span class="allTextSetBlue" id="sendto" name="" style="font-size: 28px; float: left; display: none;">John Hopkins?</span>

            <div style="margin-top: 15px; width: 100%; float: left; display: none;">
                <span class="allTextSetBlue" style="font-size: 20px; margin-top: 10px; margin-right: 28px; float: left;">SMS: </span>
                <div>
                    <input type="text" id="" name="" placeholder="" class="inputFieldSet" style="width:78%; float: left;">
                </div>
            </div>

            <div style="margin-top: 10px; margin-right: 13px; float: right; width: 33%;">
                <div onclick="submittransvna()" class="buttonSet" style="margin: 0 auto; width:125px;">Yes</div>
            </div>
            <div style="margin-top: 10px; width: 50%;">

                <div class="buttonSet" onclick="cancelSend()" style=" border: none; margin: 0 auto; width:125px;">No</div>
            </div>
        </div>
    </div>
</div>
<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>

@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
}

<script>
    var recCountPage = 5;
    var sortby = 1;//MRN
    var lastsort = 1;
    var order = "desc";
    var selectIDs = [];

    $(function () {
        $("#studydate").datepicker({ dateFormat: 'yymmdd' });
        $("#studydate2").datepicker({ dateFormat: 'yymmdd' });

        $('#transtovna').css("visibility", "hidden");

        $('#search').click(search);

        $('#transtovna').click(transtovna);

        $("#all").click(function () {

            var selected = $("#all").prop("checked");// $('#all').attr('checked')

            $('#transtovna').css("visibility","hidden");


            $("#studylist [name='_datacheckbox']").prop("checked", selected); // select all 'true'

            $("#studylist [name='_datacheckbox']").each(function () {

                if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");//Add the selected style, 3 parents ...to the tr layer
                else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");

                var ttr = $(this).parent().parent().parent();
                if (selected) {
                    if (inArray($(ttr).attr("id"), selectIDs) < 0) {
                        var vobj = { //Here $ (this) does not refer to tr
                            sid: $(ttr).attr("id"), user_idid: $(ttr).attr("name")
                        };
                        selectIDs.push(vobj);
                    }
                }
                else {
                    var indx = inArray($(ttr).attr("id"), selectIDs);
                    if (indx >= 0)
                        selectIDs.splice(indx, 1);
                }
                if (selectIDs.length == 0) {

                    $('#transtovna').css("visibility","hidden");
                }
                else {

                    $('#transtovna').css("visibility", "visible");
                }
            });

        });
        //

            $("#dialog-form").dialog({
                autoOpen: false,
                height: 300,
                width: 500,
                modal: true,
                dialogClass: "no-close", //removes X from dialog

                buttons: [
                    {
                        text: "Yes",
                        "class": 'buttonSetCur', /*calss and style ，Change color*/
                        style: "background:rgba(0,175,236,1.00);color:#ffffff",
                        click: function () {

                            var surl = '@Url.Action("TransDicomMoveToVNA", "Home")';

                         //disable NO button..
                            $("#dialog-form").next(".ui-dialog-buttonpane button:contains('No')").attr("disabled", true);

                            var userids = [];
                            var fcounts = [];
                            for (var i = 0; i < selectIDs.length; ++i) {

                                //var obj = { user_id_id: selectIDs[i].user_idid, study_uid: selectIDs[i].sid };

                                userids.push(selectIDs[i].sid);
                                fcounts.push(selectIDs[i].user_idid);
                            }
                            var serveae = $('#server').val();

                            var pdata = { studyuids: userids, studyFileCounts: fcounts, serverAE: serveae };

                           // $('#loading-indicator').show(); //
                             $('#waiting').css("visibility", "visible");
                            $.post(surl, pdata, function (result) {


                                if (result.state == "success" || result.state=="1") {

                                    swal(result.message);
                                }
                                else
                                    swal(result.message);

                                //$('#loading-indicator').hide(); //
                                $('#waiting').css("visibility", "hidden");
                                $("#dialog-form").dialog("close");

                            });
                        }
                    },
                    {
                        text: "No",
                        "class": 'buttonSetCur',

                        click: function () {
                            // Save code here
                            $("#dialog-form").dialog("close");
                            //$('#loading-indicator').hide(); //
                             $('#waiting').css("visibility", "hidden");
                        }
                    }
                ],
                closeOnEscape: false, //hide x icon..
                open: function () {
                    //$('#expiretimes').focus();
                    $(".ui-dialog-titlebar-close").hide();  //hide x icon

                    //$('#loading-indicator').hide(); //
                    $('#waiting').css("visibility", "hidden");
                },
                close: function () {

                }
        });
    });
    function search() {

        //
        var medicno = $('#medicno').val();

        var name = $('#name').val();
        var studydate = $('#studydate').val();
        var modalities = $('#modalities').val();
        var studydate2 = $('#studydate2').val();

         $('#waiting').css("visibility", "visible");
        //
        selectIDs = [];

        QueryDicom(medicno, name, studydate, studydate2, modalities,1);
    }
        function clearParam() {
        $('#medicno').val('');
        //$('#nativeid').val('');
        $('#name').val('');
        $('#modalities').val('');
        $('#studydate').val('');
        $('#studydate2').val('');

        $('#server').val('');

    }
    function clear() {
        //If you query again in a short period of time, because the query is asynchronous, the previous result has not been returned, and it cannot be cleared here, resulting in the results of two queries
        //The output is on the same page ... adjust
        $('#studylist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });

        $("#all").prop("checked", false);
    }
    function inArray(suid, arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
    function freshSelect() {
        //
        $("#studylist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }

        });

        if (selectIDs.length == 0)
            $("#all").prop("checked", false);//

    }
    function sortQuery(sid) {

        var lc = $("#studylist").find("tr").length;
        if (lc <= 1)
            return;

        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        $('#search').click();



    }
    function QueryDicom(medicno, name, studydate1, studydate2, modalities, pageIndex) {

        clear();

        var url = '@Url.Action("QueryDicomServer", "Home")';
        //
        var server = $('#server').val();
        var data = {
            server: server, medicno: medicno, name: name,
            studydateStart: studydate1, studydateEnd: studydate2, modalities: modalities,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
        };

        $.post(url, data, function (result) {

            clear();
            $('#waiting').css("visibility", "hidden");

            if (result.state == "1" || result.state == "success") {

                var retdats = result.data.datas;

                //
                if (!retdats)
                    return;
                if (retdats.length == 0) {
                    swal('No results found');
                    clearParam();
                }
                var pagecount = result.data.pageCount;
                //swal(pagecount);
                var server1 = '';
                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var medical_num = item.ptn_id;
                    var vstudyuid = item.study_uid;
                    var pname = item.ptn_name;

                    var study_date1 = item.study_date;//already ..'yyyy/mm/dd' .replace(/\//g, '-');
                    var modalitiesin = item.modalities;
                    var instanceofstudy = item.instance_of_study;

                    if (!modalitiesin) modalitiesin=''

                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;" > '
                        + ' <input type="checkbox" id="select' + vstudyuid + '" name="_datacheckbox"> '
                        + '    <label for="select' + vstudyuid + '"></label>  </div>  </td> ';

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + vstudyuid + '" name="' + instanceofstudy + '"> '
                        + check
                        + '<td>' + medical_num + '</td> '
                        + '    <td>' + pname + '</td> '
                       // + '    <td>' + fromname + '</td> '
                        + '    <td>' + study_date1 + '</td> '

                        + '    <td>' + modalitiesin + '</td> '

                        + '    <td>' + server1 + '</td> '
                        +   ' </tr>';

                    $('#studylist tbody:last').append(row);

                   }
                         //
                //Click events are added to all rows except the table header (first row).
                $("#studylist tr").first().nextAll().click(function (evt) {

                    //Add if there is no style, otherwise remove
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().If there is a certain style, it means that this line has been selected
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                        //
                        if (inArray($(this).attr("id"), selectIDs) < 0) {
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                            selectIDs.push(vobj);
                        }

                    } else {                                  //If not selected
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        var indx = inArray($(this).attr("id"), selectIDs) ;
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }

                if (selectIDs.length == 0) {

                        $('#transtovna').css("visibility","hidden");
                    }
                else {

                    $('#transtovna').css("visibility", "visible");
                    }

                    //There is a label in the tr.When the simulated checkbox is clicked, the label inside will be clicked, which will cause the click to trigger twice..or use return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                        //
                        if (pagecount > 1) {
                            var pagelink = '';
                            var pagestart = 0;
                            if (pageIndex % 10 == 0)
                                pagestart = parseInt(pageIndex / 10);
                            else
                                pagestart = parseInt(pageIndex / 10) + 1;
                            var ii = (pagestart - 1) * 10, jj = 0;
                            for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                                if (ii + 1 == pageIndex)
                                    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="QueryDicom(\'' + medicno + '\',\'' + name + '\',\'' + studydate1 + '\',\'' + studydate2 + '\',\'' + modalities + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                else
                                    pagelink += '<a href="javascript:void(0)"onclick="QueryDicom(\'' + medicno + '\',\'' + name + '\',\'' + studydate1 + '\',\'' + studydate2 + '\',\'' + modalities + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                //if (ii > 5) {
                                //    pagelink += "...";
                                //    break;
                                //}
                            }
                            //if (ii != pagecount && pageIndex > ii+1) {
                            //    //When more than 7 pages are displayed, the current page is displayed
                            //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="QueryDicom(\'' + medicno + '\',\'' + name + '\',\'' + studydate1 + '\',\'' + studydate2 + '\',\'' + modalities + '\',' + (pageIndex + 0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                            //}
                            $('#pageLink').html(pagelink);
                            $('#firstPage').unbind('click');
                            $('#firstPage').click(function () {
                                if (pageIndex != 1)
                                    QueryDicom(medicno, name, studydate1, studydate2, modalities, 1);
                            });
                            $('#prevPage').unbind('click');
                            $('#prevPage').click(function () {
                                if (pageIndex > 1) {
                                    var nidx = 1;
                                    if (pageIndex > 10)
                                        nidx = pageIndex - 10;
                                    QueryDicom(medicno, name, studydate1, studydate2, modalities, nidx); //pageIndex - 1
                                }
                            });
                            $('#nextPage').unbind('click');
                            $('#nextPage').click(function () {
                                if (pageIndex < pagecount) {
                                    var nidx = pageIndex + 10;
                                    if (nidx > pagecount)
                                        nidx = pagecount - 10;
                                    if (nidx <= 0)
                                        nidx = 1;
                                    QueryDicom(medicno, name, studydate1, studydate2, modalities, nidx);//pageIndex + 1);
                                }
                            });
                            $('#lastPage').unbind('click');
                            $('#lastPage').click(function () {
                                if (pageIndex != pagecount)
                                    QueryDicom(medicno, name, studydate1, studydate2, modalities ,pagecount);
                            });
                            $('#scrollNav').css("display", "block");
                        }
                        else
                            $('#scrollNav').css("display", "none");

                    //select....
                freshSelect();

            }
            else
                swal(result.message);

        });



    }
    function transtovna() {

        //

        var ic = 0;
        if (selectIDs.length == 0)
            return;
        var luserids = [];
        for (var i = 0; i < selectIDs.length; ++i) {
            var user_idid = selectIDs[i].sid;//user_idid;
            if ($.inArray(user_idid, luserids) < 0) {
                //
                luserids.push(user_idid);
            }
        }
        ic = luserids.length;

        $("#dialog-form").css("display", "block");
        var vlink = "Would you like to transfer " + ic + " study?"
        $('#linktext').text(vlink);

       // $("#dialog-form").dialog("open");


    }
    function submittransvna() {

           var surl = '@Url.Action("TransDicomMoveToVNA", "Home")';

                         //disable NO button..
                           // $("#dialog-form").next(".ui-dialog-buttonpane button:contains('No')").attr("disabled", true);
                           // $('#')
                            var userids = [];
                            var fcounts = [];
                            for (var i = 0; i < selectIDs.length; ++i) {

                                //var obj = { user_id_id: selectIDs[i].user_idid, study_uid: selectIDs[i].sid };

                                userids.push(selectIDs[i].sid);
                                fcounts.push(selectIDs[i].user_idid);
                            }
                            var serveae = $('#server').val();

                            var pdata = { studyuids: userids, studyFileCounts: fcounts, serverAE: serveae };

                           // $('#loading-indicator').show(); //
                             $('#waiting').css("visibility", "visible");
                            $.post(surl, pdata, function (result) {


                                if (result.state == "success" || result.state=="1") {

                                    swal(result.message);
                                }
                                else
                                    swal(result.message);


                                $('#waiting').css("visibility", "hidden");
                                // $("#dialog-form").dialog("close");
                                cancelSend();

                            });
    }
        function showSend() {

        if (selectIDs.length == 0)
            return;

            $('#sendChk').css("display", "flex");//yys block conflicts with flex layout
    }
        function cancelSend() {
         $('#sendChk').css("display", "none");//yys
    }
</script>