﻿@{
    ViewBag.Title = "VNA";
    string stextstyle = "allTextSetBlack";

    if (Session["style"] as string == "1")
    {
        stextstyle = "allTextSetWhite";
    }
}
<div class="middleCenter">
    <!-- pageContentPosition -->
    <div class="textVerticalAlign" style="margin-top: 220px">
        <div style="line-height: 30px">
            <span class="@stextstyle" style="font-size: 26px;">Welcome to EBM</span>
            <span class="allTextSetBlue" style="font-size: 26px;">eDC® VNA 1.0</span><br>
        </div>
        <div style="line-height: 50px">
            <span class="@stextstyle" style="font-size: 18px;">© Copyright 2016 EBM eDC® VNA 1.0, an EBM Company.</span><br>
        </div>
        <div style="line-height: 30px">
            <span class="allTextSetGray">
                The content of this document is confidential<br>
                information of EBM eDC® VNA 1.0 <br>
                and its use and disclosure is subject to the terms of the agreement pursuant<br>
                to which you obtained the software that accompanies the documentation.<br>
                EBM eDC® VNA 1.0 is a registered trademark of EBM Technologies
            </span>
        </div>
    </div>
</div>

<link href="~/Content/libs/css/all.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

    });
</script>