﻿
@{
    ViewBag.Title = "MonitorFiles";

    string userid = ViewBag.user_id as string;

}
<style>
    .bgRed {
        background-color: #DCDCDC;
    }
</style>

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-4">
                <span>Source Type</span>
                <select required name="source" class="dragDownMenuSet " onchange="selectSource(this)" id="source" style="width:100%;">
                    <option value="">Select Source Type</option>
                    <option value="1">Inward files unchecked</option>
                    <option value="2">Inward files checked</option>
                    <option value="3">Outward files</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Native ID</span>
                <input type="text" id="nativeid" name="nativeid" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record Number</span>
                <input type="text" id="medicalno" name="medicalno" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Name</span>
                <input type="text" id="name" name="name" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Receive / Send Date From</span>
                <input type="text" id="recvdate" name="recvdate" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#recvdate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Receive / Send Date To</span>
                <input type="text" id="recvdate2" name="recvdate2" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#recvdate2').focus();">
                </div>
            </div>
            <div id="refphydiv" name="" style="display:none" class="allTextSetBlue col-md-3 col-lg-2">
                <span>Ref. Physician</span>
                <input type="text" id="refphysician" name="refphysician" class="inputFieldSet" style="width:100%;">
            </div>
            <div id="deptdiv" name="" style="display:none" class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select required name="dept" class="dragDownMenuSet " id="dept" style="width:100%;">
                    <option value="" selected>Department</option>
                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                </select>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <button type="button" id="search" name="search" class="btn btn-success" style="width: 100%;">Search</button>
                    <!--<div class="buttonSet" id="search" name="search" style="width: 100%;">Search</div>-->@*button*@
                </div>
            </div>

        </div>
    </form>
</div>

<div style="padding: 15px 15px;">
    <div id="inwarddiv" name="" class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span id="sourcelistinfo" name="">Inward files unchecked:</span></div>
        <table width="100%" border="0" id="inwardlist" name="inwardlist" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="header" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td onclick="javascript:sortQuery('1')">From User</td>
                    <td onclick="javascript:sortQuery('2')">Native ID</td>
                    <td onclick="javascript:sortQuery('3')">Medical Record No.</td>
                    <td onclick="javascript:sortQuery('4')">Receive Date</td>
                    <td onclick="javascript:sortQuery('6')">File Name</td>
                    <td>File Type</td>
                    <td>View</td>
                </tr>

            </tbody>
        </table>


        <div style="float: right; width: 20%;">
            <a href="#sendChk" onclick="showSend()"> <div class="buttonSet" id="transtovna" name="" style="float: right; margin: 15px 0 0 20px; width:200px;display:none;">Transfer to VNA</div></a>
        </div>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; visibility:hidden">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

    </div>

    <!-- 如果選擇了 outward files 出的表格 start ---  用 style="display: none;" padding-top: 250px; 隱藏 -->
    <div id="outwarddiv" name="" class="setWhiteBG_table" style="display:none;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>Outward files:</span></div>
        <table id="outwardlist" name="" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 13px;">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header2" name="header2" style="height: 40px;">
                    <td onclick="javascript:sortQuery2('7')">Send By</td>
                    <td onclick="javascript:sortQuery2('3')">To Patient</td>
                    <td onclick="javascript:sortQuery2('1')">Native ID</td>
                    <td onclick="javascript:sortQuery2('2')">MRN</td>
                    <td onclick="javascript:sortQuery2('4')">Send Date</td>
                    <td onclick="javascript:sortQuery2('5')">Ref. Physician</td>
                    <td onclick="javascript:sortQuery2('8')">File Name</td>
                    <td onclick="javascript:sortQuery2('6')">Department</td>
                    <td>View</td>
                </tr>

            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav2" name="scrollNav2" style="width: 100%; float: left; visibility:hidden">
            <a href="javascript:void(0)"><img id="firstPage2" name="firstPage2" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage2" name="prevPage2" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink2" name="pageLink2" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage2" name="nextPage2" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage2" name="lastPage2" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

    </div>

</div>
<div id="sendChk" class="setPopupArea flexVerSet overlay" style="display:none;">
    <div class="flexHorSet popup" style="width: 470px;height: 200px;">
        <span class="allTextSetGray" id="linktext" name="linktext" style="font-size: 18px; float: left;">Would you like to Transfer 2 upload </span><br><br>
        <div style="margin-top: 15px; width: 100%; float: left;display:none">
            <img src='@Url.Content("~/Content/images/loader.gif")' id="loading-indicator" style="display:none" />
        </div>

        <div style="margin-top: 10px; margin-right: 13px; float: right; width: 33%;">
            <div onclick="submittransvna()" class="buttonSet" style="margin: 0 auto; width:125px;">Yes</div>
        </div>
        <div style="margin-top: 10px; width: 50%;">
            <div class="buttonSet" onclick="cancelSend()" style=" border: none; margin: 0 auto; width:125px;">No</div>
        </div>
    </div>


</div>

<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
}


<script>

    var recCountPage = 5;
    var sortby = 4;//date
    var lastsort = 4;
    var order = "desc";//"asc";
    var sorby2 = 4;
    var lastsort2 = 4;
    var order2 = "desc";
    var gsource = '1';
    var selectIDs = [];
   // var selectIDs2 = [], selectIDs3 = [];

    $(function () {

        $("#recvdate").datepicker({ dateFormat: 'yymmdd' });
        $("#recvdate2").datepicker({ dateFormat: 'yymmdd' });

        $('#search').click(search);


        $("#all").click(function () {

            var selected = $("#all").prop("checked");// $('#all').attr('checked')


            $("#inwardlist [name='_datacheckbox']").prop("checked", selected);//全选 'true'
            /*$('#ptnlist input[type="checkbox"]').each(function () {
                //swal(0);
                if ($(this).attr("id") != "all") {
                    // swal(1);
                    $(this).prop("checked", selected);
                }
            });//("checked", true);
            */
            $("#inwardlist [name='_datacheckbox']").each(function () {

                if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");//添加选中样式 ,3个parent..到 tr 层
                else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");

                var ttr = $(this).parent().parent().parent();
                if (selected) {
                    if (inArray($(ttr).attr("id"), selectIDs) < 0) {
                        var vobj = { //this to ttr,此处的$(this)没有指向tr
                            sid: $(ttr).attr("id"), user_idid: $(ttr).attr("name")
                        };
                        selectIDs.push(vobj);
                    }
                }
                else {
                    var indx = inArray($(ttr).attr("id"), selectIDs);
                    if (indx >= 0)
                        selectIDs.splice(indx, 1);
                }
            });

        });
        //
        $('#transtovna').click(transtovna);

          $("#dialog-form").dialog({
                autoOpen: false,
                height: 280,
                width: 480,
                modal: true,
                dialogClass: "no-close", //removes X from dialog

                buttons: [
                    {
                        id:"yesbutton",
                        text: "Yes",
                        "class": 'buttonSetCur', /*calss and style ，改颜色*/
                        style: "background:rgba(0,175,236,1.00);color:#ffffff",
                        click: function () {
                            // Cancel code here
                            //  var userid = '@@ViewBag.user_id';

                            $('#yesbutton').attr("disabled", true);
                            $('#cancelbutton').attr("disabled", true);

                            var surl = '@Url.Action("TransInfoToVNA", "Home")';

                            var upload_ids = [];
                            /*
                            $("input[name='_datacheckbox']:checked").each(function () { // 遍历选中的checkbox
                               // n = $(this).parents("tr").index();  // 获取checkbox所在行的顺序
                                // $("table#test_table").find("tr:eq(" + n + ")").remove();
                                var ttr = $(this).parent().parent().parent();
                                var tid = ttr.attr("id");
                                upload_ids.push(tid);
                            });
                            */
                            for (var i = 0; i < selectIDs.length; ++i) {

                                var obj = selectIDs[i].sid ;

                                upload_ids.push(obj);
                            }


                            //$('#loading-indicator').show();//gif from http://www.ajaxload.info/
                            $('#waiting').css("visibility", "visible");

                            var pdata = { upload_ids: upload_ids  };

                            $.post(surl, pdata, function (result) {

                                if (result.state == "success" || result.state=="1") {

                                    swal(result.message);
                                }
                                else
                                    swal(result.message);

                                //$('#loading-indicator').hide();
                                 $('#waiting').css("visibility", "hidden");
                                $("#dialog-form").dialog("close");

                                //refresh..
                                search();
                            });
                        }
                    },
                    {
                        id:"cancelbutton",
                        text: "No",
                        "class": 'buttonSetCur',

                        click: function () {
                            // Save code here
                            $("#dialog-form").dialog("close");
                        }
                    }
              ],
              closeOnEscape: false, //hide x icon..
              open: function () {
                  $(".ui-dialog-titlebar-close").hide();  //hide x icon

                  //$('#loading-indicator').hide();
                   $('#waiting').css("visibility", "hidden");
                    $('#yesbutton').attr("disabled", false);
                    $('#cancelbutton').attr("disabled", false);
                },
                close: function () {

                }
            });
    });

    function search() {

        var source = $('#source').val();
        if (source == '1' || source == '2') {

            $('#inwarddiv').css('display', "block");

            searchInward();
        }
        else if (source == '3') {

            $('#outwarddiv').css('display', "block");
            searchOutward();
        }
        else
            swal("Please select file source");
    }
    function searchInward() {
        //
        var nativeid = $('#nativeid').val();
        var medicalno = $('#medicalno').val();
        var name = $('#name').val();
        var recvdate = $('#recvdate').val();
        var recvdate2 = $('#recvdate2').val();
        var refphysician = '';//$('#refphysician').val();
        var dept = '';//$('#dept').val();
        var studydate = '', reportype = '';

        selectIDs = [];
        $('#waiting').css("visibility", "visible");
        queryFiles(medicalno, nativeid, name, studydate, reportype, recvdate, recvdate2, refphysician, dept, 1);

    }
    function searchOutward() {

        var nativeid = $('#nativeid').val();
        var medicalno = $('#medicalno').val();
        var name = $('#name').val();
        var recvdate = $('#recvdate').val();
        var recvdate2 = $('#recvdate2').val();
        var refphysician = $('#refphysician').val();
        var dept = $('#dept').val();
        var reportype = '';
        var studydate = '';
        $('#waiting').css("visibility", "visible");
        queryOutward(medicalno, nativeid, name, recvdate, recvdate2, refphysician, dept, 1);//studydate, reportype,

    }
    function selectSource(select) {
        var sourcefrom = $('#source').val();
        gsource = sourcefrom;
        //var index = select.selectedIndex;
        //var value = select.options[index].value;
        if (sourcefrom == '1' || sourcefrom=='2') {
            $('#inwarddiv').css("display", "block");
            $('#outwarddiv').css("display", "none");

            $('#refphydiv').css("display", "none");
            $('#deptdiv').css("display", "none");
            if (sourcefrom == '2') {
                $('#transtovna').css("display", "none");
                $('#sourcelistinfo').text("Inward files checked");

            }
            else {
                $('#transtovna').css("display", "none");//search后出现..
                $('#sourcelistinfo').text("Inward files unchecked");

            }

            order = "desc";
            sortby = 4;
        }
        else {

            $('#inwarddiv').css("display", "none");
            $('#outwarddiv').css("display", "block");

            $('#refphydiv').css("display", "block");
            $('#deptdiv').css("display", "block");

            order2 = "desc";
            sortby2 = 4;
        }

    }

    function sortQuery(sid) {

        var lc = $("#inwardlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        $('#search').click();
        //

    }
    function sortQuery2(sid) {
        var lc = $("#outwardlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby2 = sid;


        if (lastsort2 == sid) {
            if (order2 == "asc")
                order2 = "desc";
            else
                order2 = "asc";
        }
        else
            order2 = "asc";
        lastsort2 = sid;

        $('#search').click();
        //

    }
    function inArray(suid, arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
    function freshSelect() {
        //
        $("#inwardlist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }

        });

        if (selectIDs.length == 0)
            $("#all").prop("checked", false);//

    }
        function clearParam() {
        $('#medicalno').val('');
        $('#nativeid').val('');
        $('#name').val('');

        $('#recvdate').val('');
        $('#recvdate2').val('');

        $('#refphysician').val('');
        $('#dept').val('');

    }
     function clear() {
         $('#inwardlist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
         });
         $("#all").prop("checked", false);
    }

    function queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, upload_date2, ref_physician, department, pageIndex) {

        clear();


          var url = '@Url.Action("GetFilesInward", "Home")';

        var data = {
            medic_no: medic_no, native_id: native_id, name: name,
            studydate: studydate, report_type: report_type, upload_date: upload_date, upload_date2: upload_date2,
            ref_physician: ref_physician, department: department, status: gsource,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
                };

        $.post(url, data, function (result) {

            clear();
            $('#waiting').css("visibility", "hidden");
            if (result.state == "1" || result.state == "success") {

                var retdats = result.data.datas;


                if (retdats == null)
                    return;
                if (retdats.length == 0) {
                    swal('No results found');
                    clearParam();
                }
                var pagecount = result.data.pageCount;
                //curPage = pageIndex;
                if (pagecount > 0 && gsource=='1')
                    $('#transtovna').css("display", "block");
                if (gsource == '1')
                    $('#inalldiv').css("display", "block");
                else
                    $('#inalldiv').css("display", "none");

                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var medical_num = item.medical_num;
                    var native_id1 = item.native_id;
                    var first_name = item.first_name
                    var middle_name = item.middle_name;
                    var last_name = item.last_name;
                    var pname = "";
                    if(last_name && last_name != ""){
                        pname = $.trim(last_name); //remove head and tail empty
                    }
                    if (first_name && first_name !="") {
                        if (pname !="")
                            pname = pname + "^";
                        pname = pname + $.trim(first_name);
                     }
                            var create_date1 = item.create_date;
                            var study_date1 = item.study_date;
                            var ref_physician1 = item.ref_physician;;
                    var report_type1 = item.report_type;
                    var email = item.email;
                    var fromname = item.user_name;

                    var source_dept1 = item.source_dept;
                    if (!ref_physician1)
                        ref_physician1 = "";
                    var source_ofdata1 = item.source_ofdata;
                    if (!source_ofdata1)
                        source_ofdata1 = "";
                    if (!source_dept1 )
                        source_dept1 = "";
                    if (!report_type1)
                        report_type1 = "";
                    if (!email )
                        email = '';
                    var filetype = item.src_file_name;
                    if (!filetype)
                        filetype = '';
                    if (filetype.lastIndexOf('.') >=0 )
                        filetype = (filetype.substr(filetype.lastIndexOf("."))).toUpperCase();

                    var dt = create_date1;
                    var date = null;
                    if(dt)
                        date = new Date(+ dt.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                            //
                    var dtstr = '';
                    if (date)
                        dtstr = dateFormat(date, "yyyy-MM-dd");

                    var date2 = null;
                    if (study_date1 )
                        data2 = new Date(+ study_date1.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                    var studystr = '';
                    if (date2)
                        studystr = dateFormat(date2, "yyyy-MM-dd");

                    var vhidecheck = (gsource == '2' ? 'display:none;' : '');
                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;' + vhidecheck + '" > '
                        + ' <input type="checkbox" id="select' + item.upload_id + '" name="_datacheckbox"> '
                        + '    <label for="select' + item.upload_id + '"></label>  </div>  </td> ';

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + item.upload_id + '" name=""> '
                        + check
                        + '    <td>' + fromname + '</td> '
                        + '    <td>' + native_id1 + '</td> '
                        + '<td>' + medical_num + '</td> '
                        + '    <td>' + dtstr + '</td> '
                        + '    <td>' + item.src_file_name + '</td> '//email
                        //  + '    <td>' + studystr + '</td> '
                        + '    <td>' + filetype + '</td> '

                       // + '    <td>' + ref_physician1 + '</td> '
                       // + '    <td>' + source_ofdata1 + '</td> '
                        + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconView.png")\' onclick="javascript:actionFileU(\'' + item.upload_id +'\')"><a/></td> '
                                + ' </tr>';

                            $('#inwardlist tbody:last').append(row);

                   }
                         //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#inwardlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....

                        //
                        if (inArray($(this).attr("id"), selectIDs) < 0) {
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                            selectIDs.push(vobj);
                        }
                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        //
                        var indx = inArray($(this).attr("id"), selectIDs);
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }

                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                        //
                if (pagecount > 1) {
                    var pagelink = '';
                    var pagestart = 0;
                    if (pageIndex % 10 == 0)
                        pagestart = parseInt(pageIndex / 10);
                    else
                        pagestart = parseInt(pageIndex / 10) + 1;
                    var ii = (pagestart - 1) * 10, jj = 0;
                    for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                        if (ii + 1 == pageIndex)
                            pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + upload_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        else
                            pagelink += '<a href="javascript:void(0)"onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + upload_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        //if (ii > 5) {
                        //    pagelink += "...";
                        //    break;
                        //}
                    }
                    //if (ii != pagecount && pageIndex > ii+1) {
                    //    //超过7页情况下，显示当前页
                    //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + upload_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (pageIndex+0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                    //}
                    $('#pageLink').html(pagelink);
                    $('#firstPage').unbind('click');
                    $('#firstPage').click(function () {
                        if (pageIndex != 1)
                            queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, upload_date2, ref_physician, department, 1);
                    });
                    $('#prevPage').unbind('click');
                    $('#prevPage').click(function () {
                        if (pageIndex > 1) {
                            var nidx = 1;
                            if (pageIndex > 10)
                                nidx = pageIndex - 10;
                            queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, upload_date2, ref_physician, department, nidx);//pageIndex - 1);
                        }
                    });
                    $('#nextPage').unbind('click');
                    $('#nextPage').click(function () {
                        if (pageIndex < pagecount) {
                            var nidx = pageIndex + 10;
                            if (nidx > pagecount)
                                nidx = pagecount - 10;
                            if (nidx <= 0)
                                nidx = 1;
                            queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, upload_date2, ref_physician, department, nidx);//pageIndex + 1);
                        }
                    });
                    $('#lastPage').unbind('click');
                    $('#lastPage').click(function () {
                        if (pageIndex != pagecount)
                            queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, upload_date2, ref_physician, department, pagecount);
                    });
                    $('#scrollNav').css("visibility", "visible");//("display", "block");
                }
                else
                    $('#scrollNav').css("visibility", "hidden");//css("display", "none");

                        //select....
                        freshSelect();

                    }
                    else
                        swal(result.message);
        });

    }
    function clear2() {
        $('#outwardlist tr').each(function () {
            if ($(this).attr("id") != "header2")
                $(this).remove();
        });

    }
    function queryOutward(medic_no, native_id, name, send_date, send_date2, ref_physician, department, pageIndex) {


        clear2();

          var url = '@Url.Action("GetFilesOutward", "Home")';

        var data = {
            medic_no: medic_no, native_id: native_id, name: name,
            send_date: send_date, send_date2: send_date2,//report_type: report_type, upload_date: upload_date,
            ref_physician: ref_physician, department: department,// status: gsource,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby2,
            order: order2
                };

        $.post(url, data, function (result) {

            clear2();
            $('#waiting').css("visibility", "hidden");
            if (result.state == "1" || result.state == "success") {
                  var retdats = result.data.datas;


                if (retdats == null)
                    return;
                if (retdats.length == 0) {
                    swal('No results found');
                    clearParam();
                }
                var pagecount = result.data.pageCount;


                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var medical_num = item.medical_recno;
                    var native_id1 = item.native_id;
                    var pname = item.patient_name;
                    var receiver = item.receiver_name;

                            var create_date1 = item.create_date;
                            var study_date1 = item.study_date;
                            var ref_physician1 = item.ref_physician;;
                   // var report_type1 = item.report_type;
                   // var email = item.email;
                    var fromname = item.user_name;

                    var source_dept1 = item.source_dept;
                    if (!ref_physician1)
                        ref_physician1 = "";
                    if (!receiver) receiver = "";
                    if (!source_dept1)
                        source_dept1 = "";
                    else if (source_dept1.indexOf("$") >= 0) {
                        source_dept1 = source_dept1.substr(source_dept1.indexOf("$") + 1);
                    }
                    var study_file = item.study_file;
                    if (!study_file) study_file = '';
                    var study_uid = item.study_uid;
                    if (!study_uid) study_uid = '';
                    //if (!report_type1)
                    //    report_type1 = "";
                  //  if (!email )
                  //      email = '';

                    var dt = create_date1;
                    var date = null;
                    if (dt)
                        date = new Date(+ dt.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                            //
                    var dtstr = '';
                    if (date)
                        dtstr = dateFormat(date, "yyyy-MM-dd");


                    //var vhidecheck = (gsource == '3' ? 'display:none;' : '');  ....item.upload_id
                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;display:none" > '
                        + ' <input type="checkbox" id="select' + study_uid + '" name="_datacheckbox"> '
                        + '    <label for="select' + study_uid + '"></label>  </div>  </td> ';
                                                                                     //item.upload_id
                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + study_uid + '" name=""> '
                      //  + check
                        + '    <td>' + fromname + '</td> '
                        + '    <td>' + receiver + '</td> '
                        + '    <td>' + native_id1 + '</td> '
                        + '<td>' + medical_num + '</td> '
                        + '    <td>' + dtstr + '</td> '

                        //  + '    <td>' + studystr + '</td> '
                       // + '    <td>' + filetype + '</td> '
                        + '    <td>' + study_file + '</td> '
                        + '    <td>' + ref_physician1 + '</td> '
                        + '    <td>' + source_dept1 + '</td> '  //item.download_uid
                        + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconView.png")\' onclick="javascript:actionFileD(\'' + study_uid+'\')"><a/></td> '
                                + ' </tr>';

                            $('#outwardlist tbody:last').append(row);

                   }
                         //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#outwardlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);
                    }

                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                        //
                if (pagecount > 1) {
                    var pagelink = '';
                    var pagestart = 0;
                    if (pageIndex % 10 == 0)
                        pagestart = parseInt(pageIndex / 10);
                    else
                        pagestart = parseInt(pageIndex / 10) + 1;
                    var ii = (pagestart - 1) * 10, jj = 0;
                    for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                        if (ii + 1 == pageIndex)
                            pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryOutward(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + send_date + '\',\'' + send_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        else
                            pagelink += '<a href="javascript:void(0)"onclick="queryOutward(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + send_date + '\',\'' + send_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        //if (ii > 5) {
                        //    pagelink += "...";
                        //    break;
                        //}
                    }
                    //if (ii != pagecount && pageIndex > ii+1) {
                    //    //超过7页情况下，显示当前页
                    //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryOutward(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + send_date + '\',\'' + send_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (pageIndex+0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                    //}
                    $('#pageLink2').html(pagelink);
                    $('#firstPage2').unbind('click');
                    $('#firstPage2').click(function () {
                        if (pageIndex != 1)
                            queryOutward(medic_no, native_id, name, send_date, send_date2, ref_physician, department, 1);
                    });
                    $('#prevPage2').unbind('click');
                    $('#prevPage2').click(function () {
                        if (pageIndex > 1) {
                            var nidx = 1;
                            if (pageIndex > 10)
                                nidx = pageIndex - 10;
                            queryOutward(medic_no, native_id, name, send_date, send_date2, ref_physician, department, nidx);//pageIndex - 1);
                        }
                    });
                    $('#nextPage2').unbind('click');
                    $('#nextPage2').click(function () {
                        if (pageIndex < pagecount) {
                            var nidx = pageIndex + 10;
                            if (nidx > pagecount)
                                nidx = pagecount - 10;
                            if (nidx <= 0)
                                nidx = 1;
                            queryOutward(medic_no, native_id, name, send_date, send_date2, ref_physician, department, nidx);//pageIndex + 1);
                        }
                    });
                    $('#lastPage2').unbind('click');
                    $('#lastPage2').click(function () {
                        if (pageIndex != pagecount)
                            queryOutward(medic_no, native_id, name, send_date, send_date2, ref_physician, department, pagecount);
                    });
                    $('#scrollNav2').css("visibility", "visible");//css("display", "block");
                }
                else
                    $('#scrollNav2').css("visibility", "hidden");//css("display", "none");
                    }
                    else
                        swal(result.message);


        });

    }
    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }

    function actionFileU(id) {
        //swal("not implemented.");
        var url = '@Url.Action("OpenUpload","Home")';
        url = url + "?upload_id=" + id;

        //window.location.href = url;
        window.open(url);
    }
      function actionFileD(id) {
        //swal("not implemented.");
          var url = '@Url.Action("OpenVNAUpload", "Home")'; //OpenDownload
          url = url + "?studyuid=" + id; //download_uid

         // window.location.href = url;
          window.open(url);
    }
    function transtovna() {

        //
        var ic = 0;
        var luserids = [];
        /*
        var bsel = false;

        $("input[name='_datacheckbox']:checked").each(function () { // 遍历选中的checkbox

            bsel = true;
            ic++;
        })
        if (!bsel)
            return;
        */
        if (selectIDs.length == 0)
            return;
        //for (var i = 0; i < selectIDs.length; ++i) {
        //    var user_idid = selectIDs[i].user_idid;
        //    if ($.inArray(user_idid, luserids) < 0) {
        //        //
        //        luserids.push(user_idid);
        //    }
        //}
        ic = selectIDs.length;
        //---------------------------
        $("#dialog-form").css("display", "block");
        var vlink = "Would you transfer " + ic + " upload to VNA?"
        $('#linktext').text(vlink);

        $("#dialog-form").dialog("open");
    }
    function submittransvna() {
             var surl = '@Url.Action("TransInfoToVNA", "Home")';

                            var upload_ids = [];

                            for (var i = 0; i < selectIDs.length; ++i) {

                                var obj = selectIDs[i].sid ;

                                upload_ids.push(obj);
                            }


                            //$('#loading-indicator').show();//gif from http://www.ajaxload.info/
                            $('#waiting').css("visibility", "visible");

                            var pdata = { upload_ids: upload_ids  };

                            $.post(surl, pdata, function (result) {

                                if (result.state == "success" || result.state=="1") {
                                    swal(result.message);
                                }
                                else
                                    swal(result.message);


                                 $('#waiting').css("visibility", "hidden");
                               //$("#dialog-form").dialog("close");
                                cancelSend();
                                //refresh..
                                search();
                            });
    }
    function showSend() {

        if (selectIDs.length == 0)
            return;

        $('#sendChk').css("display", "flex");//yys block 与flex布局冲突了
    }
        function cancelSend() {
         $('#sendChk').css("display", "none");//yys
    }
</script>