﻿
@{
    ViewBag.Title = "NoPermission";
}

<!-- <h2>NoRight</h2> -->

<div class="pageContentPosition" style="padding-top: 50px;">

    <div style="margin-left:200px;margin-top:100px; float:left">
        <h2>You have no permission. </h2>
    </div>

</div>