﻿
@{
    Layout = null;

    ViewBag.Title = "OpenFile";

    string idoUrl = ViewBag.IDOUrl as string;// String.Format("idoviewer://{0}/ShareQuery?INSTANCEUID={1}", ViewBag.IDOViewerRegon, "");


    String uniwebUrl = ViewBag.UniwebUrl as string;// String.Format("http://idocloud.ebmtech.com/DicomWeb/DicomWeb.dll/OpenImage?ShareID={0}&SharePassword={1}", Model.share_id, Model.passwd);
    string html5Url = ViewBag.Html5Url as string;
}

@Scripts.Render("~/bundles/jquery")

<script>
        function selectViewer(id) {
            var url = '@Url.Action("SelectViewer", "Home")';
            var data = { id: id };

            $.post(url, data, function (result) {

            });
        }
</script>

<h2>OpenFile</h2>

<div class="pageContentPosition" style="padding-top: 50px;">


    <a href="@idoUrl" onclick="selectViewer(0)" target="view_window">iDo Viewer </a>
    <p style="margin-top:3px">The best performance on iOS device.</p>
    <a href="@uniwebUrl" onclick="selectViewer(1)" target="view_window">UniWeb Viewer </a>
    <p style="margin-top:3px">
        Web-based DICOM image viewer on Internet Explorer browser only. Need pre-installed of UniWeb component.
        If you don’t know what is UniWeb Viewer, please click HTML5 Viewer.
    </p>
    <a href="@html5Url" onclick="selectViewer(2)" target="view_window">HTML5 Viewer </a>
    <p style="margin-top:3px">For other browser with zero foot print.</p>


</div>

@section metadata{
    <meta name="apple-itunes-app" content="app-id=494179581,app-argument=@Html.Raw(idoUrl)">
}


