﻿@*@Model DataModel.Users*@
@{
    ViewBag.Title = "PatientUpload";
}
<style>
    .buttonSetCur {
        /*background-color: rgba(0,175,236,1.00);*/
        height: 43px;
        width: 80px;
        border-radius: 6px;
        /* border: rgba(0,175,236,1.00) solid 1px;*/
        color: #ffffff;
        background: rgb(192, 192, 192);
        font-size: 22px;
        font-family: "HelveticaNeue LT 55 Roman";
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        cursor: pointer;
    }
</style>
@*
    @Scripts.Render("~/bundles/jqueryCamera")
*@
<script>

    var filesMap = new Map();
    var otpverify = false;
    var promptinfo = false;
    var canvas_tmp = document.createElement("canvas");
    canvas_tmp.id = 'globalcanvas';
   // var filter_on = false;

        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        var IsIos = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

    $(document).ready(function () {

        $('#uploadAllDiv').removeClass("buttonSet");
        $('#uploadAllDiv').addClass("buttonSetCur");

        var dp = document.getElementById('dragDiv');

        dp.ondragover= function (e) {
            //e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';
        };
        dp.ondrop= function (e) {
           // e.stopPropagation();
            e.preventDefault();

            var files = e.dataTransfer.files;
            // do something upload
            var flnames = new Array;
            var thisval = '';
            var blobnames = new Array;

            for (var i = 0; i < files.length; ++i) {
                var tpname = files[i].name;
                var tempfilenmae = tpname;

                if (tpname.length > 100) {
                    alert(tpname + " is too long,max length is 100");
                    continue;
                }
                if (FileInList(tpname)) {


                    if (!IsIos && !confirm(tpname + 'is existed,are you sure?')) {
                        continue;
                    }
                    var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                    var type = tpname.substr(tpname.lastIndexOf("."));
                    tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;
                }
                else
                    if (!checkFileName(tpname)) {
                        if (!IsIos && !confirm(tpname + ' is existed, are you sure? ')) { //file can\'t be duplicated.
                            continue;
                        }
                        var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                        var type = tpname.substr(tpname.lastIndexOf("."));
                        tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;
                    }

                flnames.push(files[i]);
                blobnames.push(tempfilenmae);

                thisval = thisval + tempfilenmae;//files[i].name;
                if (i != files.length - 1)
                    thisval = thisval + ",";
            }
            if (flnames.length == 0)
                return;
            var medicalno = '@Model.medical_recno';
            var nativeid = '@Model.id_number';
            var firstname = '@Model.user_name';
            var lastname = '';

            var studydate = new Date;
            var refphysician = '';
            var department = '';//$('#department').val();//'@@Model.department_id';
            var reporttype = $('#reporttype').val();
            var comment = '';

            var filestrs = $.md5( thisval);//escape

            var uploadfiles = thisval.split(",");

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, source_dept: department, report_type: reporttype,
                comment: comment, upload_files:uploadfiles
               }];

            uploadInfo(uploadmodel, flnames, filestrs, blobnames);


        };

        $('#file').change(filechange);
        // $('#file2').change(filechange);

        $('#reporttype').change(reportchange);

        $('#uploadAllDiv').click(UploadAllFile);

        $('#requestotp').click(requestOTP);

        $('#opencamera').click(opencamera);

        $('#snap').click(takepicture);
        $('#acceptpic').click(acceptpicture);
        $('#nophoto').click(retake);

    });
    function filechange() {

            if ($(this).val() == '')
                return false;
               // alert($(this).val());
        var flnames = new Array;
        var thisval = '';
               var uploadfiles = new Array;
                var blobnames = new Array; //for 重名....

            for (var i = 0; i < this.files.length; ++i) {
                var tpname = this.files[i].name;
                var tempfilenmae = tpname;
                //
                if (tpname.length > 100) {
                    alert(tpname + " is too long,max length is 100");
                    continue;
                }
                if (FileInList(tpname)) {

                    if (!IsIos && !confirm(tpname + 'is existed,are you sure?')) {
                        continue;
                    }
                    var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                    var type = tpname.substr(tpname.lastIndexOf("."));
                    tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;

                }
                else if (!checkFileName(tpname)) {
                    if (!IsIos && !confirm(tpname + ' is existed, are you sure?')) {
                        continue;
                    }
                    var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                    var type = tpname.substr(tpname.lastIndexOf("."));
                    tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;
                }


                flnames.push(this.files[i]);
                blobnames.push(tempfilenmae);
                uploadfiles.push(tempfilenmae);//this.files[i].name);

                thisval = thisval + tempfilenmae;//files[i].name;
                if (i != this.files[i].length - 1)
                    thisval = thisval + ",";
            }
            if (flnames.length == 0)
                   return;
            var medicalno = '@Model.medical_recno';
            var nativeid = '@Model.id_number';
            var firstname = '@Model.user_name';
            var lastname = '';

            var studydate = new Date;
            var refphysician = '';
        var department = '';//$('#department').val();//'@@Model.department_id';
        var reporttype = $('#reporttype').val();
            var comment = '';

        var filestrs = $.md5(thisval);//escape ($(this).val())
               /*
              // alert($(this).val());
            var uploadfiles = $(this).val().split(",");
               if (uploadfiles.length < flnames.length && uploadfiles.length > 0) {
                   var path = uploadfiles[0];
                   path = path.substr(0, path.lastIndexOf("\\") + 1);
                   //path = '';//to short
                   uploadfiles = new Array;
                   for (var ii = 0; ii < flnames.length; ++ii) {
                       uploadfiles.push(path + flnames[ii].name);
                   }
                  // alert(uploadfiles);
            }*/

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, source_dept: department, report_type: reporttype,
                comment: comment, upload_files:uploadfiles
               }];

        uploadInfo(uploadmodel, flnames, filestrs, blobnames);

               @*
            ////直接提交json数组
            $.post('@Url.Action("UploadId", "Home")', { uploads: uploadmodel }, function (result) {

                //alert(result.message);
                if (result.state == "1") {

                    for (var i = 0; i < flnames.length; ++i) {
                        //alert(this.files[i].name);
                        var sname = flnames[i].name;
                        var type = (sname.substr(sname.lastIndexOf("."))).toUpperCase();
                        var lid = filestrs + '_' + i;

                        var row = '  <tr id = "' + lid + '" name = "" > '
                    +'<td rowspan="2" align="center" valign="middle"> '
                        + '    <div><img src=\'@Url.Content("~/Content/images/iconPatientFileType.png")\'></div> '
                        + '    <div style="margin-top: -50px; margin-bottom: 26px;">' + type + '</div> '
                    +'</td> '
                            + '<td width="56%">' + sname + '</td> '
                            + '<td>' + Math.ceil(flnames[i].size / 1024) + 'kb </td > '
                    +'<td width="10%" rowspan="2" align="center" valign="middle"> '
                    +'    <div><img src=\'@Url.Content("~/Content/images/iconPatientUpload.png")\'></div> '
                    +'</td> '
                            + '<td width="10%" rowspan="2" align="center" valign="middle"> '
                            + '    <div><img src=\'@Url.Content("~/Content/images/iconPatientCancel.png")\' onclick="delRow(\'' + lid + '\')"></div> '
                    +'</td> '
                    +'</tr> '

                    //
                    $('#filetable tbody:last').append(row);

                        var row2 = '<tr id="' + lid + '_2" name="' + lid + '_2"><td colspan ="2"><div class="patientProgressBarBg"> <div class="patientProgressBar" style="width:20%"></div> </div> '
                     +' </td><td></td> </tr >';

                     //   row2 = '<tr id="' + filestrs + '_2" name="' + filestrs + '_2"><td colspan="2"><div class="patientProgressBarBg" ><div class="patientProgressBar" style="width: 20%" ></div></div> '
                     //   + '</td><td></td></tr>';

                      //  $('#filetable tbody:last').append(row + row2);
                        $('#filetable tbody:last').append( row2);
                    }
                }

               }, "json");
               *@

            //$(this).val('');//操作结束清空input中的内容

        }
    function progressBarStart (lid) {
        // $("#progressbar_container").show();
        $("#" + lid + "_prog").css("width", "0%");

        }

    function progressBarUpdate(lid,percentage) {
            //$('#progressbar_label').html(percentage + "%");
        //$("#progressbar").width(percentage + "%");
        $("#" + lid + "_prog").css("width", percentage + "%");
        }

    function progressBarComplete(lid) {
            //$("#progressbar_container").fadeOut(500);
        $("#" + lid + "_prog").css("width", "100%");

        //
        $("#" + lid + "_up").html("");
        $("#" + lid + "_del").html("complete");

        }

    function uploadCompleted(filename,uploadId,lid) {
            var formData = new FormData();
            formData.append('fileName', filename);
            formData.append('completed', true);
            formData.append('uploadId', uploadId);

            var xhr2 = new XMLHttpRequest();
            xhr2.onload = function () {
                progressBarUpdate(lid,100);
                progressBarComplete(lid);
                //
                filesMap.delete(filename);
                var ballfinish = true;
                var filetableids = ['filetable', 'filetable2', 'filetable3', 'filetable4'];
                for (var i = 0; i < filetableids.length; ++i) {
                    $('#' + filetableids[i] + ' div[name="progress"]').each(function () {

                        //
                        // alert($(this).css("width"));
                        var c = $(this).css("width");//width();
                        var p = $(this).parent().css("width");//.width();

                        var res = parseFloat(p) / parseFloat(c)
                        if (res != 1.0) {
                            ballfinish = false;
                        }
                    });
                }
                if (ballfinish) {

                    $.post('@Url.Action("FinishUploadSession", "Home")', { upload_sessionId: uploadId },  function (result) {

                    });
                }
            }

        xhr2.open("POST", '@Url.Action("UploadComplete", "Home")' + "?fileName=" + encodeURIComponent(filename) + "&complete=" + 1 + "&uploadId=" + uploadId,
            true); //async //同步方式...
            xhr2.send(formData);

            //filesMap.delete(filename); move to up
            //


        }


    function multiUpload(count, counter, blob, completed, start, end, bytesPerChunk,filename,uploadid,lid) {
            counter = counter + 1;
            if (counter <= count) {

                var chunk = blob.slice(start, end);


                var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    start = end;
                    end = start + bytesPerChunk;
                    if (count == counter) {
                        uploadCompleted(filename,uploadid,lid);
                    } else {
                        var percentage = (counter / count) * 100;
                        progressBarUpdate(lid,percentage);
                        multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid,lid);
                    }
                }
                xhr.open("POST", '@Url.Action("MultiUpload", "Home")' + "?chunkNumber=" + counter.toString() + "&fileName=" + encodeURIComponent(filename) + "&uploadId=" + uploadid, true);
                xhr.send(chunk);


                        }
        }

        //
    function startUploadFile(lid) {

        if (!otpverify) {
            var otpcode = $('#otpCode').val();

            otpverify = verifyOTP(otpcode);
            if (!otpverify)
                return;
        }
        if (!promptinfo) {

            if (!confirm( 'Caution! Are you sure you will upload all files in the Files Checklist? Please note that you will be unable to delete or withdraw the files once you click"Yes"'))
                return;
            //
            promptinfo = true;

        }
        var tr = null;
        var filetableids = ['filetable', 'filetable2', 'filetable3', 'filetable4'];
        for (var i = 0; i < filetableids.length; ++i) {

            var tr0 = $("#" + filetableids[i] + " tr[id='" + lid + "']");
            if (tr0 && tr0.length>0) {
                tr = tr0;
                break;
            }
        }
            //var tr = $("#filetable tr[id='" + lid + "']");//$('#filetable input[type="hidden"]');
            var inputs = $(tr).find("input[type='hidden']");

            if (inputs && inputs.length > 0) {

                for (var i = 0; i < inputs.length; ++i) {

                    var hidinput = inputs[i];

                    var uploadid = $(hidinput).attr("id");
                    var longfile = $(hidinput).val();
                    //
                    var fileobj = filesMap.get(longfile);

                    //
                    if (!fileobj)
                        continue;

                    var filename = longfile;//fileobj.name;

                    var blob = fileobj;
                    var bytesPerChunk = 3757000;//1024*1024*2;//
                    var size = blob.size;

                    var start = 0;
                    var end = bytesPerChunk;
                    var completed = 0;
                    var count = size % bytesPerChunk == 0 ? size / bytesPerChunk : Math.floor(size / bytesPerChunk) + 1;
                    var counter = 0;
                    progressBarStart(lid);

                    multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid,lid);

                }

                //AllUpload(uploadid);

            }

    }
    function checkFileName(flname) {

        var result = false;
        //要用同步模式.
        $.ajax({
            type: "post",
            url: '@Url.Action("CheckFile", "Home")',
            data: { fileName: flname },
            async: false,
            success: function (data,status) {
                // data = eval("(" + data + ")");
                //alert(data.message);
                if (data.state == "success")
                    result = true;
                else
                    result = false;
            }
        });
        //异步
        /*$.post('Url.Action("CheckFile", "Home")', { FileName: flname }, function (result) {
        },"json");*/
        return result;
    }
    function FileInList(flname) {
        if (!flname || flname == '')
            return false;
        var exist = false;

        $("#filetable").find("tr").each(function () {
            //第二列单元格的值eq(索引)

            if ($(this).children('td:eq(1)').text() == flname) {
                exist = true;
            }
        });
        $("#filetable2").find("tr").each(function () {
            //第二列单元格的值eq(索引)

            if ($(this).children('td:eq(1)').text() == flname) {
                exist = true;
            }
        });
        $("#filetable3").find("tr").each(function () {
            //第二列单元格的值eq(索引)

            if ($(this).children('td:eq(1)').text() == flname) {
                exist = true;
            }
        });
        $("#filetable4").find("tr").each(function () {
            //第二列单元格的值eq(索引)

            if ($(this).children('td:eq(1)').text() == flname) {
                exist = true;
            }
        });
        return exist;
    }
    //


    function UploadAllFile() {

        if ($("#filetable").find('tr').length == 0 && $("#filetable2").find('tr').length == 0 &&
            $("#filetable3").find('tr').length == 0 && $("#filetable4").find('tr').length ==0)
            return;


        var otpcode = $('#otpCode').val();

        otpverify = verifyOTP(otpcode);
        if (!otpverify)
            return;

        var filetableids = ['filetable', 'filetable2', 'filetable3', 'filetable4'];
        for (var i = 0; i < filetableids.length; ++i) {

            $("#" + filetableids[i]).find('tr').each(function () {
                var lid = $(this).attr("id");
                var div = $(this).find('div[id="' + lid + '_up"]');
                if (div && div.length > 0) {
                    // alert(lid);
                    startUploadFile(lid);
                }
            });
        }
        $('#uploadAllDiv').css("display", "none");

    }
        function AllUpload(uploadid) {

        $.post('@Url.Action("AllUploaded", "Home")', { uploadId: uploadid }, function (result) {

            alert(result.message);
        },"json");
    }
    ///flnames 在change及drop时存在是file对象，拍照 时存的是blob..
    function uploadInfo(uploadmodel,flnames,filestrs,blobnames) {

        if (!uploadmodel)
            return;
          ////直接提交json数组
            $.post('@Url.Action("UploadId", "Home")', { uploads: uploadmodel }, function (result) {

                //alert(result.message);
                if (result.state == "1") {

                    var report_type = uploadmodel[0].report_type;
                    var filetableid = 'filetable';
                    if (report_type == '2') filetableid = 'filetable2';
                    else if (report_type == '3') filetableid = 'filetable3';
                    else if (report_type == '4') filetableid = 'filetable4';

                    for (var i = 0; i < flnames.length; ++i) {
                        //alert(this.files[i].name);
                        var sname = '';
                        if (blobnames)
                            sname = blobnames[i];
                        else
                            sname = flnames[i].name;

                        var type = (sname.substr(sname.lastIndexOf("."))).toUpperCase();
                        var lid = filestrs + '_' + i;
                        //style="margin-top: -50px; margin-bottom: 26px;"
                        var row = '  <tr id= "' + lid + '" name= "" > '
                    +'<td rowspan="2" align="center" valign="middle"> '
                        + '    <div style="height: 24px;"><img src=\'@Url.Content("~/Content/images/iconPatientFileType_s2.png")\'></div> '
                        + '    <div  style="margin-top: -10px; margin-bottom: 14px;">' + type + '</div> '
                    +'</td> '
                            + '<td width="56%">' + sname + '</td> '
                            + '<td>' + Math.ceil(flnames[i].size / 1024) + 'kb </td > '
                            + '<td width="10%" rowspan="2" align="center" valign="middle"> '
                            + '    <div id="' + lid + '_up" name=""><img style="width: 30px;" src=\'@Url.Content("~/Content/images/iconPatientUpload.png")\' onclick="startUploadFile(\'' + lid + '\')"></div> '
                    +'</td> '
                            + '<td width="10%" rowspan="2" align="center" valign="middle"> '
                            + '    <div id="' + lid + '_del" name=""><img style="width: 30px; margin-left: 5px;" src=\'@Url.Content("~/Content/images/iconPatientCancel.png")\' onclick="delRow(\'' + lid + '\')"/></div> ' //
                            + '</td> '
                            + '<td><input type="hidden" id="' + result.upload_id + '" name="" value="' + uploadmodel[0].upload_files[i] + '"></td>'
                            + '</tr> '

                        //alert(row);
                        //filetable
                        $('#' + filetableid + ' tbody:last').append(row);

                        var row2 = '<tr id="' + lid + '_2" name="' + lid + '_2"><td colspan ="2"><div class="patientProgressBarBg"> <div class="patientProgressBar" id="' + lid +'_prog"  name="progress" style="width:0%"></div> </div> '
                     +' </td><td></td> </tr >';

                     //   row2 = '<tr id="' + filestrs + '_2" name="' + filestrs + '_2"><td colspan="2"><div class="patientProgressBarBg" ><div class="patientProgressBar" style="width: 20%" ></div></div> '
                     //   + '</td><td></td></tr>';

                        //  $('#filetable tbody:last').append(row + row2);
                        $('#' + filetableid + ' tbody:last').append(row2);

                        //----------------------------------------------------//
                        var longfile = uploadmodel[0].upload_files[i];
                        var ldx = longfile.lastIndexOf("\\");
                        var shortfile = longfile.substr(ldx + 1);
                        for (var k = 0; k < flnames.length; ++k) {
                            var llname = '';
                            if (blobnames)
                                llname = blobnames[k];
                            else
                                llname = flnames[k].name;

                            if (llname == shortfile) {
                                filesMap.set(longfile, flnames[k]);
                            }
                        }

                    }
                    //
                    $('#uploadAllDiv').css("display", "block");
                    //
                    hideNoFileView();
                }

            }, "json");

    }
    //最好删除session里的信息..
    function delRow(obj) {
        var filetableids = ['filetable', 'filetable2', 'filetable3', 'filetable4'];
        for (var i = 0; i < filetableids.length; ++i) {

            var tr = $("#" + filetableids[i] + " tr[id='" + obj + "']");
            if (tr) {
                // alert(tr.html());
                tr.remove();

            }
            tr = $("#" + filetableids[i] + " tr[id='" + obj + "_2']");
            if (tr) {
                // alert(tr.html());
                tr.remove();

            }
        }

    }
    function opencamera() {
            // Grab elements, create settings, etc.
           // var canvas = document.getElementById('canvas');
           // var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var mediaConfig = { video: true };
            var errBack = function (e) {
                console.log('An error has occurred!', e)
        };

        $('#acceptpic').css("display", "none");
        $('#nophoto').css("display", "none");


        var bsupport = false;

            // Put video listeners into place
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia(mediaConfig).then(function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                    bsupport = true;
                  //  alert(0);
                    setTimeout("showvideoelem()",1);

                });
            }

            /* Legacy code below! */
            else if (navigator.getUserMedia) { // Standard
                navigator.getUserMedia(mediaConfig, function (stream) {
                    video.src = stream;
                    video.play();
                    bsupport = true;

                    setTimeout("showvideoelem()", 1);

                }, errBack);
            } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(mediaConfig, function (stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                    bsupport = true;

                    setTimeout("showvideoelem()", 1);

                }, errBack);
            } else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
                navigator.mozGetUserMedia(mediaConfig, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                    bsupport = true;

                    setTimeout("showvideoelem()", 1);

                }, errBack);
             }

        if (bsupport) {

        }

        // Trigger photo take
       // document.getElementById('snap').addEventListener('click', takepicture);

    }
    function showvideoelem() {
        $('#photodiv').css("display", "block");
        $('#snap').css("display", "block");
        $('#video').css("visibility", "visible");
        $('#canvas').css("visibility", "hidden");
    }
    function takepicture() {
      //  alert(0);
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        //
        /*
        var size = videoDimensions(video);
        var offset = (video.offsetWidth - size.width) / 2;
        //alert(offset);
        //same size with video
        $('#canvas').css("width", size.width);
        $('#canvas').css("height", size.height);
        $('#canvas').css("margin-left", offset);*/

        //
        $('#acceptpic').css("display", "block");
        $('#nophoto').css("display", "block");
        $('#snap').css("display", "none");
        //alert(video.videoWidth );
        //在原位置hide..
        $('#video').css("visibility", "hidden");
        $('#canvas').css("visibility", "visible");
        // alert(size.width); alert(size.height);
        //用一个中间画布保存原始尺寸的图像..
        //video.videoWidth, video.videoHeight; //video的原始分辨率..
        var scale = 1;
        // var canvas_tmp = document.createElement("canvas");

        canvas_tmp.width = video.videoWidth * scale;
        canvas_tmp.height = video.videoHeight * scale;
        canvas_tmp.getContext('2d')
            .drawImage(video, 0, 0, canvas_tmp.width, canvas_tmp.height);
       // alert(canvas_tmp.width);
        context.drawImage(video, 0, 0, canvas.width,canvas.height);// 466,350);//400, size.height);//, 0, 0, size.width, size.height);//640, 480);

       // $('#acceptpic').css("display", "block");
        /*
            context.toBlob(function (blob) {
                var newImg = document.createElement('img'),
                    url = URL.createObjectURL(blob);

                newImg.onload = function () {
                    // no longer need to read the blob so it's revoked
                    URL.revokeObjectURL(url);
                };

                newImg.src = url;
                document.body.appendChild(newImg);

        });https://blog.csdn.net/cuixiping/article/details/45932793
        */

    }
    //video is scaled..to fit
    function videoDimensions(video) {
        // Ratio of the video's intrisic dimensions
        var videoRatio = video.videoWidth / video.videoHeight;
        // The width and height of the video element
        var width = video.offsetWidth, height = video.offsetHeight;
        // The ratio of the element's width to its height
        var elementRatio = width / height;
        // If the video element is short and wide
        if (elementRatio > videoRatio) width = height * videoRatio;
        // It must be tall and thin, or exactly equal to the original ratio
        else height = width / videoRatio;
        return {
            width: width,
            height: height
        };
    }
    //接收拍照 的图片
    function acceptpicture() {
        //
        var canvas = canvas_tmp;//document.getElementById('globalcanvas'); //这里要用中间.因为分辨率.canvas
        var video = document.getElementById('video');

        video.pause();

        var dataurl = canvas.toDataURL('image/png');
       // if (dataurl) alert(dataurl);
        var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
        var tempfilenmae = "capture" + datestr + ".png";

        var blobfile = dataURLtoBlob(dataurl);

       // var fileobj2 = new File(blob2, tempfilenmae);
       // alert(fileobj2);

      //  var blobfile = dataURLtoFile(dataurl, tempfilenmae);


        var flnames = new Array;
        var uploadfiles = new Array;
        var blobnames = new Array;

        flnames.push(blobfile);

        uploadfiles.push(tempfilenmae);
        blobnames.push(tempfilenmae);

            var medicalno = '@Model.medical_recno';
            var nativeid = '@Model.id_number';
            var firstname = '@Model.user_name';
            var lastname = '';

            var studydate = new Date;
        var refphysician = '';
        var department = '';//$('#department').val();//'@@Model.department_id';
        var reporttype = $('#reporttype').val();
            var comment = '';

        var filestrs = $.md5(tempfilenmae);//escape

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, source_dept: department, report_type: reporttype,
                comment: comment, upload_files:uploadfiles
        }];

        uploadInfo(uploadmodel, flnames, filestrs, blobnames);

        $('#photodiv').css("display", "none");
        $('#acceptpic').css("display", "none");
        $('#nophoto').css("display", "none");
    }
    function retake() {
        //
        $('#acceptpic').css("display", "none");
        $('#nophoto').css("display", "none");
        $('#snap').css("display", "block");

        $('#canvas').css("visibility", "hidden");
        $('#video').css("visibility", "visible");
        $('#video').play();
    }
    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], { type: mime });
    }
    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
       // alert(mime);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        var fileobj = new File([u8arr], filename, { type: mime });
        if ($.isEmptyObject(fileobj))
            alert(0);
        else
            alert(1);
    }
    // 对Date的扩展，将 Date 转化为指定格式的String
// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
// 例子：
// (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
// (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }
    function requestOTP() {
        var url = '@Url.Action("RequestOTP", "Home")';
        var data = {};

        $.post(url, data, function (result) {
            if (result.state == 'success' || result.state == "1") {

                alert(result.message);
            }
            else if (result)
                alert(result.message);
        });
    }
    function verifyOTP( otpcode) {

        var url = '@Url.Action("VerifyOTP", "Home")';
        var data = { OTPCode: otpcode };

        var ret = false;
        //用同步post的方式返回
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType:'json',
            async: false, //同步
            success: function (result) {

                if (result.state == 'success' || result.state == "1") {
                    ret = true;
                }
                else if (result) {
                    alert(result.message);
                    ret = false;
                }
            }
        });
        return ret;
    }
    function changestate() {
        var value = $('#otpCode').val();
        if (!value || value == '')
            return;

       // var vsize = $("#filetable").find('tr').length;//.size();
       // if (vsize <= 1)
        //    return;

        if ($('#uploadAllDiv').hasClass("buttonSetCur"))
            $('#uploadAllDiv').removeClass("buttonSetCur");
        if (!$('#uploadAllDiv').hasClass("buttonSet"))
            $('#uploadAllDiv').addClass("buttonSet");
    }
    function viewhide(tableid) {

        var trs = $('#' + tableid + ' tr');
        if (trs.length == 0)
            $('#div' + tableid).css("display", "none");
        else
            $('#div' + tableid).css("display", "block");
    }
    function hideNoFileView() {

        var trs = $('#filetable tr');
        if (trs.length == 0)
            $('#divfiletable').css("display", "none");
        else
            $('#divfiletable').css("display", "block");

         trs = $('#filetable2 tr');
        if (trs.length == 0)
            $('#divfiletable2').css("display", "none");
        else
            $('#divfiletable2').css("display", "block");

         trs = $('#filetable3 tr');
        if (trs.length == 0)
            $('#divfiletable3').css("display", "none");
        else
            $('#divfiletable3').css("display", "block");

         trs = $('#filetable4 tr');
        if (trs.length == 0)
            $('#divfiletable4').css("display", "none");
        else
            $('#divfiletable4').css("display", "block");
      
    }
    function reportchange() {
        var reporttype = $('#reporttype').val();
        //
        if (reporttype == '')
            return;
        /*
        //
        if (reporttype == "1") {
            //
            viewhide('filetable2');
            viewhide('filetable3');
            viewhide('filetable4');
            $('#divfiletable').css("display", "block");
        }
        else if (reporttype == "2") {
            //
            viewhide('filetable');
            viewhide('filetable3');
            viewhide('filetable4');
            $('#divfiletable2').css("display", "block");
        }
        else if (reporttype == "3") {
            //
            viewhide('filetable');
            viewhide('filetable2');
            viewhide('filetable4');
            $('#divfiletable3').css("display", "block");
        }
        else if (reporttype == "4") {
            //
            viewhide('filetable');
            viewhide('filetable2');
            viewhide('filetable3');
            $('#divfiletable4').css("display", "block");
        }
        */
    }
</script>
@*
<div class="pageContentPosition ">

    <div class="allTextSetBlue">Upload File</div>


    <select name="reporttype" class="dragDownMenuSet" id="reporttype" style="width:50%; margin-top: 10px; float: left;">
        <option value="">Please Choose File Type</option>
        <option value="1">Medical Record</option>
        <option value="2">Image Data</option>
        <option value="3">Personal Health Record</option>
        <option value="4">Other</option>
    </select>

    <div id="dragDiv" name="dragDiv" class="dragAndDropUploadBg horAlignCenter" style="height: 146px; margin-top: 15px; float: left;">
        <div class="uploadAreaHorAlignSet" style="width: 26%;">
            <img src='@Url.Content("~/Content/images/IconUpload.png")'>
            <span class="allTextSetGray" style="line-height: 30px;">Drop to upload your file or</span>
        </div>
        <div class="uploadHorAlignLeft" style="width: 56%; margin-left: 20px; justify-content: center;">
            <div class="horAlignLeft" style="margin-bottom: 25px;">
                <div>
                    <input style="display: none;" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                    <label for="file"><div class="buttonSet" style="width: 250px;" id="">Choose a file</div></label>
                </div>
                <div style="margin-left: 30px;">
                    <button id="opencamera" name="opencamera" class="buttonSet" style="width:75px; height: 45px;"></button>
                    <div onclick="opencamera()" style="margin: -35px 0 0 22px"><img src='@Url.Content("~/Content/images/iconCamera.png")'></div>
                </div>
            </div>
            <span class="allTextSetGray" style="width: 810px;">Support Types：DICOM, JPG, GIF, PNG, PDF, MP4, AVI ,XML</span>
        </div>
    </div>

    <!-- 拍照顯示區 START -->
    <div id="photodiv" name="photodiv" style="display:none;margin:0 auto;width:468px;height:352px;border:1px solid #000">
        <div id="" name="" class="" style=" width: 90%; height: 350px; border: solid 0px #27B1FF;  float: left;">

            <div>
                <!-- canvas 会挡住 它下面的div的click..-->

                <video id="video" name="" autoplay width="466" height="350" style="float:left;margin-top:0px;"></video><!--注意width,height的设定 -->
                <canvas id="canvas" name="" width="466" height="350" style="float:left;margin-top:-350px;"></canvas>
            </div>

        </div>
        <div>
            <div class="buttonSet" id="snap" name="" style="display:none;vertical-align: middle; float:right; width:165px; ">Snap Shot</div>
            <div class="buttonSet" id="acceptpic" name="" style="display:none;vertical-align: middle; float: right; width:85px; ">Yes</div>
            <div class="buttonSet" id="nophoto" name="" style="display:none;vertical-align: middle; float: right; width:85px; ">No</div>
        </div>
    </div>
    <!-- 拍照顯示區 END -->

    <div class="patientUploadConfirm allTextSetGray" id="divfiletable" name="" style="width: 100%; float: left;">

        <div class="allTextSetBlue" style="float: left; margin-bottom: 15px;">
            <span>Medical Record: </span>
        </div>

        <table width="100%" border="0" style="font-size: 13px;" id="filetable" name="filetable" cellspacing="0" cellpadding="0">
            <tbody></tbody>
        </table>


    </div>

    <div class="patientUploadConfirm allTextSetGray" id="divfiletable2" name="" style="width: 100%; float: left; display:none">
        <div class="allTextSetBlue" style="float: left; margin-bottom: 15px;">
            <span>Image Data: </span>
        </div>

        <table width="100%" border="0" style="font-size: 13px;" id="filetable2" name="filetable2" cellspacing="0" cellpadding="0">
            <tbody></tbody>
        </table>

    </div>
    <div class="patientUploadConfirm allTextSetGray" id="divfiletable3" name="" style="width: 100%; float: left; display:none">
        <div class="allTextSetBlue" style="float: left; margin-bottom: 15px;">
            <span>Personal Health Record: </span>
        </div>

        <table width="100%" border="0" style="font-size: 13px;" id="filetable3" name="filetable3" cellspacing="0" cellpadding="0">
            <tbody></tbody>
        </table>

    </div>
    <div class="patientUploadConfirm allTextSetGray" id="divfiletable4" name="" style="width: 100%; float: left; display:none">
        <div class="allTextSetBlue" style="float: left; margin-bottom: 15px;">
            <span>Other: </span>
        </div>

        <table width="100%" border="0" style="font-size: 13px;" id="filetable4" name="filetable4" cellspacing="0" cellpadding="0">
            <tbody></tbody>
        </table>

    </div>

    <div>
        <div style="width: 70%; float: left; margin-top: 40px;">
            <div class="buttonSet" id="requestotp" name="requestotp" style="float: left; width:185px">Request OTP</div>
            <input type="text" onInput="changestate()" id="otpCode" name="otpCode" placeholder="Enter Code" onblur="" class="inputFieldSet" style="width:50%; margin-left: 15px;"><!--javascript:verifyOTP(this.value)-->
        </div>
        <div style="width: 20%; float: right; margin: 40px 30px 0 0;">
            <div class="buttonSet" id="uploadAllDiv" name="" style="float: left; width:185px">Upload Files</div>
        </div>
        <div class="allTextSetGray" style="float: left; margin: 20px 0 30px 0;">
            <span>
                If you have not received the OTP on email in 3 minutes.
                Please click Request OTP again.
            </span>

        </div>

    </div>

</div>

*@
<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Please Choose File Type</span>
                <select name="reporttype" class="dragDownMenuSet " id="reporttype" style="width:100%;">
                    <!--<option value="">Choose File Type</option>-->
                    <option value="1" selected="selected">Medical Record</option>
                    <option value="2">Image Data</option>
                    <option value="3">Personal Health Record</option>
                    <option value="4">Other</option>
                </select>
            </div>

            <div id="dragDiv" name="dragDiv" class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 60%;">
                    <input style="display: none;" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                    <label for="file" style=" width: 100%;"><div class="buttonSet" id="">Choose a file</div></label>
                </div>
                <div style="width: 35%;">
                    <button id="opencamera" name="opencamera" class="buttonSet" style="width: 100%;"></button>
                    <div onclick="opencamera()" class="flexHorSet" style="margin: -30px 0 0 0"><img src='@Url.Content("~/Content/images/iconCamera.png")'></div>
                </div>
            </div>

            <div class="flexVerSet col-md-6 col-lg-6" style="height: 70px;">
                <input class="buttonSet" id="requestotp" name="requestotp" style="width:125px" value="Request OTP"></input>
                <input type="text" onInput="changestate()" id="otpCode" name="otpCode" placeholder="Enter Code" class="inputFieldSet" style="width:100px; margin: 1px 10px 0 20px;">
                <span style="padding-top: 8px;">If you haven't received the OTP on email in 3 min. Please click Button again.</span>
            </div>

        </div>
    </form>
</div>
<!-- 拍照顯示區 START -->
<div id="photodiv" name="photodiv" style="display:none;margin:0 auto;width:468px;height:352px;border:1px solid #000">
    <div id="" name="" class="" style=" width: 90%; height: 350px; border: solid 0px #27B1FF;  float: left;">

        <div>
            <!-- canvas 会挡住 它下面的div的click..-->

            <video id="video" name="" autoplay width="466" height="350" style="float:left;margin-top:0px;"></video><!--注意width,height的设定 -->
            <canvas id="canvas" name="" width="466" height="350" style="float:left;margin-top:-350px;"></canvas>
        </div>

    </div>
    <div>
        <div class="buttonSet" id="snap" name="" style="display:none;vertical-align: middle; float:right; width:165px; ">Snap Shot</div>
        <div class="buttonSet" id="acceptpic" name="" style="display:none;vertical-align: middle; float: right; width:85px; ">Yes</div>
        <div class="buttonSet" id="nophoto" name="" style="display:none;vertical-align: middle; float: right; width:85px; ">No</div>
    </div>
</div>
<!-- 拍照顯示區 END -->
<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>

        <div class="col-md-6 col-lg-6" id="divfiletable" name="">
            <table id="filetable" name="filetable" width="100%" border="0" cellspacing="0" cellpadding="0">
                @*  <tr>
            <td width="100" rowspan="2" align="center" valign="middle">
                <div style="height: 27px;"><img src="images/iconPatientFileType_s2.png"></div>
                <div style="margin-top: -10px; margin-bottom: 14px;">JPG</div>
            </td>
            <td width="500">myFile.jpg</td>
            <td>113kb</td>
            <td width="150" rowspan="2" align="center">
                <div style="float: left;">
                    <img style="width: 30px;" src="images/iconPatientUpload.png">
                    <img style="width: 30px; margin-left: 5px;" src="images/iconPatientCancel.png">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="patientProgressBarBg">
                    <div class="patientProgressBar" style="width: 20%"></div>
                </div>
            </td>
        </tr>*@
                <tbody></tbody>
            </table>
        </div>

        <div class="col-md-6 col-lg-6" id="divfiletable2" name="">
            <table id="filetable2" name="filetable2" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody></tbody>
            </table>
        </div>

        <div class="col-md-6 col-lg-6" id="divfiletable3" name="">
            <table id="filetable3" name="filetable3" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-6 col-lg-6" id="divfiletable4" name="">
            <table id="filetable4" name="filetable4" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody></tbody>
            </table>
        </div>

        <div style="float: right;">
            <div class="buttonSet" id="uploadAllDiv" name="" style="margin: 15px 0 0px 20px; width:125px">Upload</div>
        </div>


    </div>


</div>

