﻿@*@Model DataModel.Users*@
@{
    ViewBag.Title = "PatientUpload";
}
<script>

    var filesMap = new Map();
    $(document).ready(function () {

        var dp = document.getElementById('dragDiv');

        dp.ondragover= function (e) {
            //e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';
        };
        dp.ondrop= function (e) {
           // e.stopPropagation();
            e.preventDefault();

            var files = e.dataTransfer.files;
            // do something upload
            var flnames = new Array;
            var thisval = '';

            for (var i = 0; i < files.length; ++i) {
                var tpname = files[i].name;
                if (!checkFileName(tpname)) {
                    alert(tpname + ' is existed,file can\'t be duplicated. ');
                    continue;
                }
                flnames.push(files[i]);

                thisval = thisval + files[i].name;
                if (i != files.length - 1)
                    thisval = thisval + ",";
            }
            if (flnames.length == 0)
                return;
            var medicalno = '@Model.medical_recno';
            var nativeid = '@Model.id_number';
            var firstname = '@Model.user_name';
            var lastname = '';

            var studydate = new Date;
            var refphysician = '';
            var department = '@Model.department_id';
            var comment = '';

            var filestrs = $.md5( thisval);//escape

            var uploadfiles = thisval.split(",");

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, report_type: '',
                comment: comment, upload_files:uploadfiles
               }];

            uploadInfo(uploadmodel, flnames, filestrs);

            
        };

           $('#file').change(function () {

            if ($(this).val() == '')
                return false;
               // alert($(this).val());
               var flnames = new Array;
               var uploadfiles = new Array;

            for (var i = 0; i < this.files.length; ++i) {
                var tpname = this.files[i].name;
                //
                if (!checkFileName(tpname)) {
                    alert(tpname + ' is existed,file can\'t be duplicated. ');
                    continue;
                }
                    

                flnames.push(this.files[i]);

                uploadfiles.push(this.files[i].name);
            }
            if (flnames.length == 0)
                   return;
            var medicalno = '@Model.medical_recno';
            var nativeid = '@Model.id_number';
            var firstname = '@Model.user_name';
            var lastname = '';

            var studydate = new Date;
            var refphysician = '';
            var department = '@Model.department_id';
            var comment = '';

            var filestrs = $.md5(($(this).val()));//escape
               /*
              // alert($(this).val());
            var uploadfiles = $(this).val().split(",");
               if (uploadfiles.length < flnames.length && uploadfiles.length > 0) {
                   var path = uploadfiles[0];
                   path = path.substr(0, path.lastIndexOf("\\") + 1);
                   //path = '';//to short
                   uploadfiles = new Array;
                   for (var ii = 0; ii < flnames.length; ++ii) {
                       uploadfiles.push(path + flnames[ii].name);
                   }
                  // alert(uploadfiles);
            }*/

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, report_type: '',
                comment: comment, upload_files:uploadfiles
               }];

               uploadInfo(uploadmodel, flnames, filestrs);

               @*
            ////直接提交json数组
            $.post('@Url.Action("UploadId", "Home")', { uploads: uploadmodel }, function (result) {

                //alert(result.message);
                if (result.state == "1") {

                    for (var i = 0; i < flnames.length; ++i) {
                        //alert(this.files[i].name);
                        var sname = flnames[i].name;
                        var type = (sname.substr(sname.lastIndexOf("."))).toUpperCase();
                        var lid = filestrs + '_' + i;

                        var row = '  <tr id = "' + lid + '" name = "" > '
                    +'<td rowspan="2" align="center" valign="middle"> '
                        + '    <div><img src=\'@Url.Content("~/Content/images/iconPatientFileType.png")\'></div> '
                        + '    <div style="margin-top: -50px; margin-bottom: 26px;">' + type + '</div> '
                    +'</td> '
                            + '<td width="56%">' + sname + '</td> '
                            + '<td>' + Math.ceil(flnames[i].size / 1024) + 'kb </td > '
                    +'<td width="10%" rowspan="2" align="center" valign="middle"> '
                    +'    <div><img src=\'@Url.Content("~/Content/images/iconPatientUpload.png")\'></div> '
                    +'</td> '
                            + '<td width="10%" rowspan="2" align="center" valign="middle"> '
                            + '    <div><img src=\'@Url.Content("~/Content/images/iconPatientCancel.png")\' onclick="delRow(\'' + lid + '\')"></div> '
                    +'</td> '
                    +'</tr> '

                    //
                    $('#filetable tbody:last').append(row);

                        var row2 = '<tr id="' + lid + '_2" name="' + lid + '_2"><td colspan ="2"><div class="patientProgressBarBg"> <div class="patientProgressBar" style="width:20%"></div> </div> '
                     +' </td><td></td> </tr >';

                     //   row2 = '<tr id="' + filestrs + '_2" name="' + filestrs + '_2"><td colspan="2"><div class="patientProgressBarBg" ><div class="patientProgressBar" style="width: 20%" ></div></div> '
                     //   + '</td><td></td></tr>';

                      //  $('#filetable tbody:last').append(row + row2);
                        $('#filetable tbody:last').append( row2);
                    }
                }

               }, "json");
               *@

            //$(this).val('');//操作结束清空input中的内容
        });

        $('#uploadAllDiv').click(UploadAllFile);

        $('#opencamera').click(opencamera);

        $('#snap').click(takepicture);
        $('#acceptpic').click(acceptpicture);
    });
    function progressBarStart (lid) {
        // $("#progressbar_container").show();
        $("#" + lid + "_prog").css("width", "0%");

        }

    function progressBarUpdate(lid,percentage) {
            //$('#progressbar_label').html(percentage + "%");
        //$("#progressbar").width(percentage + "%");
        $("#" + lid + "_prog").css("width", percentage + "%");
        }

    function progressBarComplete(lid) {
            //$("#progressbar_container").fadeOut(500);
        $("#" + lid + "_prog").css("width", "100%");

        //
        $("#" + lid + "_up").html("");
        $("#" + lid + "_del").html("complete");

        }

    function uploadCompleted(filename,uploadId,lid) {
            var formData = new FormData();
            formData.append('fileName', filename);
            formData.append('completed', true);
            formData.append('uploadId', uploadId);

            var xhr2 = new XMLHttpRequest();
            xhr2.onload = function () {
                progressBarUpdate(lid,100);
                progressBarComplete(lid);
            }

        xhr2.open("POST", '@Url.Action("UploadComplete", "Home")' + "?fileName=" + encodeURIComponent(filename) + "&complete=" + 1 + "&uploadId=" + uploadId, true);
            xhr2.send(formData);

            filesMap.delete(filename);
            //
            $("#filetable tr").each(function () {

                /*
                if ($(this).find("input[type='hidden']").val() == filename) {

                    var id = $(this).attr("id");
                    id = id + "_2";

                    $(this).remove();

                    var div2 = $("#filetable tr[id='" + id + "']");
                    if (div2)
                        div2.remove();
                }
                */
            });

        }

    
    function multiUpload(count, counter, blob, completed, start, end, bytesPerChunk,filename,uploadid,lid) {
            counter = counter + 1;
            if (counter <= count) {

                var chunk = blob.slice(start, end);

                
                var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    start = end;
                    end = start + bytesPerChunk;
                    if (count == counter) {
                        uploadCompleted(filename,uploadid,lid);
                    } else {
                        var percentage = (counter / count) * 100;
                        progressBarUpdate(lid,percentage);
                        multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid,lid);
                    }
                }
                xhr.open("POST", '@Url.Action("MultiUpload", "Home")' + "?chunkNumber=" + counter.toString() + "&fileName=" + encodeURIComponent(filename) + "&uploadId=" + uploadid, true);
                xhr.send(chunk); 

                     
                        }
        }

        //
        function startUploadFile(lid) {

            var tr = $("#filetable tr[id='" + lid + "']");//$('#filetable input[type="hidden"]');
            var inputs = $(tr).find("input[type='hidden']");

            if (inputs && inputs.length > 0) {

                for (var i = 0; i < inputs.length; ++i) {

                    var hidinput = inputs[i];

                    var uploadid = $(hidinput).attr("id");
                    var longfile = $(hidinput).val();
                    //
                    var fileobj = filesMap.get(longfile);

                    //
                    if (!fileobj)
                        continue;

                    var filename = longfile;//fileobj.name;

                    var blob = fileobj;
                    var bytesPerChunk = 3757000;//1024*1024*2;//
                    var size = blob.size;

                    var start = 0;
                    var end = bytesPerChunk;
                    var completed = 0;
                    var count = size % bytesPerChunk == 0 ? size / bytesPerChunk : Math.floor(size / bytesPerChunk) + 1;
                    var counter = 0;
                    progressBarStart(lid);

                    multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid,lid);

                }

                //AllUpload(uploadid);

            }

    }
    function checkFileName(flname) {

        var result = false;
        //要用同步模式.
        $.ajax({
            type: "post",
            url: '@Url.Action("CheckFile", "Home")',
            data: { fileName: flname },
            async: false,
            success: function (data,status) {
               // data = eval("(" + data + ")");

                if (data.state == "success")
                    result = true;
                else
                    result = false;
            }
        }); 
        //异步
        /*$.post('Url.Action("CheckFile", "Home")', { FileName: flname }, function (result) {
        },"json");*/
        return result;
    }
    //
    function UploadAllFile() {

        $("#filetable").find('tr').each(function () {
            var lid = $(this).attr("id");
            var div = $(this).find('div[id="' + lid + '_up"]');
            if (div && div.length >0) {
               // alert(lid);
                startUploadFile(lid);
            }
        });

        $('#uploadAllDiv').css("display", "none");

    }
        function AllUpload(uploadid) {

        $.post('@Url.Action("AllUploaded", "Home")', { uploadId: uploadid }, function (result) {

            alert(result.message);
        },"json");
    }
    ///flnames 在change及drop时存在是file对象，拍照 时存的是blob..
    function uploadInfo(uploadmodel,flnames,filestrs,blobnames) {

        if (!uploadmodel)
            return;
          ////直接提交json数组
            $.post('@Url.Action("UploadId", "Home")', { uploads: uploadmodel }, function (result) {

                //alert(result.message);
                if (result.state == "1") {

                    for (var i = 0; i < flnames.length; ++i) {
                        //alert(this.files[i].name);
                        var sname = '';
                        if (blobnames)
                            sname = blobnames[i];
                        else
                            sname = flnames[i].name;

                        var type = (sname.substr(sname.lastIndexOf("."))).toUpperCase();
                        var lid = filestrs + '_' + i;

                        var row = '  <tr id = "' + lid + '" name = "" > '
                    +'<td rowspan="2" align="center" valign="middle"> '
                        + '    <div><img src=\'@Url.Content("~/Content/images/iconPatientFileType.png")\'></div> '
                        + '    <div style="margin-top: -50px; margin-bottom: 26px;">' + type + '</div> '
                    +'</td> '
                            + '<td width="56%">' + sname + '</td> '
                            + '<td>' + Math.ceil(flnames[i].size / 1024) + 'kb </td > '
                            + '<td width="10%" rowspan="2" align="center" valign="middle"> '
                            + '    <div id="' + lid + '_up" name=""><img src=\'@Url.Content("~/Content/images/iconPatientUpload.png")\' onclick="startUploadFile(\'' + lid + '\')"></div> '
                    +'</td> '
                            + '<td width="10%" rowspan="2" align="center" valign="middle"> '
                            + '    <div id="' + lid + '_del" name=""><img src=\'@Url.Content("~/Content/images/iconPatientCancel.png")\' onclick="delRow(\'' + lid + '\')"></div> '
                            + '</td> '
                            + '<td><input type="hidden" id="' + result.upload_id + '" name="" value="' + uploadmodel[0].upload_files[i] + '"></td>'
                            + '</tr> '

                        //alert(row);
                    //
                    $('#filetable tbody:last').append(row);

                        var row2 = '<tr id="' + lid + '_2" name="' + lid + '_2"><td colspan ="2"><div class="patientProgressBarBg"> <div class="patientProgressBar" id="' + lid +'_prog"  name="progress" style="width:0%"></div> </div> '
                     +' </td><td></td> </tr >';

                     //   row2 = '<tr id="' + filestrs + '_2" name="' + filestrs + '_2"><td colspan="2"><div class="patientProgressBarBg" ><div class="patientProgressBar" style="width: 20%" ></div></div> '
                     //   + '</td><td></td></tr>';

                      //  $('#filetable tbody:last').append(row + row2);
                        $('#filetable tbody:last').append(row2);

                        //----------------------------------------------------//
                        var longfile = uploadmodel[0].upload_files[i];
                        var ldx = longfile.lastIndexOf("\\");
                        var shortfile = longfile.substr(ldx + 1);
                        for (var k = 0; k < flnames.length; ++k) {
                            var llname = '';
                            if (blobnames)
                                llname = blobnames[k];
                            else
                                llname = flnames[k].name;

                            if (llname == shortfile) {
                                filesMap.set(longfile, flnames[k]);
                            }
                        }

                    }
                    //
                    $('#uploadAllDiv').css("display", "block");
                }

            }, "json");

    }
    function delRow(obj) {

        var tr = $("#filetable tr[id='" + obj + "']");
        if (tr) {
            // alert(tr.html());
            tr.remove();

        }
        tr = $("#filetable tr[id='" + obj + "_2']");
        if (tr) {
            // alert(tr.html());
            tr.remove();

        }
    }
    function opencamera() {
            // Grab elements, create settings, etc.
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var mediaConfig = { video: true };
            var errBack = function (e) {
                console.log('An error has occurred!', e)
        };

        $('#acceptpic').css("display", "none");

        // alert(1);
        var bsupport = false;

            // Put video listeners into place
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia(mediaConfig).then(function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                    bsupport = true;
                    $('#photodiv').css("display", "block");
                });
            }

            /* Legacy code below! */
            else if (navigator.getUserMedia) { // Standard
                navigator.getUserMedia(mediaConfig, function (stream) {
                    video.src = stream;
                    video.play();
                    bsupport = true;
                    $('#photodiv').css("display", "block");
                }, errBack);
            } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(mediaConfig, function (stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                    bsupport = true;
                    $('#photodiv').css("display", "block");
                }, errBack);
            } else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
                navigator.mozGetUserMedia(mediaConfig, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                    bsupport = true;
                    $('#photodiv').css("display", "block");
                }, errBack);
             }

        if (bsupport) {
            
        }
       
        // Trigger photo take
       // document.getElementById('snap').addEventListener('click', takepicture);

    }
    function takepicture() {

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');

            context.drawImage(video, 0, 0, 640, 480);
        //
        $('#acceptpic').css("display", "block");
        /*
            context.toBlob(function (blob) {
                var newImg = document.createElement('img'),
                    url = URL.createObjectURL(blob);

                newImg.onload = function () {
                    // no longer need to read the blob so it's revoked
                    URL.revokeObjectURL(url);
                };

                newImg.src = url;
                document.body.appendChild(newImg);

        });https://blog.csdn.net/cuixiping/article/details/45932793
        */

    }
    //接收拍照 的图片
    function acceptpicture() {
        //
        var canvas = document.getElementById('canvas');
        var video = document.getElementById('video');

        video.pause();

        var dataurl = canvas.toDataURL('image/png');
       // if (dataurl) alert(dataurl);
        var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
        var tempfilenmae = "capture" + datestr + ".png";

        var blobfile = dataURLtoBlob(dataurl);
        
       // var fileobj2 = new File(blob2, tempfilenmae);
       // alert(fileobj2);

      //  var blobfile = dataURLtoFile(dataurl, tempfilenmae);
    

        var flnames = new Array;
        var uploadfiles = new Array;
        var blobnames = new Array;

        flnames.push(blobfile);

        uploadfiles.push(tempfilenmae);
        blobnames.push(tempfilenmae);

            var medicalno = '@Model.medical_recno';
            var nativeid = '@Model.id_number';
            var firstname = '@Model.user_name';
            var lastname = '';

            var studydate = new Date;
            var refphysician = '';
            var department = '@Model.department_id';
            var comment = '';

        var filestrs = $.md5(tempfilenmae);//escape
          
            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, report_type: '',
                comment: comment, upload_files:uploadfiles
        }];

        uploadInfo(uploadmodel, flnames, filestrs, blobnames);

        $('#photodiv').css("display", "none");
    }
    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], { type: mime });
    }
    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
       // alert(mime);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        var fileobj = new File([u8arr], filename, { type: mime });
        if ($.isEmptyObject(fileobj))
            alert(0);
        else
            alert(1);
    }
    // 对Date的扩展，将 Date 转化为指定格式的String   
// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，   
// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)   
// 例子：   
// (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423   
// (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18   
    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }
</script>
<div class="pageContentPosition ">

    <div class="allTextSetBlue" style="width: 50%; float: left;">
        <span>Department</span>
        <input type="text" id="" name="" class="inputFieldSet" style="width:100%; margin-top: 10px; float: left;">
        <div style="margin: -30px 0 0 375px; padding: 0; float: left;">
            <img src=‘@Url.Content("~/Content/images/iconTriangle.png")>
        </div>
    </div>

    <div class="dragAndDropUploadBg centerAsText textVerticalAlign" id="dragDiv" name="dragDiv" style="height: 350px; margin-top: 50px; line-height: 50px;">
        <img src='@Url.Content("~/Content/images/IconUpload.png")'><br>
        <span class="allTextSetGray">Drop to upload your file or</span>
        <input style="display: none;" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
        <label for="file"><div class="buttonSet" style="margin-left: 210px; width: 250px;" id="">Choose a file</div></label>
        <span class="allTextSetGray">Support Types：DICOM, JPG, GIF, PNG, PDF, MP4, AVI ,XML</span>
    </div>
    <div style="float: right;">
        <button id="opencamera" name="opencamera" class="buttonSet" style="margin: -203px 240px 0 0; width:75px; height: 45px;"></button>
        <div onclick="opencamera()" style="margin: -121px 0 0 22px"><img src='@Url.Content("~/Content/images/iconCamera.png")'></div>
    </div>
    <div id="photodiv" name="photodiv" style="display:none; width:100%">
        <div>
            <video id="video" name="" width="640" height="480" autoplay style="float:left"></video>
            <div id="snap" name="" class="buttonSet" style="width:80px;float:left">Snap</div>
        </div>
        <div>
            <canvas id="canvas" name="" width="640" height="480" style="float:left"></canvas>
            <div id="acceptpic" name="" class="buttonSet" style="display:none;width:80px;float:left">Accept</div>
        </div>
    </div>
    <div class="patientUploadConfirm allTextSetGray" style="height:352px;overflow-y:auto;">
        <!--366px-->

        <table width="100%" border="0" id="filetable" name="filetable" cellspacing="0" cellpadding="0">
            <tbody>
                @*
                    <tr>
                        <td rowspan="2" align="center" valign="middle">
                            <div><img src='@Url.Content("~/Content/images/iconPatientFileType.png")'></div>
                            <div style="margin-top: -50px; margin-bottom: 26px;">JPG</div>
                        </td>
                        <td width="56%">myFile.jpg</td>
                        <td>113kb</td>
                        <td width="10%" rowspan="2" align="center" valign="middle">
                            <div><img src='@Url.Content("~/Content/images/iconPatientUpload.png")'></div>
                        </td>
                        <td width="10%" rowspan="2" align="center" valign="middle">
                            <div><img src='@Url.Content("~/Content/images/iconPatientCancel.png")'></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="patientProgressBarBg">
                                <div class="patientProgressBar" style="width: 20%"></div>
                            </div>
                        </td>
                    </tr>*@
            </tbody>
        </table>

        <div style="float: right;">
            <!-- 15px-->
            <div class="buttonSet" style="margin: 2px 0 0 20px; width:125px;display:none" id="uploadAllDiv" name="">UploadAll</div>
        </div>

    </div>
</div>
