﻿
@{
    /**/


    ViewBag.Title = "SendDownloadLink";
    string userid_id = ViewBag.user_id_id as string;
}
<style>
    .bgRed {
        background-color: #DCDCDC;
    }

    .buttonSetCur {
        height: 43px;
        width: 80px;
        border-radius: 6px;
        border: rgba(0,175,236,1.00) solid 1px;
        color: #ffffff;
        background: #ff0000;
    }
</style>

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record Number</span>
                <input type="text" id="medicno" name="medicno" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Native ID</span>
                <input type="text" id="nativeid" name="nativeid" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Name</span>
                <input type="text" id="name" name="name" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Modality Type</span>
                <select required class="dragDownMenuSet " id="modalities" name="modalities" style="width:100%;">
                    <option value="" selected>Modality Type</option>
                    <option value="CT">CT</option>
                    <option value="DX">DX</option>
                    <option value="MR">MR</option>
                    <option value="US">US</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date From </span>
                <input type="text" id="studydate" name="studydate" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date To</span>
                <input type="text" id="studydate2" name="studydate2" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate2').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Upload Date From </span>
                <input type="text" id="uploaddate" name="uploaddate" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#uploaddate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Upload Date To</span>
                <input type="text" id="uploaddate2" name="uploaddate2" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#uploaddate2').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Ref. Physician</span>
                <input type="text" id="refphysician" name="refphysician" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select required name="dept" class="dragDownMenuSet " id="dept" style="width:100%;">
                    <option selected value="">Department</option>
                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                </select>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <button type="button" id="search" name="search" class="btn btn-success" style="width: 100%;">Search</button>
                    @*<div class="buttonSet" id="search" name="search" style="width: 100%;">Search</div>*@
                </div>
            </div>

        </div>
    </form>
</div>

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" id="downloadlist" name="downloadlist" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" style="height: 40px;" id="header" name="header">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>

                    <td onclick="javascript:sortQuery('1')">MRN</td>
                    <td onclick="javascript:sortQuery('2')">Native ID</td>
                    <td onclick="javascript:sortQuery('3')">Patient Name</td>
                    <td onclick="javascript:sortQuery('5')">Study Date</td>
                    <td onclick="javascript:sortQuery('4')">Modality</td>
                    <td onclick="javascript:sortQuery('6')">Upload Date</td>
                    <!--<td bgcolor="#00AFEC" onclick="javascript:sortQuery('7')">Ref. Physician</td>-->
                    <td onclick="javascript:sortQuery('8')">Department</td>
                    <td onclick="">File Name</td>
                    <td>View</td>
                </tr>
            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

        <div style="float: right;">
            <a href="#sendChk" onclick="showSend()"><div class="buttonSet" id="send" name="send" style="margin: 15px 0 0px 20px; width:125px">Send</div></a>
        </div>
    </div>
</div>


<div class="setPopupArea flexVerSet overlay" style="width: 100%; height: 100%;  display:none ;" id="sendChk">
    <div class="flexHorSet popup" style="width: 470px;">
        <span class="allTextSetGray" id="linktext" name="" style="font-size: 18px; float: left;">Would you like to send 2 download link</span><br><br>
        <span class="allTextSetBlue" id="sendto" name="" style="font-size: 28px; float: left; display: none;">John Hopkins?</span>

        <div id="remaildiv" style="margin-top: 15px; width: 100%; float: left; display: ;">
            <span class="allTextSetBlue" style="font-size: 20px; margin-top: 5px; margin-right: 28px; float: left;">Email: </span>
            <div>
                <input type="text" id="remail" name="remail" placeholder="" class="inputFieldSet" style="width:71%; float: left;"><!-- 78%-->
            </div>
        </div>

        <div style="margin-top: 15px; width: 100%; float: left;">
            <span class="allTextSetBlue" style="font-size: 20px; margin-top: 5px; margin-right: 18px; float: left;">This link will expire in</span>
            <div>
                <input type="text" id="expiretimes" name="expiretimes" value="1" placeholder="" class="inputFieldSet" style="width:10%; float: left;">
                <select required type="text" id="expiretype" name="expiretype" placeholder="" class="dragDownMenuSet" style="margin: 0 15px 0 2px; width:31%; float: left;">
                    <option selected value="m">Month</option>
                    <option value="d">Day</option>
                    <option value="h">Hour</option>
                </select>
            </div>
        </div>

        <div style="margin-top: 10px; margin-right: 13px; float: right; width: 33%;">
            <div onclick="submitSend()" class="buttonSet" style="margin: 0 auto; width:125px;">Yes</div>
        </div>

    <div style="margin-top: 10px; float: right; width: 33%;">
            <a href="#"><div class="closeBTN" style=" border: none; margin: 0 auto; width:125px;">No</div></a>
        </div>
    </div>
</div>

<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
}

<script>
    var recCountPage = 5;
    var sortby = 6;//1;//date
    var lastsort = 6;
    var order = "desc";
    var selectIDs = [];
    var bRsna = false;// true;

    $(function () {

        $("#studydate").datepicker({ dateFormat: 'yymmdd' });
        $("#uploaddate").datepicker({ dateFormat: 'yymmdd' });
        $("#studydate2").datepicker({ dateFormat: 'yymmdd' });
        $("#uploaddate2").datepicker({ dateFormat: 'yymmdd' });

        $('#search').click(search);

        $('#send').css("visibility", "hidden");
        //
        if (!bRsna)
            $("#remaildiv").css("display", "none");

        $("#all").click(function () {

            var selected = $("#all").prop("checked");// $('#all').attr('checked')


            $("#downloadlist [name='_datacheckbox']").prop("checked", selected);//全选 'true'

            $("#downloadlist [name='_datacheckbox']").each(function () {

                if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");//添加选中样式 ,3个parent..到 tr 层
                else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");

                var ttr = $(this).parent().parent().parent();
                if (selected) {
                    if (inArray($(ttr).attr("id"), selectIDs) < 0) {
                        var vobj = { //yys add custom medno
                            sid: $(ttr).attr("id"), user_idid: $(ttr).attr("name") ,medno: $(this).attr("medno") //this
                        };
                        selectIDs.push(vobj);
                    }
                }
                else {
                    var indx = inArray($(ttr).attr("id"), selectIDs);
                    if (indx >= 0)
                        selectIDs.splice(indx, 1);
                }
                  if (selectIDs.length == 0) {

                                $('#send').css("visibility","hidden");
                            }
                            else {

                                $('#send').css("visibility", "visible");
                            }
            });

        });
        //
        $("#send")
            .click(function () {
                var ic = 0;
                var luserids = [];

                if (selectIDs.length == 0)
                    return;
                for (var i = 0; i < selectIDs.length; ++i) {
                    var user_idid = selectIDs[i].user_idid;
                    if ($.inArray(user_idid, luserids) < 0) {
                        //
                        luserids.push(user_idid);
                    }
                }
                ic = luserids.length;

               // $("#dialog-form").css("display", "block");
                var vlink = "Would you like to send " + ic + " download link?"
                $('#linktext').text(vlink);

               // $("#dialog-form").dialog("open");

            });

        //
        /*
            $("#dialog-form").dialog({
                autoOpen: false,
                height: 300,
                width: 500,
                modal: true,
                dialogClass: "no-close", //removes X from dialog

                buttons: [
                    {
                        text: "Yes",
                        "class": 'buttonSetCur', //calss and style ，改颜色//
                        style: "background:rgba(0,175,236,1.00);color:#ffffff",
                        click: function () {
                            // Cancel code here
                            submitSend();
                        }
                    },
                    {
                        text: "No",
                        "class": 'buttonSetCur',

                        click: function () {
                            // Save code here
                            $("#dialog-form").dialog("close");
                        }
                    }
                ],
                closeOnEscape: false, //hide x icon..
                open: function () {
                    $(".ui-dialog-titlebar-close").hide();  //hide x icon
                    if (bRsna)
                        $('#rmail').focus();
                    else
                        $('#expiretimes').focus();

                },
                close: function () {

                }
        });
        */
    })
        function showSend() {
        $('#sendChk').css("display", "flex");//yys block 与flex布局冲突了
    }
        function stopBubble(e){
if(e && e.stopPropagation){
e.stopPropagation();	//w3c
}else window.event.cancelBubble=true; //IE
}
    function submitSend() {
            var userid_id = '@userid_id';
                            var surl = '@Url.Action("SendDownloadLinkID", "Home")';
                            var expire = $('#expiretimes').val();
                            if (expire == null || expire == "") {
                                swal("Please input expire time");
                                //stopBubble(e);
                                return false;
                            }
                            var extype = $('#expiretype').val();
                            expire = expire + extype;
                            var rsnaMail = $('#remail').val();
                            if (bRsna) {
                                 if (rsnaMail == null || rsnaMail == "") {
                                     swal("Please input Email");
                                     //stopBubble(e);
                                return false;
                                }
                            }

                            var userids = [];
                            /*
                            $("input[name='_datacheckbox']:checked").each(function () { // 遍历选中的checkbox
                               // n = $(this).parents("tr").index();  // 获取checkbox所在行的顺序
                                // $("table#test_table").find("tr:eq(" + n + ")").remove();
                                var ttr = $(this).parent().parent().parent();
                                var tid = ttr.attr("name");
                                var lstudy = ttr.attr("id");
                                var obj = { user_id_id: tid, study_uid: lstudy };

                                userids.push(obj);
                            });*/
                            for (var i = 0; i < selectIDs.length; ++i) {

                                var obj = { user_id_id: selectIDs[i].user_idid, study_uid: selectIDs[i].sid ,medno: selectIDs[i].medno};

                                userids.push(obj);
                            }

                            var pdata = { sendtoUserStudy: userids, expire: expire, creator: userid_id, receivemail: rsnaMail };

                            $.post(surl, pdata, function (result) {

                                if (result.state == "success" || result.state=="1") {

                                    swal(result.message);
                                }
                                else
                                    swal(result.message);

                                // $("#dialog-form").dialog("close");
                                submitCancel();

                            });
    }
    function submitCancel() {
         $('#sendChk').css("display", "none");//yys
    }
    function search() {
        var medicno = $('#medicno').val();
        var nativeid = $('#nativeid').val();
        var name = $('#name').val();
        var studydate = $('#studydate').val();
        var studydate2 = $('#studydate2').val();
        var modalities = $('#modalities').val();
        var uploaddate = $('#uploaddate').val();
        var uploaddate2 = $('#uploaddate2').val();
        var refphysician = $('#refphysician').val();
        var dept = $('#dept').val();


        $('#waiting').css("visibility", "visible");
        selectIDs = [];

        queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, 1);

    }
    function clearParam() {
        $('#medicno').val('');
        $('#nativeid').val('');
        $('#name').val('');
        $('#modalities').val('');
        $('#studydate').val('');
        $('#studydate2').val('');
        $('#uploaddate').val('');
        $('#uploaddate2').val('');
        $('#refphysician').val('');
        $('#dept').val('');

    }
    function clear() {

        $('#downloadlist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });

        $("#all").prop("checked", false);
    }
    function sortQuery(sid) {

         var lc = $("#downloadlist").find("tr").length;
        if (lc <= 1)
            return;

        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        $('#search').click();


    }
    function inArray(suid,arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
    function freshSelect() {
        //
        $("#downloadlist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }

        });

        if (selectIDs.length == 0)
            $("#all").prop("checked",false);//

    }
    function queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, pageIndex) {

        clear();

        var url = '@Url.Action("QueryDownload", "Home")';
        var data = {
            medicno:medicno, nativeid: nativeid, name: name,
            studydate: studydate, studydate2: studydate2, modalities: modalities, uploaddate: uploaddate, uploaddate2: uploaddate2,
            refphysician:refphysician, dept:dept,
            pageLimit:recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
        };
        $.post(url, data, function (result) {

            clear();

            $('#waiting').css("visibility", "hidden");

            if (result.state == "1" || result.state == "success") {

                var retdats = result.data.datas;

                if (!retdats)
                    return;
                if (retdats.length == 0) {
                    swal('No results found');
                    clearParam();

                }
                var pagecount = result.data.pageCount;
                //swal(pagecount);

                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var medical_num = item.medical_num;
                    var native_id1 = item.native_id;
                    var first_name = item.first_name
                    var middle_name = item.middle_name;
                    var last_name = item.last_name;
                    var pname = "";
                    if (last_name && last_name != "") {
                        pname = $.trim(last_name); //remove head and tail empty
                    }
                    if (first_name && first_name != "") {
                        if (pname != "")
                            pname = pname + "^";
                        pname = pname + $.trim(first_name);
                    }

                            var create_date1 = item.create_date;
                            var study_date1 = item.study_date;
                    var ref_physician1 = item.ref_physician;

                    var vuserid = item.user_id_id;
                    var vstudyuid = item.study_uid;
                    var modalitys = item.modality;
                    if (!modalitys)
                        modalitys = '';

                    var source_dept1 = item.source_dept;
                    var filename1 = item.org_filename;
                    if (!ref_physician1)
                        ref_physician1 = "";

                    if (!source_dept1)
                        source_dept1 = "";
                    else if (source_dept1.indexOf("$") >= 0) {
                        source_dept1 = source_dept1.substr(source_dept1.indexOf("$") + 1);
                    }
                    if (!filename1) filename1 = '';


                    var dt = create_date1;
                    var date = null;
                    if (dt)
                        date = new Date(+ dt.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                            //
                    var dtstr = '';
                    if (date)
                        dtstr = dateFormat(date, "yyyy-MM-dd");
                    var date2 = null;
                    if (study_date1)
                        data2 = new Date(+ study_date1.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                    var studystr = '';
                    if (date2)
                        studystr = dateFormat(date2, "yyyy-MM-dd");


                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;" > '
                        + ' <input type="checkbox" id="select' + item.upload_id + '" name="_datacheckbox"> '
                        + '    <label for="select' + item.upload_id + '"></label>  </div>  </td> ';

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + vstudyuid + '" name="' + vuserid + '" medno="'+medical_num+'"> '
                        + check
                        + '<td>' + medical_num + '</td> '
                        + '    <td>' + native_id1 + '</td> '
                        + '    <td>' + pname + '</td> '
                       // + '    <td>' + fromname + '</td> '
                        + '    <td>' + studystr + '</td> '

                        + '    <td>' + modalitys + '</td> '

                        + '    <td>' + dtstr + '</td> '
                       // + '    <td>' + filetype + '</td> '

                      //  + '    <td>' + ref_physician1 + '</td> '
                        + '    <td>' + source_dept1 + '</td> '
                        + '    <td>' + filename1 + '</td> '
                        + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconView.png")\' onclick="javascript:actionFileD(\'' + vstudyuid + '\')"><a/></td> '
                                + ' </tr>';

                    $('#downloadlist tbody:last').append(row);

                   }
                         //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#downloadlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                        //
                        if (inArray($(this).attr("id"), selectIDs) < 0) {
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") ,medno: $(this).attr("medno") };
                            selectIDs.push(vobj);
                        }

                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        var indx = inArray($(this).attr("id"), selectIDs) ;
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }
                      if (selectIDs.length == 0) {
                                $('#send').css("visibility","hidden");
                            }
                            else {

                                $('#send').css("visibility", "visible");
                            }
                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                        //
                        if (pagecount > 1) {
                            var pagelink = '';
                            var pagestart = 0;
                            if (pageIndex % 10 == 0)
                                pagestart = parseInt(pageIndex / 10);
                            else
                                pagestart = parseInt(pageIndex / 10) + 1;
                            var ii = (pagestart - 1) * 10, jj = 0;
                            for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                                if (ii + 1 == pageIndex)
                                    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryDownload(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + studydate + '\',\'' + studydate2 + '\',\'' + modalities + '\',\'' + uploaddate + '\',\'' + uploaddate2 + '\',\'' + refphysician + '\',\'' + dept + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                else
                                    pagelink += '<a href="javascript:void(0)"onclick="queryDownload(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + studydate + '\',\'' + studydate2 + '\',\'' + modalities + '\',\'' + uploaddate + '\',\'' + uploaddate2 + '\',\'' + refphysician + '\',\'' + dept + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                //if (ii > 5) {
                                //    pagelink += "...";
                                //    break;
                                //}
                            }
                            //if (ii != pagecount && pageIndex > ii+1) {
                            //    //超过7页情况下，显示当前页
                            //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryDownload(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + studydate + '\',\'' + studydate2 + '\',\'' + modalities + '\',\'' + uploaddate + '\',\'' + uploaddate2 + '\',\'' + refphysician + '\',\'' + dept + '\',' + (pageIndex + 0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                            //}
                            $('#pageLink').html(pagelink);
                            $('#firstPage').unbind('click');
                            $('#firstPage').click(function () {
                                if (pageIndex != 1)
                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, 1);
                            });
                            $('#prevPage').unbind('click');
                            $('#prevPage').click(function () {
                                if (pageIndex > 1) {
                                    var nidx = 1;
                                    if (pageIndex > 10)
                                        nidx = pageIndex - 10;
                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, nidx);//pageIndex - 1);
                                }
                            });
                            $('#nextPage').unbind('click');
                            $('#nextPage').click(function () {
                                if (pageIndex < pagecount) {
                                    var nidx = pageIndex + 10;
                                    if (nidx > pagecount)
                                        nidx = pagecount - 10;
                                    if (nidx <= 0)
                                        nidx = 1;

                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, nidx);//pageIndex + 1);
                                }
                            });
                            $('#lastPage').unbind('click');
                            $('#lastPage').click(function () {
                                if (pageIndex != pagecount)
                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, pagecount);
                            });
                            $('#scrollNav').css("display", "block");
                        }
                        else
                            $('#scrollNav').css("display", "none");

                    //select....
                freshSelect();

            }
            else
                swal(result.message);
        });
    }

    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }

        function actionFileD(id) {
        //swal("not implemented.");
          var url = '@Url.Action("OpenVNAUpload", "Home")'; //OpenDownload
          url = url + "?studyuid=" + id; //download_uid
            window.open(url);
    }
</script>