﻿@{
    ViewBag.Title = "SendUploadLink";
    string userid_id = ViewBag.user_id_id as string;
}

<style>
    .bgRed {
        background-color: #DCDCDC
    }

    .buttonSetCur {
        height: 43px;
        width: 80px;
        border-radius: 6px;
        border: rgba(0,175,236,1.00) solid 1px;
        color: #ffffff;
    }

    .buttonSetGray {
        background-color: rgba(211,211,211,1.00);
        height: 35px;
        border-radius: 3px;
        border: rgba(211,211,211,1.00)solid 1px;
        color: rgba(255,255,255,1.00);
        font-size: 15px;
        line-height: 33px;
        text-align: center;
    }
</style>

<div style="padding: 15px 15px;">
    <form id="formsearch" name="">
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record Number</span>
                <input type="text" id="medicno" name="medicno" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Native ID</span>
                <input type="text" id="nativeid" name="nativeid" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Name</span>
                <input type="text" id="name" name="name" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select required name="dept" class="dragDownMenuSet " id="dept" style="width:100%;">
                    <option value="" selected>Department</option>
                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                </select>
            </div>
            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <button type="button" id="search" name="search" class="btn btn-success" style="width: 100%;">Search</button>
                    @*<div class="buttonSet" style="width: 100%;" id="search" name="search">Search</div>*@
                </div>
            </div>

        </div>
    </form>
</div>

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" id="divptnlst" name="divptnlst" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" id="ptnlist" name="ptnlist" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="header" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td onclick="javascript:sortQuery('1')">Medical Record No.</td>
                    <td onclick="javascript:sortQuery('2')">Native ID</td>
                    <td onclick="javascript:sortQuery('3')">Patient Name</td>
                    <td>Department</td>
                    <td>View</td>
                </tr>

            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

        <div style="float: right;">
            <a href="#sendChk" @*onclick="showSend()"*@ data-toggle="modal" data-target="#sendChkModal"><div class="buttonSet" id="send" name="send" style="margin: 15px 0 0px 20px; width:125px">Send</div></a>
        </div>

    </div>
</div>

<div class="setPopupArea flexVerSet overlay" id="sendChk">
    <div class="flexHorSet popup" style="width:470px;">
        <span class="allTextSetGray" id="linktext" name="linktext" style="padding-bottom: 20px;">Would you like to send 2 upload link</span>
        <span class="allTextSetBlue" style="padding-left: 20px; display: none;">John Hopkins?</span>

        <div class="flexHorSet" style="width: 100%;">
            <span class="allTextSetBlue" style="padding-right: 18px; padding-top: 9px;">This link will expire in</span>
            <a class="close" href="#" style="z-index:1">&times;</a>
            <div class="allTextSetBlue" style="width: 60px;">
                <input type="text" id="expiretimes" name="expiretimes" value="1" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue" style="width: 130px; padding-right: 12px;">
                <select class="dragDownMenuSet " id="expiretype" name="expiretype" style="width:100%;">
                    <option value="m">Month</option>
                    <option value="d">Day</option>
                    <option value="h">Hour</option>
                </select>
            </div>
        </div>

        <div class="flexHorSet" style="width: 60%;">
            <div style="margin-top: 10px; width: 50%;">
                <div class="buttonSet" onclick="submitSend()" style="margin: 0 auto; width:125px;">Yes</div>
            </div>

            <div style="margin-top: 10px; width: 50%;">
                <a href="#"><div class="closeBTN" style=" border: none; margin: 0 auto; width:125px;">No</div></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendChkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle" style="text-align:center;">Would you like to send 2 upload link <br /> This link will expire in</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="flexHorSet" style="width: 100%;">
                        <div class="allTextSetBlue" style="width: 60px;">
                            <input type="text" id="expiretimes" name="expiretimes" value="1" class="inputFieldSet" style="width:100%;">
                        </div>
                        <div class="allTextSetBlue" style="width: 130px; padding-right: 12px;">
                            <select class="dragDownMenuSet " id="expiretype" name="expiretype" style="width:100%;">
                                <option value="m">Month</option>
                                <option value="d">Day</option>
                                <option value="h">Hour</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="submitSend()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>ID Number</span>
                        <input type="text" id="proidno" name="proidno" class="inputFieldSet" style="width:100%;" value="" disabled>
                    </div>
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Name</span>
                        <input type="text" id="prousername" name="prousername" class="inputFieldSet" style="width:100%;" value="" disabled>
                        <input type="hidden" id="prouser_id" name="prouser_id" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Medical Record No.</span>
                        <input type="text" id="promedrecno" name="promedrecno" class="inputFieldSet" style="width:100%;" value="" disabled>
                    </div>
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Gender</span>
                        <select name="progender" class="dragDownMenuSet " id="progender" style="width:100%;" disabled>
                            <option value="" selected>Choose Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Birthday</span>
                        <input type="text" id="probirthday" name="probirthday" placeholder="yyyymmdd" class="inputFieldSet" onblur="" style="width:100%;" value="" disabled>
                    </div>
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Address</span>
                        <input type="text" id="proaddress" name="proaddress" class="inputFieldSet" style="width:100%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Phone Number</span>
                        <input type="text" id="prophone" name="prophone" class="inputFieldSet" style="width:100%;" disabled>
                    </div>
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>E-mail</span>
                        <input type="text" id="proemail" name="proemail" class="inputFieldSet" style="width:100%;" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Department</span>
                        <select id="prodepartment" name="prodepartment" class="dragDownMenuSet" style="width:100%;" disabled>
                            <option value="" selected></option>
                            @if (ViewBag.departments != null)
                            {
                                foreach (var dept in ViewBag.departments)
                                {
                                    <option value="@dept.department_id">@dept.department_name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="allTextSetBlue col-md-6 col-lg-6">
                        <span>Group</span>
                        <select name="usergroup" class="dragDownMenuSet" id="usergroup" style="width:100%;" disabled>
                            <option value="" selected></option>
                            <option value="P">Patient</option>
                            <option value="Y">Physician</option>
                            <option value="N">Nurse</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
}

<script>
    var recCountPage = 5;
    var sortby = 1;//date
    var lastsort = 1;
    var order = "asc";

    var selectIDs = [];
   // var b = jQuery.noConflict();

    jQuery(document).ready(
        function () {

            $('#send').css("visibility","hidden");

            $('#search').click(function () {

                var medicno = $('#medicno').val();
                var nativeid = $('#nativeid').val();
                var name = $('#name').val();
                var dept = $('#dept').val();

                selectIDs = [];
                $('#waiting').css("visibility", "visible");

                queryPatient(medicno, nativeid, name,dept, 1);   //page start from 1

            });

            $("#all").click(function () {

                var selected = $("#all").prop("checked");// $('#all').attr('checked')


                    $("[name='_datacheckbox']").prop("checked", selected);//全选 'true'
                   
                $("[name='_datacheckbox']").each(function () {

                    if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                        $(this).parent().parent().parent().toggleClass("bgRed");//添加选中样式 ,3个parent..到 tr 层
                    else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                        $(this).parent().parent().parent().toggleClass("bgRed");

                    var ttr = $(this).parent().parent().parent();
                    if (selected) {
                        if (inArray($(ttr).attr("id"), selectIDs) < 0) {
                            var vobj = {//$(this) is not tr...
                                sid: $(ttr).attr("id"), user_idid: $(ttr).attr("name")
                            };
                            selectIDs.push(vobj);
                        }
                    }
                    else {
                        var indx = inArray($(ttr).attr("id"), selectIDs);
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }
                       if (selectIDs.length == 0) {

                                $('#send').css("visibility","hidden");
                            }
                            else {

                                $('#send').css("visibility", "visible");
                            }

                    });

            });

            $("#dialog-form").dialog({
                autoOpen: false,
                height: 300,
                width: 500,
                modal: true,
                dialogClass: "no-close", //removes X from dialog
               
                buttons: [
                    {
                        text: "Yes",
                        "class": 'buttonSetCur', /*calss and style ，改颜色*/
                        style: "background:rgba(0,175,236,1.00);color:#ffffff",
                        click: function () {
                            // Cancel code here
                              var userid_id = '@userid_id';
                            var surl = '@Url.Action("SendUploadLinkID", "Home")';
                            var expire = $('#expiretimes').val();
                            if (expire == null || expire == "") {
                                swal("Please input expire time");
                                return;
                            }
                            var extype = $('#expiretype').val();
                            expire = expire + extype;

                            var userids = [];


                            for (var i = 0; i < selectIDs.length; ++i) {

                                var obj = selectIDs[i].user_idid;

                                userids.push(obj);
                            }

                            

                            var pdata = { userids: userids, expire: expire, creator: userid_id };

                            $.post(surl, pdata, function (result) {

                                if (result.state == "success" || result.state=="1") {

                                    swal(result.message);
                                }
                                else
                                    swal(result.message);

                                $("#dialog-form").dialog("close");

                            });
                        }
                    },
                    {
                        text: "No",
                        "class": 'buttonSetCur',

                        click: function () {
                            // Save code here
                            $("#dialog-form").dialog("close");
                        }
                    }
                ],
                closeOnEscape: false, //hide x icon..
                open: function () {
                        $(".ui-dialog-titlebar-close").hide();  //hide x icon
                    $('#expiretimes').focus();
                },
                close: function () {

                }
            });


    $( "#send" )
     // .button()
        .click(function () {
            //var bsel = false;
            var ic = 0;
            var luserids = [];

            if (selectIDs.length == 0)
                return;
            for (var i = 0; i < selectIDs.length; ++i) {
                var user_idid = selectIDs[i].user_idid;
                if ($.inArray(user_idid, luserids) < 0) {
                    //
                    luserids.push(user_idid);
                }
            }
            ic = luserids.length;

          //  $("#dialog-form").css("display", "block");
            var vlink = "Would you like to send " + ic + " upload link?"
            $('#linktext').text(vlink);

            $( "#dialog-form" ).dialog( "open" );

                });


            //-------------
         $("#divProfile").dialog({
                autoOpen: false,
                height: 620,
                width: 630,
             modal: true,
                title:'User Profile',
             buttons: {
                 "Ok": function () {
                     $(this).dialog("close");
                 }
                 ,
             },
                close: function () {
                }
            });

        });
    function showprofile(ev) {
          $('#profileChk').css("display", "flex");
    }
    function showSend() {
        $('#sendChk').css("display", "flex");
    }
    function submitSend() {
        var userid_id = '@userid_id';
        var surl = '@Url.Action("SendUploadLinkID", "Home")';
        var expire = $('#expiretimes').val();
        if (expire == null || expire == "") {
            swal("Please input expire time");
            return;
        }
        var extype = $('#expiretype').val();
        expire = expire + extype;

        var userids = [];

        for (var i = 0; i < selectIDs.length; ++i) {
            var obj = selectIDs[i].user_idid;
            userids.push(obj);
        }

        var pdata = { userids: userids, expire: expire, creator: userid_id };

        $.post(surl, pdata, function (result) {

            if (result.state == "success" || result.state == "1") {
                swal(result.message);
            }
            else
                swal(result.message);
            $('#sendChk').css("display", "none"); ///yys
        });
    }
    function cancelSend() {
        $('#sendChk').css("display", "none");
    }
       function cancelProfile() {
        $('#profileChk').css("display", "none");
    }

    function checkitem(object) {

        var checkbox = $(this).find("[name = '_datacheckbox']")[0];
        swal(checkbox);
        var checked = checkbox.prop("checked");

        if (checked)
            checked = false;
        else
            checked = true;
        $(checkbox).prop("checked", checked);
        swal(checked);
        //
        if (checked && !$(checkbox).parent().parent().parent().hasClass("bgRed"))
            $(checkbox).parent().parent().parent().toggleClass("bgRed");
        else if (!checked && $(checkbox).parent().parent().parent().hasClass("bgRed"))
            $(checkbox).parent().parent().parent().toggleClass("bgRed");

        return false;

    }
        function clearParam() {
        $('#medicno').val('');
        $('#nativeid').val('');
        $('#name').val('');

        $('#dept').val('');

    }
function clear() {
    $('#ptnlist tr').each(function () {
        if ($(this).attr("id") != "header")
            $(this).remove();
    });

    $("#all").prop("checked", false);

    }
    function sortQuery(sid) {

        var lc = $("#ptnlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;


        $('#search').click();

        //
    }
    function inArray(suid, arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
    function freshSelect() {
        //divptnlst
        $("#ptnlist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }

        });

        if (selectIDs.length == 0)
            $("#all").prop("checked", false);//

    }
    function stopBubble(e){
                if(e && e.stopPropagation){
                e.stopPropagation();	//w3c
        }
        else window.event.cancelBubble = true; //IE
     }
    function queryPatient(medicno,nativeid,name,dept,pageIndex) {

        clear();

        var url = '@Url.Action("GetPatients", "Home")';

        var data = {
            MedicalNo: medicno, NativeID: nativeid, Name: name, Dept: dept,
            pageLimit: recCountPage, pageIndex: pageIndex, SortBy: sortby,
            Order: order
        };


                $.post(url, data, function (result) {

                    clear(); //再次。。。
                    $('#waiting').css("visibility", "hidden");

                    if (result.state == "1" || result.state=="success") {

                        var retdats = result.data.datas;

                        if (retdats == null)
                            return;
                        if (retdats.length == 0) {
                            swal('No results found');
                            clearParam();
                        }
                        var pagecount = result.data.pageCount;
                        //curPage = pageIndex;
                        $('#divptnlst').css("display", "block");

                        for (var i = 0; i < retdats.length; ++i) {
                            if (i >= recCountPage)
                                break;
                            var item = retdats[i];
                            //
                            var vmedicno = item.medical_recno;
                            if (!vmedicno)
                                vmedicno = '';
                            var vidnumber = item.id_number;
                            if (!vidnumber) vidnumber = '';
                            var vname = item.user_name;
                            if (!vname) vname = '';
                            var vuserid = item.user_id;
                            var vdept = item.department_id;
                            if (vdept) {
                                var tmpdepts = vdept.split("$");
                                if (tmpdepts.length > 1)
                                    vdept = tmpdepts[1];
                            }
                            else
                                vdept = '';

                            var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;" > '
                                + ' <input type="checkbox" id="select' + item.user_id_id + '" name="_datacheckbox"> '
                                + '    <label for="select' + item.user_id_id + '"></label>  </div>  </td> ';

                            var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + item.user_id_id + '" name="' + vuserid + '"> '
                               + check // + '<td> <input type ="checkbox" id ="select' + item.user_id_id + '" name="_datacheckbox"> </td> '
                                + '<td>' + vmedicno + '</td> '
                                + '    <td>' + vidnumber + '</td> '
                                + '    <td>' + vname + '</td> '
                                + '    <td>' + vdept + '</td> '
                                + '   <td><a href="#profileChk" ><i class="fas fa-eye" style="color:gray; font-size:1.5em;" onclick="javascript:stopBubble(event);ViewProfile(\'' + item.user_id_id +'\');"></i></a></td> '; //<img onclick="javascript:stopBubble(event);ViewProfile(\'' + item.user_id_id +'\');" src=\'@Url.Content("~/Content/images/iconView.png")\' />
                                //+ '   <td><a href="#profileChk" ><i class="fas fa-eye" style="color:gray; font-size:1.5em;" onclick="javascript:stopBubble(event);ViewProfile(\'' + item.user_id_id +'\');"></i></a></td> '; //<img onclick="javascript:stopBubble(event);ViewProfile(\'' + item.user_id_id +'\');" src=\'@Url.Content("~/Content/images/iconView.png")\' />
                                + ' </tr>'; //javascript:void(0) onclick="javascript:ViewProfile(\'' + item.user_id_id +'\')"

                            $('#ptnlist tbody:last').append(row);

                        }
                        //
                        $("tr").first().nextAll().click(function (evt) {

                            $(this).toggleClass("bgRed"); //children().
                            if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                                $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....

                                if (inArray($(this).attr("id"), selectIDs) < 0) {
                                    var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                                    selectIDs.push(vobj);
                                }

                            } else {                                  //如果没有被选中
                                $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                                var indx = inArray($(this).attr("id"), selectIDs);
                                if (indx >= 0)
                                    selectIDs.splice(indx, 1);
                            }
                            if (selectIDs.length == 0) {
                                $('#send').css("visibility","hidden");
                            }
                            else {
                                $('#send').css("visibility", "visible");
                            }
                            return false;
                        });
                        //
                        if (pagecount > 1) {
                            var pagelink = '';
                            var pagestart = 0;
                            if (pageIndex % 10 == 0)
                                pagestart = parseInt(pageIndex / 10);
                            else
                                pagestart = parseInt(pageIndex / 10) + 1;
                            var ii = (pagestart - 1) * 10, jj = 0;
                            for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                                if (ii + 1 == pageIndex)
                                    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryPatient(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + dept + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                else
                                    pagelink += '<a href="javascript:void(0)"onclick="queryPatient(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + dept + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                            }

                            $('#pageLink').html(pagelink);
                            $('#firstPage').unbind('click');
                            $('#firstPage').click(function () {
                                if (pageIndex != 1)
                                    queryPatient(medicno, nativeid, name, dept, 1);
                            });
                            $('#prevPage').unbind('click');
                            $('#prevPage').click(function () {
                                if (pageIndex > 1) {
                                    var nidx = 1;
                                    if (pageIndex > 10)
                                        nidx = pageIndex - 10;

                                    queryPatient(medicno, nativeid, name, dept, nidx);// pageIndex - 1);
                                }
                            });
                            $('#nextPage').unbind('click');
                            $('#nextPage').click(function () {
                                if (pageIndex < pagecount) {
                                    var nidx = pageIndex + 10;
                                    if (nidx > pagecount)
                                        nidx = pagecount - 10;
                                    if (nidx <= 0)
                                        nidx = 1;

                                    queryPatient(medicno, nativeid, name, dept, nidx);// pageIndex + 1);
                                }
                            });
                            $('#lastPage').unbind('click');
                            $('#lastPage').click(function () {
                                if (pageIndex != pagecount)
                                    queryPatient(medicno, nativeid, name,dept, pagecount);
                            });
                            $('#scrollNav').css("display", "block");
                        }
                        else
                            $('#scrollNav').css("display", "none");

                        freshSelect();
                    }
                    else
                        swal(result.message);
        });

    }

    function ViewProfile(userid_id) {

        var url = '@Url.Action("GetUser", "User")';
        var data = { user_id_id: userid_id };

        $.post(url, data, function (result) {

            if (result.state == "success" || result.state == "1") {


                var user = result.data;
                //
                $('#prousername').val(user.user_name);
                $('#prouser_id').val(user.user_id);
                $('#proidno').val(user.id_number);
                $('#promedrecno').val(user.medical_recno);
                $('#progender').val(user.gender);
                $('#probirthday').val(user.birthday);
                $('#prophone').val(user.mobile_phone);
                $('#proaddress').val(user.address);
                $('#proemail').val(user.email);
                $('#prodepartment').val(user.department_id);
                $('#usergroup').val(user.role_id);

                //showprofile();

                $('#ProfileModal').modal('show');
            }

        });
       }



</script>
