﻿<link href="~/Content/libs/css/all.css" rel="stylesheet" />
@{
    ViewBag.Title = "UploadFiles";
}

<style>
    .bgRed {
        background-color: #DCDCDC;
    }
</style>

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record Number</span><span style="color:red">*</span> 
                <input type="text" id="medrecno" name="medrecno" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Native ID</span><span style="color:red">*</span>
                <input type="text" id="nativeid" name="nativeid" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>First Name</span><span style="color:red">*</span>
                <input type="text" id="firstname" name="firstname" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Last Name</span>
                <input type="text" id="lastname" name="lastname" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date</span>
                <input type="text" id="studydate" name="studydate" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Ref. Physician</span>
                <input type="text" id="refphysician" name="refphysician" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select name="department" class="dragDownMenuSet " id="department" style="width:100%;">
                    <option selected hidden value=""></option>
                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Comment</span>
                <input type="text" id="comment" name="comment" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 60%;">
                    <input style="display: none;" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                    <!--- <label for="file" style=" width: 100%;"><div class="buttonSet" id="chooseDiv" name="chooseDiv">Choose a file</div></label>-->
                    <label class="requiredHint" for="file" style=" width: 100%;">
                        <div class="buttonSet" onclick="checkchoosefile(event)" id="chooseDiv" name="chooseDiv">Choose a file</div>
                        <span id="requireText" name="" style="visibility:hidden" class="hintText">Please fill all the required fields first!</span>
                    </label>

                </div>
                <div style="width: 35%;" id="divcamera">
                    <div class="buttonSet" id="opencamera" name="opencamera" style="width: 100%;">
                        <div class="flexHorSet" style="margin: 4px 0 0 0"><img src='@Url.Content("~/Content/images/iconCamera.png")'></div>
                    </div><!-- button to div-->
                    <!----<div class="flexHorSet" onclick="opencamera(event)" style="margin: -30px 0 0 0"><img src='@@Url.Content("~/Content/images/iconCamera.png")'></div>-->
                </div>

            </div>
            <div class="allTextSetBlack  col-md-3 col-lg-2">
                <input type="text" id="" name="" class="inputFieldSet" style="width:100%;visibility:hidden">
                <span style="color:red">*</span><span> Indicates required field</span>
            </div>
        </div>
    </form>
</div>

<div id="photodiv" name="photodiv" style="display:none;margin:0 auto;width:468px;height:352px;border:1px solid #000">
    <div id="" name="" class="" style=" width: 90%; height: 350px; border: solid 0px #27B1FF;  float: left;">

        <div>
            <video id="video" name="" autoplay width="466" height="350" style="float:left;margin-top:0px;"></video>
            <canvas id="canvas" name="" width="466" height="350" style="float:left;margin-top:-350px;"></canvas>
        </div>

    </div>
    <div>
        <div class="buttonSet" id="snap" name="" style="display:none;vertical-align: middle; float:right; width:165px; ">Snap Shot</div>
        <div class="buttonSet" id="acceptpic" name="" style="display:none;vertical-align: middle; float: right; width:85px; ">Yes</div>
        <div class="buttonSet" id="nophoto" name="" style="display:none;vertical-align: middle; float: right; width:85px; ">No</div>
    </div>
</div>
<!--Photo display area END -->

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" border="0" id="filetable" name="filetable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="firstrow" name="" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;display:none;">
                            <input type="checkbox" id="all" onclick="selectAll()">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td>Medical Record No.</td>
                    <td>Native ID</td>
                    <td>Patient Name</td>
                    <td>Modality Type</td>
                    <td>Study Date</td>
                    <td>File Name</td>
                    <td>Comment</td>
                    <td>Delete</td>
                </tr>
            </tbody>
        </table>
        <div style="float: right;">
            <div class="buttonSet" id="uploadDiv" name="" style="margin: 15px 0 0px 20px; width:125px">Upload</div>
        </div>
    </div>
</div>


@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
}

<script>
    var borderbak = "#00AFEC";//$("#chooseDiv").css("border-color");
    var ncolor = "#C2C2C2";
    var filesMap = new Map();

    var canvas_tmp = document.createElement("canvas");
    canvas_tmp.id = 'globalcanvas';

    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android terminal
    var IsIos = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios terminal

    var protocolStr = document.location.protocol;
    if (protocolStr == "http:") {
    }
    else if (protocolStr == "https:") {
    }

    function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}

    var mediaStreamTrack;
    $(function () {
        $("#studydate").datepicker({ dateFormat: 'yymmdd' });
    });

    $(document).ready(function () {

        $("#file").attr("disabled", true);
        //$("#chooseDiv").css("background-color", ncolor);
        //$("#chooseDiv").css("border-color", ncolor);
       // $("#opencamera").css("background-color", ncolor);
       // $("#opencamera").css("border-color", ncolor);
        //$("#uploadDiv").css("background-color", ncolor);
        //$("#uploadDiv").css("border-color", ncolor);
        enableUploadDiv();

        var roleid = '@ViewBag.roleid';
        if (roleid == "1") {
            $('#deptDiv').css("display", "none");//visibility hidden
            $('#department').val("@ViewBag.department");
            //alert('n');
        }
        $('#medrecno').blur( function () {
            setValidate();
        });
        $('#nativeid').blur(function () {
            setValidate();
        });
        $('#firstname').blur(function () {
            setValidate();
        });
        $('#lastname').blur(function () {
            setValidate();
        });

        if (IsPC()) {
            //
            //$('#divcamera').hide();
        }
        /*@*
        var dp = document.getElementById('dragDiv');
        //addEventListener('dragover',
        dp.ondragover = function (e) {
            //e.stopPropagation();
            e.preventDefault();
            e.dataTransfer.dropEffect = 'copy';
        };
        //("drop",
        dp.ondrop = function (e) {
           // e.stopPropagation();
            e.preventDefault();

            if ( !validate())
                return;
            var files = e.dataTransfer.files;
            // do something upload
            var flnames = new Array;
            var thisval = '';
            var blobnames = new Array;

            for (var i = 0; i < files.length; ++i) {
                var tpname = files[i].name;
                var tempfilenmae = tpname;

                if (tpname.length > 100) {
                    alert(tpname + " is too long,max length is 100");
                    continue;
                }
                if (FileInList(tpname)) {


                    if (!IsIos && !confirm(tpname + 'is existed,are you sure?')) {
                        continue;
                    }
                    var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                    var type = tpname.substr(tpname.lastIndexOf("."));
                    tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;
                }
                else
                    if (!checkFileName(tpname)) {
                        if (!IsIos && !confirm(tpname + ' is existed, are you sure? ')) { //file can\'t be duplicated.
                            continue;
                        }
                        var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                        var type = tpname.substr(tpname.lastIndexOf("."));
                        tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;
                    }

                flnames.push(files[i]);
                blobnames.push(tempfilenmae);

                thisval = thisval + files[i].name;
                if (i != files.length - 1)
                    thisval = thisval + ",";
            }
            if (flnames.length == 0)
                return;

            var medicalno = $('#medrecno').val().trim();
            var nativeid = $('#nativeid').val().trim();
            var firstname = $('#firstname').val().trim();
            var lastname = $('#lastname').val().trim();
            var studydate = $('#studydate').val().trim();
            var refphysician = $('#refphysician').val().trim();
            var department = $('#department').val();//.trim();
            var comment = $('#comment').val().trim();

            var filestrs = $.md5( thisval);//escape

            var uploadfiles = thisval.split(",");

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, refphysician: refphysician, report_type: '',
                comment: comment, upload_files:uploadfiles
               }];

            uploadInfo(uploadmodel, filestrs,files);

        };*@
        */

        $('#file').change(function () {

            if ($(this).val() == '')
                return false;
            var uploadfiles = new Array();
            var blobnames = new Array; //for Duplicate name....
            var flnames = new Array;
            var thisval = '';

            for (var i = 0; i < this.files.length; ++i) {
                var tpname = (this.files[i].name);
                var tempfilenmae = tpname;

                if (FileInList(tpname)) {

                    if (!IsIos && !confirm(tpname + 'is existed,are you sure?')) {
                        continue;
                    }
                    var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                    var type = tpname.substr(tpname.lastIndexOf("."));
                    tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;

                }
                else if (!checkFileName(tpname)) {
                    if (!IsIos && !confirm(tpname + ' is existed, are you sure?')) {
                        continue;
                    }
                    var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
                    var type = tpname.substr(tpname.lastIndexOf("."));
                    tempfilenmae = tpname.substr(0, tpname.lastIndexOf(".")) + datestr + type;
                }


                flnames.push(this.files[i]);
                blobnames.push(tempfilenmae);
                uploadfiles.push(tempfilenmae);//this.files[i].name);

                thisval = thisval + tempfilenmae;//files[i].name;
                if (i != this.files[i].length - 1)
                    thisval = thisval + ",";

                //uploadfiles.push(this.files[i].name);
            }
            //
            enableUploadDiv();

            if (uploadfiles.length == 0) {

                return;
            }

            var medicalno = $('#medrecno').val().trim();
            var nativeid = $('#nativeid').val().trim();
            var firstname = $('#firstname').val().trim();
            var lastname = $('#lastname').val().trim();
            var studydate = $('#studydate').val().trim();
            var refphysician = $('#refphysician').val().trim();
            var department = $('#department').val();//.trim();
            if (department == '-1')
                department = '';
            var comment = $('#comment').val().trim();

            var filestrs = $.md5(thisval);//escape //($(this).val())

            /*
            var uploadfiles = $(this).val().split(",");
            //
            if (uploadfiles.length < this.files.length && uploadfiles.length > 0) {
                var path = uploadfiles[0];
                path = path.substr(0, path.lastIndexOf("\\") + 1);
                uploadfiles = new Array;
                for (var ii = 0; ii < this.files.length; ++ii) {
                    uploadfiles.push(path + this.files[ii].name);
                }
                // alert(uploadfiles);
            }*/
            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician,source_dept: department, report_type: '',
                comment: comment, upload_files:uploadfiles
            }];

            uploadInfo(uploadmodel, flnames, filestrs, blobnames);//(,filestrs, this.files);
            @*
            ////直接提交json数组
            $.post('@Url.Action("UploadId", "Home")', { uploads: uploadmodel }, function (result) {

                //alert(result.message);
                if (result.state == "1") {

                    var row =
                        '<tr class="allTextSetGray" style="height: 40px;" id="' + filestrs + '" name=""> '
                        + ' <td><div class="checkBoxSet" style="margin: 1px 0 0 6px;"> '
                        + '           <input type="checkbox" id="select' + filestrs + '" name="select' + filestrs + '"> '
                        + '            <label for="select' + filestrs + '"></label></div> '
                        + '   </td> '
                        + '   <td>' + uploadmodel[0].medical_num + '</td>'
                        + ' <td>' + uploadmodel[0].native_id + '</td>'
                        + ' <td>' + uploadmodel[0].last_name + uploadmodel[0].first_name + '</td> '
                        + ' <td>' + uploadmodel[0].report_type + '</td>'
                        + ' <td>' + uploadmodel[0].create_date + '</td>'
                        + ' <td>' + uploadmodel[0].comment + '</td>'
                        + ' <td><a href="#" onclick="delRow(\'' + filestrs + '\')"><img src=@Url.Content("~/Content/images/iconDelete.png")></a></td>'
                        + '<td><input type="hidden" value="' + result.upload_id + '"></td>'
                        + '</tr>';
                    //
                    $('#filetable tbody:last').append(row);

                }

            }, "json");
            *@
           // $(this).val('');//操作结束清空input中的内容，这样子两次选择相同文件时，onchange事件才会触发
        });

        var progressBarStart = function () {
           // $("#progressbar_container").show();
        }

        var progressBarUpdate = function (percentage) {
            //$('#progressbar_label').html(percentage + "%");
            //$("#progressbar").width(percentage + "%");
        }

        var progressBarComplete = function () {
            //$("#progressbar_container").fadeOut(500);
        }

        var uploadCompleted = function (filename,uploadId) {
            var formData = new FormData();
            formData.append('fileName', filename);
            formData.append('completed', true);
            formData.append('uploadId', uploadId);

            var xhr2 = new XMLHttpRequest();
            xhr2.onload = function () {
                progressBarUpdate(100);
                progressBarComplete();
            }

            xhr2.open("POST", '@Url.Action("UploadComplete", "Home")' + "?fileName=" + encodeURIComponent(filename) + "&complete=" + 1 + "&uploadId=" + uploadId, true);
            xhr2.send(formData);

            filesMap.delete(filename);
            //
            if (filesMap.size == 0) {
                //remove rows
                $("#filetable tr").each(function () {

                    if ($(this).attr("id") != "firstrow")
                        $(this).remove();
                });
            }
            enableUploadDiv();
        }

        var multiUpload = function (count, counter, blob, completed, start, end, bytesPerChunk,filename,uploadid) {
            counter = counter + 1;
            if (counter <= count) {

                var chunk = blob.slice(start, end);


                var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    start = end;
                    end = start + bytesPerChunk;
                    if (count == counter) {
                        uploadCompleted(filename,uploadid);
                    } else {
                        var percentage = (counter / count) * 100;
                        progressBarUpdate(percentage);
                        multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid);
                    }
                }
                xhr.open("POST", '@Url.Action("MultiUpload", "Home")' + "?chunkNumber=" + counter.toString() + "&fileName=" + encodeURIComponent(filename) + "&uploadId=" + uploadid, true);
                xhr.send(chunk);

                            /*
                            start = end;
                            end = start + bytesPerChunk;
                            if (count == counter) {
                                uploadCompleted();
                            } else {

                                var percentage = (counter / count) * 100;

                                progressBarUpdate(percentage);

                                multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid);
                            }

                            $.post('@@Url.Action("MultiUpload", "Home")', { chunkNumber: counter, fileName: filename, uploadId:uploadid }, function (result) {

                             });*/
                        }
        }
        //
        var startUploadFile = function () {

            var inputs = $('#filetable input[type="hidden"]');
            if (inputs && inputs.length > 0) {

                for (var i = 0; i < inputs.length; ++i) {

                    var hidinput = inputs[i];

                    var uploadid = $(hidinput).attr("id");
                    var longfile = $(hidinput).val();
                    //
                    var fileobj = filesMap.get(longfile);

                    //
                    if (!fileobj)
                        continue;

                    var filename = longfile;//fileobj.name;

                    var blob = fileobj;
                    var bytesPerChunk = 3757000;//1024*1024*2;//
                    var size = blob.size;

                    var start = 0;
                    var end = bytesPerChunk;
                    var completed = 0;
                    var count = size % bytesPerChunk == 0 ? size / bytesPerChunk : Math.floor(size / bytesPerChunk) + 1;
                    var counter = 0;
                    progressBarStart();

                    multiUpload(count, counter, blob, completed, start, end, bytesPerChunk, filename, uploadid);

                }
                //
               // $("#uploadDiv").css("background-color", ncolor);
                //$("#uploadDiv").css("border-color", ncolor);
                enableUploadDiv();
            }

        }

        $('#uploadDiv').click(startUploadFile);

        $('#opencamera').click(opencamera);

        $('#snap').click(takepicture);
        $('#acceptpic').click(acceptpicture);
        $('#nophoto').click(retake);
    });
        function stopBubble(e){
if(e && e.stopPropagation){
e.stopPropagation();	//w3c
}else window.event.cancelBubble=true; //IE
}
    function checkchoosefile(e) {

        if (!validate()) {
            stopBubble(e);
            $('#requireText').css('visibility', 'visible');
        }
        else
            $('#requireText').css('visibility', 'hidden');
    }

    // Extension to Date, convert Date to String of specified format
    // 1 - 2 placeholders can be used for month(M), day(d), hour(h), minute(m), second(s), quarter(q),
    // Year (y) can use 1-4 placeholders, milliseconds (S) can only use 1 placeholder (is 1-3 digits)
    // example:
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }
  function checkFileName(flname) {

        var result = false;
        //要用同步模式.
        $.ajax({
            type: "post",
            url: '@Url.Action("CheckFile", "Home")',
            data: { fileName: flname },
            async: false,
            success: function (data,status) {
               // data = eval("(" + data + ")");

                if (data.state == "success")
                    result = true;
                else
                    result = false;
            }
        });
      //asynchronous
        /*$.post('Url.Action("CheckFile", "Home")', { FileName: flname }, function (result) {
        },"json");*/
        return result;
    }
    function FileInList(flname) {
        if (!flname || flname == '')
            return false;
        var exist = false;

        $("#filetable").find("tr").each(function () {
            //The value eq (index) of the second column of cells

            if ($(this).children('td:eq(1)').text() == flname) {
                exist = true;
            }
        });

        return exist;
    }
    function AllUpload(uploadid) {

        $.post('@Url.Action("AllUploaded", "Home")', { uploadId: uploadid }, function (result) {

            alert(result.message);
        },"json");
    }
    //uploadInfo(uploadmodel,filestrs,fileobjs)
    function uploadInfo(uploadmodel, flnames, filestrs, blobnames) {

        if (!uploadmodel)
            return;
        //// Submit json array directly
            $.post('@Url.Action("UploadId", "Home")', { uploads: uploadmodel }, function (result) {

                //alert(result.message);
                if (result.state == "1") {
                    for (var j = 0; j < uploadmodel.length; ++j) {

                        for (var i = 0; i < uploadmodel[j].upload_files.length; ++i) {

                            var longfile = uploadmodel[j].upload_files[i];
                            var ldx = longfile.lastIndexOf("\\");
                            var shortfile = longfile.substr(ldx + 1);

                            var vid = filestrs + i;
                            var row =
                                '<tr class="allTextSetGray" style="height: 40px;" id="' + vid + '" name=""> '
                                + ' <td><div class="checkBoxSet" style="margin: 1px 0 0 6px;display:none"> '
                                + '           <input type="checkbox"  id="select' + vid + '" name="select' + vid + '"> '
                                + '            <label for="select' + vid + '"></label></div> '
                                + '   </td> '
                                + '   <td>' + uploadmodel[j].medical_num + '</td>'
                                + ' <td>' + uploadmodel[j].native_id + '</td>'
                                + ' <td>' + uploadmodel[j].last_name + uploadmodel[0].first_name + '</td> '
                                + ' <td>' + uploadmodel[j].report_type + '</td>'
                                + ' <td>' + uploadmodel[j].create_date + '</td>'
                                + ' <td>' + shortfile + '</td>'
                                + ' <td>' + uploadmodel[j].comment + '</td>'
                                + ' <td><a href="#" onclick="delRow(\'' + vid + '\')"><i class="fas fa-trash-alt" style="color:red; font-size:1.5em;"></i></a></td>'
                                + '<td><input type="hidden" id="' + result.upload_id + '" name="" value="' + uploadmodel[j].upload_files[i] + '"></td>'
                                + '</tr>';
                            //
                            $('#filetable tbody:last').append(row);
                            //Here you can add a code to change the background color such as SendUploadLink.

                            //Add click event to all lines except the table header(first line).$("# Filetable tr").First().NextAll()
                            $("#filetable tr:last").click(function (evt) {



                                //Add if there is no style, otherwise remove
                                $(this).toggleClass("bgRed"); //children().
                                if ($(this).hasClass("bgRed")) {//children().If there is a certain style, it means that this line has been selected
                                    $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                                    //


                                } else {                                  // If not selected
                                    $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                                }

                                //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                                // evt.stopPropagation();
                                // evt.preventDefault();
                                // evt.stopImmediatePropagation();


                                return false;
                            });

                            //----------------------------------------------------//
                            //var longfile = uploadmodel[j].upload_files[i];
                            //var ldx = longfile.lastIndexOf("\\");
                            //var shortfile = longfile.substr(ldx+1);
                            ////for (var k = 0; k < fileobjs.length; ++k) {
                            ////    if (fileobjs[k].name == shortfile) {
                            ////        filesMap.set(longfile, fileobjs[k]);
                            ////    }
                            ////}
                            for (var k = 0; k < flnames.length; ++k) {
                                var llname = '';
                                if (blobnames)
                                    llname = blobnames[k];
                                else
                                    llname = flnames[k].name;

                                if (llname == shortfile) {
                                    filesMap.set(longfile, flnames[k]);
                                }
                            }
                        }
                    }

                    //
                     enableUploadDiv();
                }

        }, "json");

    }
    function delRow(obj) {

        var tr = $("#filetable tr[id='" + obj + "']");
        if (tr) {
            // alert(tr.html());
            //tr.remove();
            // Select delete ..
            var inputs = $(tr).find("input[id='select" + obj + "']");

            if (inputs.length>0) {
                //var input = inputs[0];
                var longfile = $(tr).find("input[type=hidden]").val();
                //alert(longfile);
                filesMap.delete(longfile);

               // if ($(input).prop("checked")) //no select...
                    tr.remove();

            }
        }
         enableUploadDiv();
    }
    function selectAll() {
        var selected = $("#all").prop("checked");
       // alert(selected);

        $("#filetable input[type='checkbox']").each(function () {
            //alert(0);
            if ($(this).attr("id") != "all") {
               // alert(1);
                $(this).prop("checked", selected);
            }
        });
    }
    function setValidate() {
        if (validate()) {
            //alert(borderbak);
            $("#file").attr("disabled", false);

            if ($('#requireText').css("visibility") == "visible") {
                $('#requireText').css("visibility", "hidden");
            }

           // $("#chooseDiv").css("background-color", borderbak);
           // $("#chooseDiv").css("border-color", borderbak);

            //$("#opencamera").css("background-color", borderbak);
           // $("#opencamera").css("border-color", borderbak);

            //$("#uploadDiv").css("background-color", borderbak);
            //$("#uploadDiv").css("border-color", borderbak);

        }
        else {
            //alert("Medical Record Number ,Native ID or Name not be empty. ");

            $("#file").attr("disabled", true);
           // $("#chooseDiv").css("background-color", ncolor);
           // $("#chooseDiv").css("border-color", ncolor);

           // $("#opencamera").css("background-color", ncolor);
            //$("#opencamera").css("border-color", ncolor);

            enableUploadDiv();
        }
    }
    function validate() {
        var medicalno = $('#medrecno').val().trim();
        if (medicalno.length == 0)
            return false;
        var nativeid = $('#nativeid').val().trim();
        if (nativeid.length == 0)
            return false;

        var firstname = $('#firstname').val().trim();
        var lastname = $('#lastname').val().trim();
        if (firstname.length == 0)//&& lastname.length == 0
            return false;

        return true;
    }
    function enableUploadDiv() {
        var len = $("#filetable tr").length;
        if (len > 1) {
            $("#uploadDiv").css("background-color", borderbak);
            $("#uploadDiv").css("border-color", borderbak);
        }
        else {
            $("#uploadDiv").css("background-color", ncolor);
            $("#uploadDiv").css("border-color", ncolor);
        }
    }
    function opencamera(e) {
        ////
       // if ($("#department").val()=='')
          //  $("#department").removeAttr("required");

        if (!validate()) {
            stopBubble(e);

            $('#requireText').css('visibility', 'visible');
            return;
        }
          else
            $('#requireText').css('visibility', 'hidden');

        // Grab elements, create settings, etc.
        // var canvas = document.getElementById('canvas');
        // var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        var mediaConfig = { video: true };
        var errBack = function (e) {
            console.log('An error has occurred!', e)
        };

        $('#acceptpic').css("display", "none");
        $('#nophoto').css("display", "none");


        var bsupport = false;


        //navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        // Put video listeners into place
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia(mediaConfig).then(function (stream) {
            //yys...
                //window.URL = window.URL || window.webkitURL;//|| window.mozURL || window.msURL;
               mediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[1];

                try {
                      video.srcObject  = stream;
                    } catch (error) {
                      video.src  = window.URL.createObjectURL(stream);
                }
                //video.src = window.URL.createObjectURL(stream);

                video.play();
                bsupport = true;
                //  alert(0);
                setTimeout("showvideoelem()", 1);

            }).catch(function (err) {
                console.log(err.name + ": " + err.message);
            });
        }

        /* Legacy code below! */
        else if (navigator.getUserMedia) { // Standard
            navigator.getUserMedia(mediaConfig, function (stream) {
                video.src = stream;
                video.play();
                bsupport = true;

                setTimeout("showvideoelem()", 1);

            }, errBack);
        } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(mediaConfig, function (stream) {
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
                bsupport = true;

                setTimeout("showvideoelem()", 1);

            }, errBack);
        } else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
            navigator.mozGetUserMedia(mediaConfig, function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
                bsupport = true;

                setTimeout("showvideoelem()", 1);

            }, errBack);
        }

        if (bsupport) {

        }

        // Trigger photo take
        // document.getElementById('snap').addEventListener('click', takepicture);

    }
    function showvideoelem() {
        $('#photodiv').css("display", "block");
        $('#snap').css("display", "block");
        $('#video').css("visibility", "visible");
        $('#canvas').css("visibility", "hidden");
    }
    function takepicture() {
        //  alert(0);
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        //
        /*
        var size = videoDimensions(video);
        var offset = (video.offsetWidth - size.width) / 2;
        //alert(offset);
        //same size with video
        $('#canvas').css("width", size.width);
        $('#canvas').css("height", size.height);
        $('#canvas').css("margin-left", offset);*/

        //
        $('#acceptpic').css("display", "block");
        $('#nophoto').css("display", "block");
        $('#snap').css("display", "none");
        //alert(video.videoWidth );
        //Hide in place ..
        $('#video').css("visibility", "hidden");
        $('#canvas').css("visibility", "visible");
        // alert(size.width); alert(size.height);
        //Save the original size image with a middle canvas ...
        //video.videoWidth, video.videoHeight; //The original resolution of the video:
        var scale = 1;
        // var canvas_tmp = document.createElement("canvas");

        canvas_tmp.width = video.videoWidth * scale;
        canvas_tmp.height = video.videoHeight * scale;
        canvas_tmp.getContext('2d')
            .drawImage(video, 0, 0, canvas_tmp.width, canvas_tmp.height);
        // alert(canvas_tmp.width);
        context.drawImage(video, 0, 0, canvas.width, canvas.height);// 466,350);//400, size.height);//, 0, 0, size.width, size.height);//640, 480);

        // $('#acceptpic').css("display", "block");
        /*
            context.toBlob(function (blob) {
                var newImg = document.createElement('img'),
                    url = URL.createObjectURL(blob);

                newImg.onload = function () {
                    // no longer need to read the blob so it's revoked
                    URL.revokeObjectURL(url);
                };

                newImg.src = url;
                document.body.appendChild(newImg);

        });https://blog.csdn.net/cuixiping/article/details/45932793
        */

    }
    //Receiving pictures from photos
    function acceptpicture() {
        //
        var canvas = canvas_tmp;//document.getElementById('globalcanvas'); //Use the middle here. Because the resolution. Canvas
        var video = document.getElementById('video');

        video.pause();

        var dataurl = canvas.toDataURL('image/png');
       // if (dataurl) alert(dataurl);
        var datestr = dateFormat(new Date(), "yyyyMMddhhmmss")
        var tempfilenmae = "capture" + datestr + ".png";

        var blobfile = dataURLtoBlob(dataurl);

       // var fileobj2 = new File(blob2, tempfilenmae);
       // alert(fileobj2);

      //  var blobfile = dataURLtoFile(dataurl, tempfilenmae);
        mediaStreamTrack && mediaStreamTrack.stop();

        var flnames = new Array;
        var uploadfiles = new Array;
        var blobnames = new Array;

        flnames.push(blobfile);

        uploadfiles.push(tempfilenmae);
        blobnames.push(tempfilenmae);

        var medicalno = $('#medrecno').val().trim();
        var nativeid = $('#nativeid').val().trim();
        var firstname = $('#firstname').val().trim();
        var lastname = $('#lastname').val().trim();


        var studydate = $('#studydate').val().trim();
        var refphysician = '';
        var department = $('#department').val();//'@@Model.department_id';
        if (department == '-1')
            department = '';
        var reporttype = '';//$('#reporttype').val();
            var comment = '';

        var filestrs = $.md5(tempfilenmae);//escape

            var uploadmodel =[ {
                upload_id: '', medical_num: medicalno, native_id: nativeid,
                first_name: firstname, middle_name: '', last_name: lastname,
                create_date: studydate, ref_physician: refphysician, source_dept: department, report_type: reporttype,
                comment: comment, upload_files:uploadfiles
        }];

        uploadInfo(uploadmodel, flnames, filestrs, blobnames);

        $('#photodiv').css("display", "none");
        $('#acceptpic').css("display", "none");
        $('#nophoto').css("display", "none");
        //


    }
    function retake() {
        //
        $('#acceptpic').css("display", "none");
        $('#nophoto').css("display", "none");
        $('#snap').css("display", "block");

        $('#canvas').css("visibility", "hidden");
        $('#video').css("visibility", "visible");
        $('#video').play();
        //
        enableUploadDiv();
    }
    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], { type: mime });
    }
</script>