﻿
@{
    ViewBag.Title = "ViewFiles";
}

<script>
    var recCountPage = 5;
    var sortby = 1;//date
    var lastsort = 1;
    var order = "desc";
    $(function () {
        $("#startDate").datepicker({ dateFormat: 'yymmdd' });
        $("#endDate").datepicker({ dateFormat: 'yymmdd' });
    });


    $(document).ready(
        function () {

            $('#search').click(function () {

                // $('#filelist tr:not(:first)').empty();

                //clear();
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var fileName = $('#fileName').val();

                $('#waiting').css("visibility", "visible");

                queryFiles(startDate, endDate, fileName, 1);   //page start from 1

            });

            $('#viewall').click(function () {

                var startDate = '';// $('#startDate').val();
                var endDate = '';//$('#endDate').val();
                var fileName = '';//$('#fileName').val();

                //$('#filelist tr:not(:first)').empty();
                //clear();
                //
                $('#waiting').css("visibility", "visible");

                queryFiles(startDate, endDate, fileName, 1);
            });

        });
        function clearParam() {
        $('#startDate').val(''); 
        $('#endDate').val(''); 
        $('#fileName').val(''); 


    }
    function clear() {
        $('#filelist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });
    }
    function sortQuery(sid) {
        var lc = $("#filelist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        $('#search').click();

        //

    }
    function queryFiles(startDate,endDate,fileName,pageIndex) {

        clear();

        var url = '@Url.Action("GetPatientFiles", "Home")';

        var data = {
            startDate: startDate, endDate: endDate, fileName: fileName,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
                };

                $.post(url, data, function (result) {

                    $('#waiting').css("visibility", "hidden");

                    if (result.state == "1" || result.state=="success") {

                        var retdats = result.data.datas;

                        if (retdats == null)
                            return;
                        if (retdats.length == 0) {
                             alert('No results found');
                            clearParam();
                        }
                        var pagecount = result.data.pageCount;
                        //curPage = pageIndex;

                        for (var i = 0; i < retdats.length; ++i) {
                            if (i >= recCountPage)
                                break;
                            var item = retdats[i];
                            //
                            var filename = item.src_file_name;
                            var ftype = filename.substr(filename.lastIndexOf(".") + 1);
                            var shortfile = filename.substring(0, filename.lastIndexOf("."));
                            var dt = item.upload_at;
                            var date = null;
                            if(dt)
                                date = new Date(+ dt.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                            //
                            var dtstr = '';
                            if (date)
                                dtstr = dateFormat(date, "yyyy-MM-dd");

                            var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + item.upload_item_id+'" name=""> '
                                + '<td>' + dtstr + '</td> '
                                + '    <td>' + ftype + '</td> '
                                + '    <td>' + shortfile + '</td> '
                                + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconView.png")\' onclick="javascript:actionFile(\'' + item.upload_item_id +'\')"><a/><span> </span></td> '
                                + ' </tr>'; //<a href="javascript:void(0)"><img src=\'@@Url.Content("~/Content/images/iconPatientCancel.png")\' style="width:30px;height:30px;" onclick="javascript:delFile(\'' + item.upload_item_id+'\')"></a>

                            $('#filelist tbody:last').append(row);

                        }
                        //
                        if (pagecount > 1) {
                            var pagelink = '';
                            var pagestart = 0;
                            if (pageIndex % 10 == 0)
                                pagestart = parseInt(pageIndex / 10);
                            else
                                pagestart = parseInt(pageIndex / 10) + 1;
                            var ii = (pagestart-1)*10, jj = 0;
                            for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                                if (ii +1 == pageIndex)
                                    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + startDate + '\',\'' + endDate + '\',\'' + fileName + '\',' + (ii + 1) + ')">' + (ii + 1).toString()  + '</a> ';
                                else
                                    pagelink += '<a href="javascript:void(0)"onclick="queryFiles(\'' + startDate + '\',\'' + endDate + '\',\'' + fileName + '\',' + (ii + 1) + ')">' + (ii + 1).toString()  + '</a> ';
                                /*if (ii > 5) {
                                    pagelink += "...";
                                    break;
                                }*/
                            }
                            /*
                            if (ii != pagecount && pageIndex > ii + 1) {
                                //超过7页情况下，显示当前页
                                pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + startDate + '\',\'' + endDate + '\',\'' + fileName + '\',' + (pageIndex + 0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                            }*/
                            $('#pageLink').html(pagelink);
                            $('#firstPage').unbind('click');
                            $('#firstPage').click(function () {
                                if (pageIndex != 1) {

                                    queryFiles(startDate, endDate, fileName, 1);
                                }
                            });
                            $('#prevPage').unbind('click');
                            $('#prevPage').click(function () {
                                if (pageIndex > 1) {
                                    var nidx = 1;
                                    if (pageIndex > 10)
                                        nidx = pageIndex - 10;
                                    queryFiles(startDate, endDate, fileName, nidx); //pageIndex - 1
                                }
                            });
                            $('#nextPage').unbind('click');
                            $('#nextPage').click(function () {
                                if (pageIndex < pagecount) {
                                    var nidx = pageIndex + 10;
                                    if (nidx > pagecount)
                                        nidx = pagecount - 10;
                                    if (nidx <= 0)
                                        nidx = 1;

                                    queryFiles(startDate, endDate, fileName, nidx);// pageIndex + 1
                                }
                            });
                            $('#lastPage').unbind('click');
                            $('#lastPage').click(function () {
                                if (pageIndex != pagecount)
                                queryFiles(startDate, endDate, fileName, pagecount);
                            });
                            $('#scrollNav').css("display", "block");
                        }
                        else
                            $('#scrollNav').css("display", "none");
                    }
                    else
                        alert(result.message);
        });

    }
    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }
    function validateDate(obj) {
        var reg = /^\d{8}$/;// /^\d{4}-(?:0\d|1[0-2])-(?:[0-2]\d|3[01])( (?:[01]\d|2[0-3])\:[0-5]\d\:[0-5]\d)?$/;//  /^[2]\\d{3}[0|1][1-9][0-3]\\d$/;//
        var value = $(obj).val();
        if (value.length > 0) {
            var mon = parseInt(value.substr(4, 2));
            var day = parseInt(value.substr(6, 2));

            if (!reg.test(value) || mon > 12 || mon == 0 || day > 31 || day == 0) {
                alert("Date format is wrong");
                //
                $(obj).focus();
            }
        }

    }
    function delFile(id) {

        var trow = $('#filelist tr[id="' + id + '"] td:eq(2)');
        if (!trow || trow.length == 0)
            return;
        var ext = $('#filelist tr[id="' + id + '"] td:eq(1)');

        var filename =$(trow[0]).text() +"." + $(ext[0]).text() ;

        var r = confirm('Are you sure you want to delete "' + filename + '"?');
        if (r == true) {
            
        }
        else {

            return;
        }

        $.post('@Url.Action("DeleteFile", "Home")', { item_id: id }, function (result) {

            alert(result.message);
            if (result.state == "success") {
                //refresh..
                $('#search').click();
            }
        },"json");
    }
    function actionFile(id) {
        //alert("not implemented.");
        var url = '@Url.Action("OpenFile","Home")';
        url = url + "?item_id=" + id;

        //window.location.href = url;
        window.open(url);
    }
</script>
@*
<div class="pageContentPosition" style="padding-top: 50px;">

    <form>
        <div class="allTextSetBlue" style="font-size: 18px"><span>Search By:</span></div>
        <div class="" style="width: 50%; float: left;">
            <input type="text" id="startDate" name="startDate" onblur="validateDate(this)" placeholder="yyyymmdd" class="inputFieldSet" style="margin: 23px 0 0 0; width:171px; float: left;">
            <div style="margin: 36px 0 0 -28px; float: left;">
              
            </div>
            <span>~</span>
            <input type="text" id="endDate" name="endDate" onblur="validateDate(this)" placeholder="yyyymmdd" class="inputFieldSet" style="margin: 23px 0 0 0; width:171px;">
            <div style="margin: -32px 0 0 335px;">
                
            </div>
        </div>
        <div style="width: 50%; float: left;">
            <input type="text" id="fileName" name="fileName" placeholder="FileName" class="inputFieldSet" style="margin: 23px 0 0 20px; width:380px">
        </div>
        <div style="float: right; width: 50%;">
            <div class="buttonSet" id="search" name="search" style="float: right; margin: 6px 0 0 20px; width:125px">Search</div>
            <div class="buttonSet" id="viewall" name="viewall" style="float: right; margin: 6px 0 0 20px; width:125px">View All</div>
        </div>
    </form>

    <div style="margin-top: 180px;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" style="font-size: 13px;" id="filelist" name="filelist" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite" id="header" name="header" style="height: 40px;">
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('1')">Date</td>
                    <td bgcolor="#00AFEC">Data Format</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('2')">File Name</td>
                    <td bgcolor="#00AFEC">Action</td>
                </tr>
         
            </tbody>
        </table>


        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>


    </div>

</div>
*@
<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">

            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Receive / Send Date From</span>
                <input type="text" id="startDate" name="startDate" onblur="validateDate(this)" placeholder="yyyymmdd"  class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate').focus();" />
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Receive / Send Date To</span>
                <input type="text" id="endDate" name="endDate" onblur="validateDate(this)" placeholder="yyyymmdd" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#endDate').focus();"/>
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>File Name</span>
                <input type="text" id="fileName" name="fileName" placeholder="FileName" class="inputFieldSet" style="width:100%;">
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <div class="buttonSet" id="viewall" name="viewall"  style="width: 100%;">View All</div>
                </div>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <div class="buttonSet" id="search" name="search" style="width: 100%;">Search</div>
                </div>
            </div>

        </div>
    </form>
</div>
<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>

        <table width="100%"  id="filelist" name="filelist" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="header" style="height: 40px;">
                    <td onclick="javascript:sortQuery('1')">Date</td>
                    <td>Data Format</td>
                    <td onclick="javascript:sortQuery('2')">File Name</td>
                    <td>Action</td>
                </tr>
        
            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>


    </div>


</div>
<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
@section Scripts {
    @Styles.Render("~/jQueryUI/css")

    @Scripts.Render("~/bundles/jqueryUI")
}


