﻿
@{
    /**/


    ViewBag.Title = "ViewFiles";
    string userid_id = ViewBag.user_id_id as string;
    bool bviewEnable = Convert.ToBoolean(ViewBag.viewEnable as string);
    bool bdownEnable = Convert.ToBoolean(ViewBag.downEnable as string);
}
<style>
    .bgRed {
        background-color: #DCDCDC;
    }

    .buttonSetCur {
        /*background-color: rgba(0,175,236,1.00);*/
        height: 43px;
        width: 80px;
        border-radius: 6px;
        border: rgba(0,175,236,1.00) solid 1px;
        color: #ffffff;
        background: #ff0000;
        /*  font-size: 22px;
        font-family: "HelveticaNeue LT 55 Roman";
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        cursor: pointer;*/
    }
</style>
<script>
    var recCountPage = 5;
    var sortby = 6;//1;//date
    var lastsort = 6;
    var order = "desc";
    var selectIDs = [];

    var bviewfiles = '@bviewEnable' == 'True' ? true : false;
    var bdownload = '@bdownEnable' == 'True' ? true : false;

    $(function () {

        $("#studydate").datepicker({ dateFormat: 'yymmdd' });
        $("#uploaddate").datepicker({ dateFormat: 'yymmdd' });
        $("#studydate2").datepicker({ dateFormat: 'yymmdd' });
        $("#uploaddate2").datepicker({ dateFormat: 'yymmdd' });

        $('#search').click(search);


        $("#all").click(function () {

            var selected = $("#all").prop("checked");// $('#all').attr('checked')


            $("#downloadlist [name='_datacheckbox']").prop("checked", selected);//全选 'true'

            $("#downloadlist [name='_datacheckbox']").each(function () {

                if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");//添加选中样式 ,3个parent..到 tr 层
                else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");

                var ttr = $(this).parent().parent().parent();
                if (selected) {
                    if (inArray($(ttr).attr("id"), selectIDs) < 0) {
                        var vobj = {//$(this) is not ttr
                            sid: $(ttr).attr("id"), user_idid: $(ttr).attr("name")
                        };
                        selectIDs.push(vobj);
                    }
                }
                else {
                    var indx = inArray($(ttr).attr("id"), selectIDs);
                    if (indx >= 0)
                        selectIDs.splice(indx, 1);
                }
            });

        });
        //

        //


    })

    function search() {
        var medicno = $('#medicno').val();
        var nativeid = $('#nativeid').val();
        var name = $('#name').val();
        var studydate = $('#studydate').val();
        var studydate2 = $('#studydate2').val();
        var modalities = $('#modalities').val();
        var uploaddate = $('#uploaddate').val();
        var uploaddate2 = $('#uploaddate2').val();
        var refphysician = $('#refphysician').val();
        var dept = $('#dept').val();

        selectIDs = [];
        $('#waiting').css("visibility", "visible");

        queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, 1);

    }
        function clearParam() {
        $('#medicno').val(''); 
        $('#nativeid').val(''); 
        $('#name').val(''); 
        $('#modalities').val(''); 
        $('#studydate').val(''); 
        $('#studydate2').val(''); 
        $('#uploaddate').val(''); 
        $('#uploaddate2').val(''); 
        $('#refphysician').val(''); 
        $('#dept').val(''); 

    }
    function clear() {
        //如果短时间内再次查询，由于查询是异步的，前次的结果还没返回，这里实际清除不了，导致两次查询的结果
        //输出在同一页中了...调整
        $('#downloadlist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });

        $("#all").prop("checked", false);
    }
    function sortQuery(sid) {
          var lc = $("#downloadlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;


        $('#search').click();

    }
    function inArray(suid,arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
    function freshSelect() {
        //
        $("#downloadlist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }

        });

        if (selectIDs.length == 0)
            $("#all").prop("checked",false);//

    }
    function queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, pageIndex) {

        clear();

        var url = '@Url.Action("QueryDownload", "Home")';
        //alert(url);
        var data = {
            medicno:medicno, nativeid: nativeid, name: name,
            studydate: studydate, studydate2: studydate2, modalities: modalities, uploaddate: uploaddate, uploaddate2: uploaddate2,
            refphysician:refphysician, dept:dept,
            pageLimit:recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
        };
        //alert(data);
        $.post(url, data, function (result) {

            clear(); //再次。。。
            $('#waiting').css("visibility", "hidden");

            if (result.state == "1" || result.state == "success") {

                var retdats = result.data.datas;

                if (!retdats)
                    return;
                if (retdats.length == 0) {
                     alert('No results found');
                    clearParam();
                }
                var pagecount = result.data.pageCount;
                //alert(pagecount);

                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var medical_num = item.medical_num;
                    var native_id1 = item.native_id;
                    var first_name = item.first_name
                    var middle_name = item.middle_name;
                    var last_name = item.last_name;
                    var pname = "";
                    if (last_name && last_name != "") {
                        pname = $.trim(last_name); //remove head and tail empty
                    }
                    if (first_name && first_name != "") {
                        if (pname != "")
                            pname = pname + "^";
                        pname = pname + $.trim(first_name);
                    }

                            var create_date1 = item.create_date;
                            var study_date1 = item.study_date;
                    var ref_physician1 = item.ref_physician;

                    var vuserid = item.user_id_id;
                    var vstudyuid = item.study_uid;

                    var source_dept1 = item.source_dept;
                    var filename1 = item.org_filename;
                    if (!ref_physician1)
                        ref_physician1 = "";

                    if (!source_dept1)
                        source_dept1 = "";
                    else if (source_dept1.indexOf("$") >= 0) {
                        source_dept1 = source_dept1.substr(source_dept1.indexOf("$") + 1);
                    }
                    if (!filename1) filename1 = '';


                    var dt = create_date1;
                    var date = null;
                    if(dt)
                        date = new Date(+ dt.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                            //
                    var dtstr = '';
                    if(date)
                        dtstr = dateFormat(date, "yyyy-MM-dd");
                    var date2 = null;
                    if (study_date1)
                        data2 = new Date(+ study_date1.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                    var studystr = '';
                    if (date2)
                        studystr = dateFormat(date2, "yyyy-MM-dd");


                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;display:none" > '
                        + ' <input type="checkbox" id="select' + item.upload_id + '" name="_datacheckbox"> '
                        + '    <label for="select' + item.upload_id + '"></label>  </div>  </td> ';

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + vstudyuid + '" name="' + vuserid + '"> '
                        + check
                        + '<td>' + medical_num + '</td> '
                        + '    <td>' + native_id1 + '</td> '
                        + '    <td>' + pname + '</td> '
                        // + '    <td>' + fromname + '</td> '
                        + '    <td>' + studystr + '</td> '

                        + '    <td>' + '' + '</td> '

                        + '    <td>' + dtstr + '</td> '
                        // + '    <td>' + filetype + '</td> '

                        //  + '    <td>' + ref_physician1 + '</td> '
                        + '    <td>' + source_dept1 + '</td> '
                        + '    <td>' + filename1 + '</td> ';
                    if (bviewfiles)
                        row = row + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconView.png")\' onclick="javascript:actionFileD(\'' + vstudyuid + '\')"><a/></td> ';

                    if (bdownload)
                        row = row + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/download-icon.png")\' onclick="javascript:downloadFile(\'' + vstudyuid + '\')"><a/></td> ';

                    row = row + ' </tr>';

                    $('#downloadlist tbody:last').append(row);

                   }
                         //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#downloadlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                        //
                        if (inArray($(this).attr("id"), selectIDs) < 0) {
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                            selectIDs.push(vobj);
                        }

                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        var indx = inArray($(this).attr("id"), selectIDs) ;
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }

                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                        //
                        if (pagecount > 1) {
                            var pagelink = '';
                            var pagestart = 0;
                            if (pageIndex % 10 == 0)
                                pagestart = parseInt(pageIndex / 10);
                            else
                                pagestart = parseInt(pageIndex / 10) + 1;
                            var ii = (pagestart - 1) * 10, jj = 0;
                            for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                                if (ii + 1 == pageIndex)
                                    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryDownload(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + studydate + '\',\'' + studydate2 + '\',\'' + modalities + '\',\'' + uploaddate + '\',\'' + uploaddate2 + '\',\'' + refphysician + '\',\'' + dept + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                else
                                    pagelink += '<a href="javascript:void(0)"onclick="queryDownload(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + studydate + '\',\'' + studydate2 + '\',\'' + modalities + '\',\'' + uploaddate + '\',\'' + uploaddate2 + '\',\'' + refphysician + '\',\'' + dept + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                //if (ii > 5) {
                                //    pagelink += "...";
                                //    break;
                                //}
                            }
                            //if (ii != pagecount && pageIndex > ii+1) {
                            //    //超过7页情况下，显示当前页
                            //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryDownload(\'' + medicno + '\',\'' + nativeid + '\',\'' + name + '\',\'' + studydate + '\',\'' + studydate2 + '\',\'' + modalities + '\',\'' + uploaddate + '\',\'' + uploaddate2 + '\',\'' + refphysician + '\',\'' + dept + '\',' + (pageIndex + 0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                            //}
                            $('#pageLink').html(pagelink);
                            $('#firstPage').unbind('click');
                            $('#firstPage').click(function () {
                                if (pageIndex != 1)
                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, 1);
                            });
                            $('#prevPage').unbind('click');
                            $('#prevPage').click(function () {
                                if (pageIndex > 1) {
                                    var nidx = 1;
                                    if (pageIndex > 10)
                                        nidx = pageIndex - 10;
                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, nidx);//pageIndex - 1);
                                }
                            });
                            $('#nextPage').unbind('click');
                            $('#nextPage').click(function () {
                                if (pageIndex < pagecount) {
                                    var nidx = pageIndex + 10;
                                    if (nidx > pagecount)
                                        nidx = pagecount - 10;
                                    if (nidx <= 0)
                                        nidx = 1;

                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, nidx);//pageIndex + 1);
                                }
                            });
                            $('#lastPage').unbind('click');
                            $('#lastPage').click(function () {
                                if (pageIndex != pagecount)
                                    queryDownload(medicno, nativeid, name, studydate, studydate2, modalities, uploaddate, uploaddate2, refphysician, dept, pagecount);
                            });
                            $('#scrollNav').css("display", "block");
                        }
                        else
                            $('#scrollNav').css("display", "none");

                    //select....
                freshSelect();

            }
            else
                alert(result.message);
        });
    }

    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }

        function actionFileD(id) {
        //alert("not implemented.");
          var url = '@Url.Action("OpenVNAUpload", "Home")'; //OpenDownload
          url = url + "?studyuid=" + id; //download_uid

           // window.location.href = url;
            window.open(url);
    }
       function downloadFile(id) {


           var url = '@Url.Action("DownloadActualStudyEs", "Home")';
            //alert(url + uids);
           var uids = "?studyuids=" + id;

            window.open(url + uids);

    }
</script>
@*
<div class="pageContentPosition" style="padding-top: 50px;">

    <form>
        <div class="allTextSetBlue" style="font-size: 18px"><span>Search By:</span></div>
        <div class="" style="width: 50%; float: left;">
            <input type="text" id="medicno" name="medicno" placeholder="Medical Record No." class="inputFieldSet" style="margin: 15px 0 0 0; width:45%">
            <input type="text" id="nativeid" name="nativeid" placeholder="Native ID" class="inputFieldSet" style="margin: 0 0 0 10px; width:42%">
        </div>
        <div style="width: 50%; float: left;">
            <input type="text" id="name" name="name" placeholder="Name" class="inputFieldSet" style="margin: 15px 0 0 0; width:45%; float: left;">


            <div class="" style="margin: 15px 0 0 15px; width:48%; float: left;">
                <select name="modalities" class="inputFieldSet" id="modalities" style="width:100%; float: left;">
                    <option value="">Modality Type</option>
                    <option value="CT">CT</option>
                    <option value="DX">DX</option>
                    <option value="MR">MR</option>
                    <option value="US">US</option>
                </select>
                <div style="margin: 15px 0 0 -30px; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
                </div>
            </div>

        </div>

        <div class="" style="width: 50%; float: left;">
            <input type="text" id="studydate" name="studydate" placeholder="Study Date From" class="inputFieldSet" style="margin: 15px 0 0 0; width:45%; float: left;">
            <div style="margin: 29px 0 0 -28px; float: left;">
                <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
            </div>
            <span>~</span>

            <input type="text" id="studydate2" name="studydate2" placeholder="Study Date To" class="inputFieldSet" style="margin: 15px 0 0 0; width:43%;">
            <div style="margin: -30px 0 0 355px;">
                <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
            </div>

        </div>
        <div style="width: 50%; float: left;">
            <input type="text" id="uploaddate" name="uploaddate" placeholder="Upload Date From" class="inputFieldSet" style="margin: 15px 0 0 0; width:45%; float: left;">
            <div style="margin: 29px 0 0 -28px; float: left;">
                <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
            </div>
            <span>~</span>

            <input type="text" id="uploaddate2" name="uploaddate2" placeholder="Upload Date To" class="inputFieldSet" style="margin: 15px 0 0 2px; width:45%;">
            <div style="margin: -30px 0 0 355px;">
                <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
            </div>


        </div>

        <div class="" style="width: 50%; float: left;">

            <input type="text" id="refphysician" name="refphysician" placeholder="Ref. Physician" class="inputFieldSet" style="margin: 15px 0 0 0; width:45%; float: left;">

            <div class="" style="margin: 15px 0 0 13px; width:46%; float: left;">
                <select name="dept" class="dragDownMenuSet" id="dept" style="width:100%; float: left;">
                    <option value="">Department</option>
                </select>

            </div>

        </div>

        <div style="float: right; width: 50%;">
            <div class="buttonSet" id="search" name="search" style="float: right; margin: 15px 0 0 20px; width:125px">Search</div>
        </div>

    </form>

    <div style="padding-top: 30px; width: 100%; float: left;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" id="downloadlist" name="downloadlist" border="0" cellspacing="0" cellpadding="0" style="font-size: 13px;">
            <tbody>
                <tr class="allTextSetWhite" id="header" name="header" style="height: 40px;">
                    <td bgcolor="#00AFEC">
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;display:none">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('1')">MRN</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('2')">Native ID</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('3')">Patient Name</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('5')">Study Date</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('4')">Modality</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('6')">Upload Date</td>
                    <!--<td bgcolor="#00AFEC" onclick="javascript:sortQuery('7')">Ref. Physician</td>-->
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('8')">Department</td>
                    <td bgcolor="#00AFEC" onclick="">File Name</td>
                    @if (bviewEnable)
                    {
                        <td bgcolor="#00AFEC">View</td>
                    }
                    @if (bdownEnable)
                    {
                        <td bgcolor="#00AFEC">Download</td>
                    }
                </tr>

            </tbody>
        </table>

    </div>


    <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
        <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
        <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
        <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
        <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
        <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
    </div>



</div>*@


<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">

            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record No.</span>
                <input type="text" id="medicno" name="medicno" placeholder="Medical Record No." class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Native ID</span>
                <input type="text" id="nativeid" name="nativeid" placeholder="Native ID" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Name</span>
                <input type="text" id="name" name="name" placeholder="Name" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Modality Type</span>
                <select required name="modalities" class="dragDownMenuSet" id="modalities" style="width:100%;">
                    <option value="" selected>Modality Type</option>
                    <option value="CT">CT</option>
                    <option value="DX">DX</option>
                    <option value="MR">MR</option>
                    <option value="US">US</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date</span>
                <input type="text" id="studydate" name="studydate" placeholder="Study Date From" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Study Date</span>
                <input type="text" id="studydate2" name="studydate2" placeholder="Study Date To" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#studydate2').focus();">
                </div>
            </div>

            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Upload Date</span>
                <input type="text" id="uploaddate" name="uploaddate" placeholder="Upload Date From" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#uploaddate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Upload Date</span>
                <input type="text" id="uploaddate2" name="uploaddate2" placeholder="Upload Date To" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">
                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript: $('#uploaddate2').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Ref. Physician</span>
                <input type="text" id="refphysician" name="refphysician" placeholder="Ref. Physician" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select required name="dept" class="dragDownMenuSet" id="dept" style="width:100%; float: left;">
                    <option selected value="">Department</option>
                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                    else
                    {

                    }
                </select>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <div class="buttonSet" id="search" name="search" style="width: 100%;">Search</div>
                </div>
            </div>

        </div>
    </form>
</div>

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>

        <table width="100%" id="downloadlist" name="downloadlist" border="0" cellspacing="0" cellpadding="0" style="font-size: 11px;">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="header" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;display:none">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </td>

                    <td onclick="javascript:sortQuery('1')">MRN</td>
                    <td onclick="javascript:sortQuery('2')">Native ID</td>
                    <td onclick="javascript:sortQuery('3')">Patient Name</td>
                    <td onclick="javascript:sortQuery('5')">Study Date</td>
                    <td onclick="javascript:sortQuery('4')">Modality</td>
                    <td onclick="javascript:sortQuery('6')">Upload Date</td>
                    <!--<td bgcolor="#00AFEC" onclick="javascript:sortQuery('7')">Ref. Physician</td>-->
                    <td onclick="javascript:sortQuery('8')">Department</td>
                    <td onclick="">File Name</td>
                    @if (bviewEnable)
                    {
                        <td>View</td>
                    }
                    @if (bdownEnable)
                    {
                        <td>Download</td>
                    }
                </tr>
     
            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>


    </div>
</div>

<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
@section Scripts {
    @Styles.Render("~/jQueryUI/css")

    @Scripts.Render("~/bundles/jqueryUI")

}
