﻿
@{
    ViewBag.Title = "ViewFilesNurse";
}

<script>
    var recCountPage = 5;
    var sortby = 1;//date
    var order = "asc";
    $(function () {
        $("#studyDate").datepicker({ dateFormat: 'yymmdd' });
        $("#uploadDate").datepicker({ dateFormat: 'yymmdd' });


        $('#search').click(function () {

     
            //clear();
            var upload_date = $('#uploadDate').val();
            var studydate = $('#studyDate').val();
            var medic_no = $('#medical_no').val();
            var native_id = $('#native_id').val();
            var name = $('#name').val();
            var ref_physician = $('#ref_physician').val();
            var department = $('#department').val();
            //alert(department);
            var report_type = '';
            
            queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, ref_physician, department, 1);   //page start from 1

        });

    });
    function sortQuery(sid) {

        sortby = sid;

        $('#search').click();

        //
        if (order == "asc")
            order = "desc";
        else
            order = "asc";

    }

    function clear() {
        $('#filelist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });
    }

    function queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, ref_physician, department, pageIndex) {

        clear();

          var url = '@Url.Action("GetFiles", "Home")';

        var data = {
            medic_no: medic_no, native_id: native_id, name: name,
            studydate: studydate, report_type: report_type, upload_date: upload_date,
            ref_physician: ref_physician, department: department,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
        };
        var ldepart = department;

        $.post(url, data, function (result) {

            clear();

            if (result.state == "1" || result.state == "success") {

                var retdats = result.data.datas;

                if (retdats == null)
                    return;
                var pagecount = result.data.pageCount;
                //curPage = pageIndex;

                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var medical_num = item.medical_num;
                    var native_id1 = item.native_id;
                    var first_name = item.first_name
                    var middle_name = item.middle_name;
                    var last_name = item.last_name;
                    var pname = "";
                    if(last_name && last_name != ""){
                        pname = $.trim(last_name); //remove head and tail empty
                    }
                    if (first_name && first_name !="") {
                        if (pname !="")
                            pname = pname + "^";
                        pname = pname + $.trim(first_name);
                     }
                            var create_date1 = item.create_date;
                            var study_date1 = item.study_date;
                            var ref_physician1 = item.ref_physician;;
                            var report_type1 = item.report_type;
                    var source_dept1 = item.source_dept;
                    if (!ref_physician1)
                        ref_physician1 = "";
                    var source_ofdata1 = item.source_ofdata;
                    if (!source_ofdata1)
                        source_ofdata1 = "";
                    if (!source_dept1)
                        source_dept1 = "";
                    if (!report_type1)
                        report_type1 = "";

                            var dt = create_date1;
                            var date = new Date(+ dt.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                            //
                    var dtstr = dateFormat(date, "yyyy-MM-dd");

                    var date2 = null;
                    if (study_date1 )
                        data2 = new Date(+ study_date1.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                    var studystr = '';
                    if (date2)
                        studystr = dateFormat(date2, "yyyy-MM-dd");

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + item.upload_id + '" name=""> '
                        + '<td>' + medical_num + '</td> '
                        + '    <td>' + native_id1 + '</td> '
                        + '    <td>' + pname + '</td> '
                        + '    <td>' + studystr + '</td> '
                        //+ '    <td>' + report_type + '</td> '
                        + '    <td>' + dtstr + '</td> '
                        + '    <td>' + ref_physician1 + '</td> '
                        + '    <td>' + source_ofdata1 + '</td> '
                        + '   <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconView.png")\' onclick="javascript:actionFileU(\'' + item.upload_id +'\')"><a/></td> '
                                + ' </tr>';

                            $('#filelist tbody:last').append(row);

                        }
                //
                //alert(ldepart);
                        if (pagecount > 1) {
                            var pagelink = '';
                            var pagestart = 0;
                            if (pageIndex % 10 == 0)
                                pagestart = parseInt(pageIndex / 10);
                            else
                                pagestart = parseInt(pageIndex / 10) + 1;
                            var ii = (pagestart - 1) * 10, jj = 0;
                            for (; ii < pagecount && jj < 10; ++ii, ++jj) {
 
                                if (ii + 1 == pageIndex)
                                    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + ref_physician + '\',\'' + department + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                else
                                    pagelink += '<a href="javascript:void(0)"onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + ref_physician + '\',\'' + department + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                                
                                //if (ii > 5) {
                                //    pagelink += "...";
                                //    break;
                                //}
                            }
                            //if (ii != pagecount && pageIndex > ii+1) {
                            //    //超过7页情况下，显示当前页
                            //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + ref_physician + '\',\'' + department + '\',' + (pageIndex+0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                            //}
                            $('#pageLink').html(pagelink);
                            $('#firstPage').unbind('click');
                            $('#firstPage').click(function () {
                                if (pageIndex != 1)
                                    queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, ref_physician, department, 1);
                            });
                            $('#prevPage').unbind('click');
                            $('#prevPage').click(function () {
                                if (pageIndex > 1) {
                                    var nidx = 1;
                                    if (pageIndex > 10)
                                        nidx = pageIndex - 10;
                                    queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, ref_physician, department, nidx);// pageIndex - 1);
                                }
                            });
                            $('#nextPage').unbind('click');
                            $('#nextPage').click(function () {
                                //alert(department);
                                if (pageIndex < pagecount) {
                                    var nidx = pageIndex + 10;
                                    if (nidx > pagecount)
                                        nidx = pagecount - 10;
                                    if (nidx <= 0)
                                        nidx = 1;

                                    queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, ref_physician, department, nidx);// pageIndex + 1);
                                }
                            });
                            $('#lastPage').unbind('click');
                            $('#lastPage').click(function () {
                                if (pageIndex != pagecount)
                                    queryFiles(medic_no, native_id, name, studydate, report_type, upload_date, ref_physician, department, pagecount);
                            });
                            $('#scrollNav').css("display", "block");
                        }
                        else
                            $('#scrollNav').css("display", "none");
                    }
                    else
                        alert(result.message);
        });

    }
    function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }
    function validateDate(obj) {
        var reg = /^\d{8}$/;// /^\d{4}-(?:0\d|1[0-2])-(?:[0-2]\d|3[01])( (?:[01]\d|2[0-3])\:[0-5]\d\:[0-5]\d)?$/;//  /^[2]\\d{3}[0|1][1-9][0-3]\\d$/;//
        var value = $(obj).val();
        if (value.length > 0) {
            var mon = parseInt(value.substr(4, 2));
            var day = parseInt(value.substr(6, 2));

            if (!reg.test(value) || mon > 12 || mon == 0 || day > 31 || day == 0) {
                alert("Date format is wrong");
                //
                $(obj).focus();
            }
        }

    }
      function actionFileU(id) {
        //alert("not implemented.");
        var url = '@Url.Action("OpenUpload","Home")';
        url = url + "?upload_id=" + id;

       // window.location.href = url;
        window.open(url);
    }
</script>
<div class="pageContentPosition" style="padding-top: 50px;">

    <form>
        <div class="allTextSetBlue" style="font-size: 18px"><span>Search By:</span></div>
        <div class="" style="width: 50%; float: left;">
            <input type="text" id="medical_no" name="" placeholder="Medical Record No." class="inputFieldSet" style="margin: 15px 0 0 0; width:45%">
            <input type="text" id="native_id" name="" placeholder="Native ID" class="inputFieldSet" style="margin: 0 0 0 10px; width:45%">
        </div>
        <div style="width: 50%; float: left;">
            <input type="text" id="name" name="" placeholder="Name" class="inputFieldSet" style="margin: 15px 0 0 0; width:45%; float: left;">
            <input type="text" id="studyDate" name="studyDate" onblur="validateDate(this)" placeholder="Study Date" class="inputFieldSet" style="margin: 15px 0 0 15px; width:45%; float: left;">
            @*<div style="margin: 29px 0 0 -28px; float: left;">
                <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
            </div>*@
        </div>

        @* <div class="" style="width: 50%; float: left;">
                    <input type="text" id="" name="" placeholder="Report Type" class="inputFieldSet" style="margin: 15px 0 0 0; width:94%; float: left;">
                   <div style="margin: 29px 0 0 -28px; float: left;">
                    <img src='@Url.Content("~/Content/images/iconTriangle.png")'>
                </div>
        </div>*@
        <div style="width: 50%; float: left;">
            <input type="text" id="uploadDate" name="uploadDate" onblur="validateDate(this)" placeholder="Upload Date" class="inputFieldSet" style="margin: 15px 0 0 0; width:45%; float: left;">
            @* <div style="margin: 29px 0 0 -28px; float: left;">
                <img src='@Url.Content("~/Content/images/iconCalendar.png")'>
            </div>*@
            <input type="text" id="ref_physician" name="" placeholder="Ref. Physician" class="inputFieldSet" style="margin: 15px 0 0 15px; width:45%; float: left;">
        </div>

        <div class="" style="width: 50%; float: left;">
            @* <input type="text" id="departments" name="" placeholder="Department" class="inputFieldSet" style="margin: 15px 0 0 0; width:94%; float: left;">
            *@
            <select id="department" name="department" class="dragDownMenuSet" placeholder="Department" style="margin: 15px 0 0 0; width:94%; float: left;">
                <!--yys for height width-->
                <option value="" selected>Select Department</option>

                @if (ViewBag.departments != null)
                {
                    foreach (var dept in ViewBag.departments)
                    {
                        <option value="@dept.department_id">@dept.department_name</option>
                    }
                }
                else
                {

                }
            </select>
            @*<div style="margin: 29px 0 0 -28px; float: left;">
            <img src='@Url.Content("~/Content/images/iconTriangle.png")'>
        </div>*@
        </div>

        <div style="float: right; width: 50%;">
            <div class="buttonSet" id="search" name="" style="float: right; margin: 15px 0 0 20px; width:125px">Search</div>
        </div>

    </form>

    <div style="padding-top: 250px;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>File List:</span></div>
        <table width="100%" border="0" id="filelist" name="" cellspacing="0" cellpadding="0" style="font-size: 13px;">
            <tbody>
                <tr class="allTextSetWhite" id="header" name="header" style="height: 40px;">
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('3')">Medical Record No.</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('4')">Native ID</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('5')">Name</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('2')">Study Date</td>
                    @* <td bgcolor="#00AFEC">Report Type</td>*@
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('1')">Upload Date</td>
                    <td bgcolor="#00AFEC" onclick="javascript:sortQuery('6')">Ref. Physician</td>
                    <td bgcolor="#00AFEC">Source of Data</td>
                    <td bgcolor="#00AFEC">View</td>

                </tr>
               @* <tr class="allTextSetGray" style="height: 40px;">
                    <td>111111111</td>
                    <td>A12345678910</td>
                    <td>Angelina Jolie</td>
                    <td>2018-03-03</td>
                    <td>Ophthalmology Ex...</td>
                    <td>2018-03-03</td>
                    <td>Dr. Smith</td>
                    <td>Upload by Dr. Wang</td>
                    <td><img src="images/iconView.png"></td>
                </tr>
                <tr class="allTextSetGray" style="height: 40px;">
                    <td bgcolor="#E3E3E3">111111111</td>
                    <td bgcolor="#E3E3E3">A1234678910</td>
                    <td bgcolor="#E3E3E3">Angelina Jolie</td>
                    <td bgcolor="#E3E3E3">2018-02-28</td>
                    <td bgcolor="#E3E3E3">CT</td>
                    <td bgcolor="#E3E3E3">N</td>
                    <td bgcolor="#E3E3E3">Dr. Wang</td>
                    <td bgcolor="#E3E3E3">from PACS</td>
                    <td bgcolor="#E3E3E3"><img src="images/iconView.png"></td>
                </tr>*@
            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 100%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

    </div>

</div>

@section Scripts {
    @Styles.Render("~/jQueryUI/css")

    @Scripts.Render("~/bundles/jqueryUI")
}



