﻿
@{
    ViewBag.Title = "Activate";
    Layout = null;
    string logUser = ViewBag.logUser as string;
    if (logUser == null)
    {
        logUser = "";
    }
}

<span>User is activated.</span>
<a href='@Url.Action("Login","User")?user_id=@logUser'>Login</a>

