﻿
@{
    ViewBag.Title = "SignUp";
    Layout= null;
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>EBM eDC</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myCss")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquerymd5")

    <script>

        $(document).ready(function () {

            $('#user_email').blur(function () {

                var mail = $(this).val();
                if (mail != '') {//Judge
                    {    //var reg = /^([a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
                        var reg = /^([\.a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
                        if (!reg.test(mail)) {
                            alert('email format is wrong!');
                            return false;
                        }

                        //
                        var data = { user_email: mail };
                        $.post('@Url.Action("CheckUser", "Register")', data, function (result) {

                            if (result.state == "1") {

                                alert(result.message);

                            } else {

                            }
                        },"json");
                    }
                }
            });
            $('#signdiv').click(function (e) {
                if ($('#user_email').val().length == 0) {
                    alert("Email is empty.");
                    return;
                }
                if ($('#password').val() != $('#repassword').val()) {

                    alert("password and repeat password must be same.");
                    return;
                }
                submitData();
            });
        });

        function submitData() {

           // alert(1);

            var mail = $('#user_email').val();
            var pass = $('#password').val();
            pass = $.md5($.trim(pass));

            var data = { user_email: mail, password: pass }
            $.post('@Url.Action("CreateAccount", "Register")', data, function (result) {
                if (result.state == "1") {

                    alert(result.message);

                } else {
                    alert(result.message);
                }
            }, "json");
        }
    </script>
</head>

<body class="loginBG">

    <div class="allContentContainer middleCenter">
        <div class="login_productNamePosition">
            <span class="login_productNameEBM">EBM </span>
            <span class="login_productName">eDC</span>
        </div>
        <div class="login_logoPosition">
            <img src=@Url.Content("~/Content/images/logo-1.png")>
        </div>
        <div style="height: 162px; background-color: rgba(0,175,236,1.00);" class="middleCenter">
            <div class="loginSignUpBg middleCenter">
                <div class="loginSignInIconSet">
                    <img src=@Url.Content("~/Content/images/iconLogin.png")>
                    <span>SIGN UP</span>
                </div>
                <div>
                    <form id="form1">
                        <input type="text" id="user_email" name="user_email" placeholder="Email" class="inputFieldSet" style="margin: 23px 0 0 20px; width:333px">
                        <div style="margin: -30px 0 11px 333px;">
                            <img src=@Url.Content("~/Content/images/loginEmailIcon.png")>
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password" class="inputFieldSet" style="margin: 6px 0 0 20px; width:333px">
                        <div style="margin: -33px 0 14px 336px;">
                            <img src=@Url.Content("~/Content/images/loginPWIcon.png")>
                        </div>
                        <input type="password" id="repassword" name="repassword" placeholder="Repeat Password" class="inputFieldSet" style="margin: 0 0 0 20px; width:333px">
                        <div style="margin: -33px 0 14px 336px;">
                            <img src=@Url.Content("~/Content/images/loginPWIcon.png")>
                        </div>
                        <div class="buttonSet" id="signdiv" style="margin: 6px 0 0 20px; width:333px">Sign up</div>
                        <div style="margin: 5px 0 0 298px;"> <a href="@Url.Action("Login","User")" style="color:rgba(0,175,236,1.00);">Login in</a></div>

                        <!-- <div><span id="promptmsg" name="promptmsg" style="margin-left:16px;padding-top:-20px; width:296px;"></span></div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerymd5")
</body>
</html>
