﻿
@{
    ViewBag.Title = "ChangePassword";

    string sReturnUrl = ViewBag.ReturnUrl as string;
}

<script>

        $(document).ready(function () {


            $('#user_email').val('@ViewBag.user_email');


            $('#signdiv').click(function (e) {
                if ($('#oldpass').val().length == 0) {
                    alert("Old password is empty.");
                    return;
                }
                if ($.trim($('#password').val()).length==0) {

                    alert("password is empty.");
                    return;
                }
                if ($('#password').val() != $('#repassword').val()) {

                    alert("password and repeat password must be same.");
                    return;
                }
                submitData();
            });


        });

        function submitData() {

           // alert(1);
            var mail = $('#user_email').val();
            var oldpass = $('#oldpass').val();

            var pass = $('#password').val();
           // var reqid = $('#reqid').val();
            pass = $.md5($.trim(pass));
            oldpass = $.md5($.trim(oldpass));

            var data = { user_email: mail, password: pass, oldpass: oldpass };

            $.post('@Url.Action("SubmitChangePassword", "User")', data, function (result) {
                if (result.state == "1") {

                    alert(result.message);

                    var rturl = '@sReturnUrl';
                    if (rturl && rturl != '')
                        window.location.href = rturl;
                    else
                        window.location.href = '@Url.Action("Login","User")';

                } else {
                    alert(result.message);
                }
            }, "json");
        }


</script>




<div class="pageContentPosition">

    <div class="loginSignUpBg middleCenter">
        <div class="loginSignInIconSet">
            <img src=@Url.Content("~/Content/images/iconLogin.png")>
            <span>Change Password</span>
        </div>
        <div>
            <form id="form1">

                <input type="text" id="user_email" name="user_email" readonly placeholder="Email" class="inputFieldSet" style="margin: 23px 0 0 20px; width:333px">
                <div style="margin: -30px 0 11px 333px;">
                    <img src=@Url.Content("~/Content/images/loginEmailIcon.png")>
                </div>

                <input type="password" id="oldpass" name="oldpass" placeholder="Old Password" class="inputFieldSet" style="margin: 13px 0 0 20px; width:333px">
                <div style="margin: -30px 0 11px 333px;">
                    <img src=@Url.Content("~/Content/images/loginPWIcon.png")>
                </div>
                <input type="password" id="password" name="password" placeholder="Password" class="inputFieldSet" style="margin: 10px 0 0 20px; width:333px">
                <div style="margin: -33px 0 14px 336px;">
                    <img src=@Url.Content("~/Content/images/loginPWIcon.png")>
                </div>
                <input type="password" id="repassword" name="repassword" placeholder="Repeat Password" class="inputFieldSet" style="margin: 10px 0 0 20px; width:333px">
                <div style="margin: -33px 0 14px 336px;">
                    <img src=@Url.Content("~/Content/images/loginPWIcon.png")>
                </div>
                <div class="buttonSet" id="signdiv" style="margin: 18px 0 0 20px; width:333px">Change</div>
                <input type="hidden" id="reqid" name="reqid" />
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @Styles.Render("~/jQueryUI/css")

    @Scripts.Render("~/bundles/jqueryUI")

    @Scripts.Render("~/bundles/jquerymd5")
}
