﻿
@{
    ViewBag.Title = "CreateGroupAcount";
}

<style>
    .bgRed {
        background-color: #DCDCDC;
    }

    .bgRealRed {
        background-color: #ff0000;
    }
</style>

<div style="padding: 15px 15px;">
    <form action='@Url.Action("UploadAccount", "User")' id="fileform" method="post" enctype="multipart/form-data">
        <div class="setWhiteBG">
            <div class="allTextSetBlue" style="font-size: 18px; padding: 0 0 13px 15px;"><span>Create Group Account</span></div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Choose Group</span>
                <select required name="select" class="dragDownMenuSet " id="select" style="width:100%;">
                    <option value="" selected>Choose Group</option>
                    <option value="P">Patient</option>
                    <option value="Y">Physician</option>
                    <option value="N">Nurse</option>
                    <option value="M">Manager</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>　</span>
                <input id="filename" name="" type="text" placeholder="Choose File..." class="inputFieldSet" style="width:100%">

                <input type="file" id="file"
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       style="display:none;" />


            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <div class="buttonSet" onclick="selectFile();" style="width: 100%;">Choose</div>
                </div>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <a href="#sendChk" id="hrefimport" name=""><div class="buttonSet" style="width: 100%;" onclick="checkgroup()">Import Account from AD</div></a>
                </div>
            </div>

        </div>
    </form>
</div>


<div class="setPopupArea flexVerSet overlay" id="sendChk">
    <div class="flexHorSet popup" style="flex-direction: column; width: 300px;">
        <div class="allTextSetGray" style="padding-bottom: 20px;">Please login by AD account</div>

        <div class="allTextSetBlue">
            <span>AD Account</span>
            <input type="text" id="aduser" name="aduser" class="inputFieldSet" style="width:100%;">
        </div>

        <div class="allTextSetBlue">
            <span>AD Password</span>
            <input type="password" id="adpass" name="adpass" class="inputFieldSet" style="width:100%;">
        </div>

        <div style="margin: 20px 0px;">
            <div class="buttonSet" id="adsubmit" name="adsubmit" style="margin: 0 auto; width:100%;">Submit</div>
        </div>

        <a class="close" href="#" style="z-index:1">&times;</a>

    </div>



</div>

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>Preview:</span></div>
        <table width="100%" id="accountlist" name="" style="font-size: 10px;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="" style="height: 40px;">
                    <td onclick="javascript:sortQuery('1')">Name</td>
                    <td onclick="javascript:sortQuery('2')">Native ID</td>
                    <td onclick="javascript:sortQuery('3')">MRN.</td>
                    <td>Gender</td>
                    <td>Birthday</td>
                    <td>Address</td>
                    <td>Phone Number</td>
                    <td onclick="javascript:sortQuery('4')">Email</td>
                    <td>Dept.</td>
                </tr>
            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>


        <div class="horToCenter" style="width: 760px; margin-bottom: 30px;">
            <div>
                @*<div class="buttonSet_Clear" id="clearbtn" name="" onclick="clearData();" style="margin: 23px 0 0 20px; width:115px">Clear</div>*@
                <button type="button" id="clearbtn" name="clearbtn" class="btn btn-danger" style="width: 115px; margin: 23px 0 0 20px;" onclick="clearData();">Clear</button>
            </div>
            <div>
                <div class="buttonSet" style="margin: 23px 0 0 120px; width:115px" onclick="CreateGroupAccounts();">Upload</div>
            </div>
        </div>
    </div>
</div>



<script type='text/javascript'>
    var recCountPage = 5;
    var sortby = 1;//
    var lastsort = 1;
    var order = "desc";
    var curFile = "";
    var borderbak = "#00AFEC";
    var ncolor = "#949494";
    var gfile = "";
    var mails = [];

    $(function () {

        $('#file').change(function () {

            $('#filename').val($(this).val());
            //
            upload();
        });

       // $('#upload').click(upload);
        $('#adsubmit').click(adsubmit);
    })

    function selectFile() {
        //触发 文件选择的click事件
        $("#file").trigger("click");

        //其他code如 swal($("#file").attr("value"))
    }
    function upload() {

        if ($('#file').val().length < 1)
            return;
        //
        //var fileobj = $('#file')[0].files[0];

       // $('#fileform').submit();
        var formData = new FormData();
        formData.append("file", document.getElementById('file').files[0]);

        $.ajax({
            url: '@Url.Action("UploadAccount", "User")',
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {

                if (data.state == "1" || data.state == "success") {
                    gfile = data.File;

                    QueryAccount(data.File, 1);

                }
                else
                    swal(data.message);
            }
        });
    }
    function clear() {
        $('#accountlist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });


        $('#scrollNav').css("display", "none");
    }
    function clearData() {
        clear();
        //
        mails = [];

        if (!curFile || curFile == '')
            return;

        var url = '@Url.Action("ClearFile", "User")';
        var data = { sFile: curFile };

        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
            }
        });

        $("#clearbtn").css("background-color", ncolor);
    }
    function sortQuery(sid) {
        var lc = $("#accountlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        QueryAccount(gfile, 1);


    }
    function QueryAccount(fileName,pageIndex) {

        var nurl = '@Url.Action("GetAccountsFileRec", "User")';
        var ldata = { sFile: fileName, pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby, order: order };


        $.post(nurl, ldata, function (result) {

            if (result.state == "1" || result.state == "success") {

                //
                clear();
                curFile = fileName;
                //
                var retdats = result.users;


                if (retdats == null)
                    return;
                var pagecount = result.pageCount;

                //
                if (retdats.length > 0)
                    $("#clearbtn").css("background-color", borderbak);

                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];

                    //
                    var username = item.user_name;
                    var userid = item.user_id;
                    var idno = item.id_number;
                    var medicno = item.medical_recno;
                    var phone = item.mobile_phone;
                    var addr = item.address;
                    var email = item.email;
                    var gender = item.gender;
                    var birth = item.birthday;
                    var dept = item.department_id;
                    var dtmp = dept.split('$');
                    if (dtmp.length > 1)
                        dept = dtmp[1];

                    //
                    var row = '<tr class="allTextSetGray" style="height: 40px;"> '
                        + '<td>' + username + '</td>'
                        + '<td>' + idno + '</td>'
                        + '<td>' + medicno + '</td>'
                        + '<td>' + gender + '</td>'
                        + '<td>' + birth + '</td>'
                        + '<td>' + addr + '</td>'
                        + '<td>' + phone + '</td>'
                        + '<td>' + email + '</td>'
                        + '<td>' + dept + '</td>';
                    + '</tr> ';
                    //

                    $('#accountlist tbody:last').append(row);
                }
                //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#accountlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().


                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                //加入选择有问题的mail..
                if (mails && mails.length > 0) {
                    $('#accountlist tr').each(function () {
                        var lmail = $(this).find("td").eq(7).text(); //email
                        //
                        var ldx = mails.indexOf(lmail);
                        if (ldx >= 0) {
                            //background color...
                            if (!$(this).hasClass("bgRealRed"))
                                $(this).addClass("bgRealRed");
                        }
                    });
                }
                //
                if (pagecount > 1) {
                    var pagelink = '';
                    var pagestart = 0;
                    if (pageIndex % 10 == 0)
                        pagestart = parseInt(pageIndex / 10);
                    else
                        pagestart = parseInt(pageIndex / 10) + 1;
                    var ii = (pagestart - 1) * 10, jj = 0;
                    for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                        if (ii + 1 == pageIndex)
                            pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="QueryAccount(\'' + fileName + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        else
                            pagelink += '<a href="javascript:void(0)"onclick="QueryAccount(\'' + fileName + '\','  + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        //if (ii > 5) {
                        //    pagelink += "...";
                        //    break;
                        //}
                    }
                    //if (ii != pagecount && pageIndex > ii+1) {
                    //    //超过7页情况下，显示当前页
                    //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + upload_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (pageIndex+0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                    //}
                    $('#pageLink').html(pagelink);
                    $('#firstPage').unbind('click');
                    $('#firstPage').click(function () {
                        if (pageIndex != 1)
                            QueryAccount(fileName,  1);
                    });
                    $('#prevPage').unbind('click');
                    $('#prevPage').click(function () {
                        if (pageIndex > 1) {
                            var nidx = 1;
                            if (pageIndex > 10)
                                nidx = pageIndex - 10;
                            QueryAccount(fileName,  nidx);//pageIndex - 1);
                        }
                    });
                    $('#nextPage').unbind('click');
                    $('#nextPage').click(function () {
                        if (pageIndex < pagecount) {
                            var nidx = pageIndex + 10;
                            if (nidx > pagecount)
                                nidx = pagecount - 10;
                            if (nidx <= 0)
                                nidx = 1;
                            QueryAccount(fileName,  nidx);//pageIndex + 1);
                        }
                    });
                    $('#lastPage').unbind('click');
                    $('#lastPage').click(function () {
                        if (pageIndex != pagecount)
                            QueryAccount(fileName, pagecount);
                    });
                    $('#scrollNav').css("display", "block");
                }
                else
                    $('#scrollNav').css("display", "none");
            }
        });
    }

    function CreateGroupAccounts() {

        var group = $('#select').val();
        var fileName = gfile;
        if (!group || group == "") {
            swal("Please Select Group");
            return;
        }
        var nurl = '@Url.Action("SubmitCreateGroupAccounts", "User")';
        var ldata = { group: group, fileName: fileName };


        $.post(nurl, ldata, function (result) {

            //
            if (result.state == "1" || result.state == "success") {
                mails = [];
                swal(result.message);
            }
            else {

                //
                if (result.emails) {
                    //
                     mails = result.emails;
                    $('#accountlist tr').each(function () {
                        var lmail = $(this).find("td").eq(7).text(); //email
                        //
                        var ldx = mails.indexOf(lmail);
                        if (ldx >= 0) {
                            //background color...
                            if (!$(this).hasClass("bgRealRed"))
                                $(this).addClass("bgRealRed");
                        }
                    });
                }
                swal(result.message);
            }

        });
    }
    function checkgroup() {
        var group = $('#select').val();
        if (!group || group == ""|| group=="P") {
            swal("Please Select Non Patient  Group");
            $('#hrefimport').attr('href', '###'); //no jump
            return;
        }
        else
            $('#hrefimport').attr('href', '#sendChk');//jump
    }
    function adsubmit() {
        var group = $('#select').val();
        if (!group || group == "" || group=="P") {
            swal("Please Select Non Patient Group");
            return;
        }
        var aduser = $('#aduser').val().trim();
        var adpass = $('#adpass').val().trim();
        if (aduser == '' || adpass == '') {
            swal('please input AD\'s user and password');
            return;
        }

        var nurl = '@Url.Action("CheckADAccount", "User")';
        var ldata = { aduser: aduser, adpass: adpass,vnagroup:group };


        $.post(nurl, ldata, function (result) {

            //
            if (result.state == "1" || result.state == "success") {
                var turl = '@Url.Action("CreateAcountFromAD","User")'+'?s=1';
                window.location.href = turl;
            }
            else {
                swal(result.message);
            }

        });
    }
</script>
