﻿
@{
    ViewBag.Title = "CreateIndividualAcount";
}


<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue" style="font-size: 18px; padding: 0 0 13px 15px;"><span>Create an Individual Account</span></div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Group</span>
                <select required name="group" class="dragDownMenuSet " id="group" style="width:100%;">
                    <option value="" selected>Choose Group</option>
                    <option value="P">Patient</option>
                    <option value="Y">Physician</option>
                    <option value="N">Nurse</option>
                    <option value="M">Manager</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Name</span>
                <input type="text" id="name" name="" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>ID Number</span>
                <input type="text" id="idno" name="" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Medical Record Number</span>
                <input type="text" id="medicno" name="" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Gender</span>
                <select required name="gender" class="dragDownMenuSet " id="gender" style="width:100%;">
                    <option value="M" selected>Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Birthday</span>
                <input type="text" id="birth" name="" placeholder="yyyymmdd" onblur="validateDate(this)" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Address</span>
                <input type="text" id="address" name="" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Phone Number</span>
                <input type="text" id="phone" name="" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>E-mail</span>
                <input type="text" id="email" name="" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select required name="dept" class="dragDownMenuSet " id="dept" style="width:100%;">
                    <option value="" selected>Department</option>

                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                </select>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    @*<div class="buttonSet" id="save" name="" style="width: 100%;">Save</div>*@
                    <button type="button" id="save" name="save" class="btn btn-success" style="width: 100%;">Save</button>
                </div>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <!-- buttonSet_Clear-->
                    @*<div class="buttonSet" id="clear" name="" style="width: 100%;">Clear All</div>*@
                    <button type="button" id="clear" name="clear" class="btn btn-warning" style="width: 100%;">Clear All</button>
                </div>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <a href="#sendChk" id="hrefimport" name=""><div class="buttonSet" onclick="checkgroup()" style="width: 100%;">Import Account from AD</div></a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="setPopupArea flexVerSet overlay" id="sendChk">
    <div class="flexHorSet popup" style="flex-direction: column; width: 300px;">
        <div class="allTextSetGray" style="padding-bottom: 20px;">Please login by AD account</div>
        <div class="allTextSetBlue">
            <span>AD Account</span>
            <input type="text" id="aduser" name="aduser" class="inputFieldSet" style="width:100%;">
        </div>
        <div class="allTextSetBlue">
            <span>AD Password</span>
            <input type="password" id="adpass" name="adpass" class="inputFieldSet" style="width:100%;">
        </div>
        <div style="margin: 20px 0px;">
            <div class="buttonSet" id="adsubmit" name="adsubmit" style="margin: 0 auto; width:100%;">Submit</div>
        </div>
        <a class="close" href="#" style="z-index:1">&times;</a>
    </div>



</div>


<script>
    $(function () {
        $("#birth").datepicker({ dateFormat: 'yymmdd' });

        $('#save').click(createAccount);
        $('#clear').click(clear);
        //
        $('#adsubmit').click(adsubmit);
    })
    function validateEmail(obj) {
        var email = $(obj).val();
        var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (re.test(email)) {

            $(obj).css("background-color", "transparent");
            return true;
        }
        else {
            $(obj).css("background-color", "red");
            return false;
        }
    }
    function validateDate(obj) {
        var reg = /^\d{8}$/;// /^\d{4}-(?:0\d|1[0-2])-(?:[0-2]\d|3[01])( (?:[01]\d|2[0-3])\:[0-5]\d\:[0-5]\d)?$/;//  /^[2]\\d{3}[0|1][1-9][0-3]\\d$/;//
        var value = $(obj).val();
        if (value.length > 0) {
            var mon = parseInt(value.substr(4, 2));
            var day = parseInt(value.substr(6, 2));

            if (!reg.test(value) || mon > 12 || mon == 0 || day > 31 || day == 0) {
                swal("Date format is wrong");
                //
                $(obj).css("background-color","red");//focus();
                return false;
            }
        }
        $(obj).css("background-color", "transparent");

        return true;
    }
    function createAccount() {

        var name = $('#name').val();
        var idno = $('#idno').val();
        var medicno = $('#medicno').val();
        var gender = $('#gender').val();
        var birth = $('#birth').val();
        var address = $('#address').val();
        var phone = $('#phone').val();
        var email = $('#email').val();
        var dept = $('#dept').val();
        var role = $('#group').val();
        //
        if (!role || role== "") {
            swal("Please select group");
            return;
        }
        if (!dept || dept == "") {
            swal("Please select department");
            return;
        }
        if (gender && gender != "") {
            var lg = gender.toLowerCase();
            if (lg != "m" && lg != "f" && lg != "o") {
                swal("gender is wrong");
                return;
            }
        }
        if (!idno || idno.trim() == "" || !name || name.trim() == "") {
            swal("ID and Name can't be empty.");
            return;
        }
        if (!email || email.trim() == "") {

            swal("Email can't be empty.");
            return;
        }

        //var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if (!validateEmail($('#email'))) {

            swal("Email is not valid.");
            return;
        }


        if (!validateDate($("#birth")))
            return;
        //----------------//
        var url = '@Url.Action("SubmitCreateAccount", "User")';
        var data = {
            user_id: email, user_name: name, id_number: idno, medical_recno: medicno, gender: gender,
            birthday: birth, email: email, mobile_phone: phone, address: address, department_id: dept,
            role_id: role
        };

        $.post(url, data, function (result) {

            if (result.state == "1" || result.state=="success") {

                clear();

            }
            swal(result.message);
        });
    }

    function clear() {

        $('#name').val("");
        $('#idno').val("");
        $('#medicno').val("");
        $('#gender').val("");
        $('#birth').val("");
        $('#address').val("");
        $('#phone').val("");
        $('#email').val("");
        $('#dept').val("");
        $('#group').val("");
    }
        function checkgroup() {
        var group = $('#group').val();
        if (!group || group == ""|| group=="P") {
            swal("Please Select Non Patient  Group");
            $('#hrefimport').attr('href', '###'); //no jump
            return;
        }
        else
            $('#hrefimport').attr('href', '#sendChk');//jump
    }
    function adsubmit() {
        var group = $('#group').val();
        if (!group || group == "" || group=="P") {
            swal("Please Select Non Patient Group");
            return;
        }
        var aduser = $('#aduser').val().trim();
        var adpass = $('#adpass').val().trim();
        if (aduser == '' || adpass == '') {
            swal('please input AD\'s user and password');
            return;
        }

        var nurl = '@Url.Action("CheckADAccount", "User")';
        var ldata = { aduser: aduser, adpass: adpass,vnagroup:group };


        $.post(nurl, ldata, function (result) {

            //
            if (result.state == "1" || result.state == "success") {
                //redirect to ..refresh..
                //window.location.reload();("CreateIndividualAcount","User")' + '?fromad=1'
                var turl = '@Url.Action("CreateAcountFromAD","User")';
                window.location.href = turl;
            }
            else {

                swal(result.message);
            }

        });
    }
</script>
