﻿@using DataModel;
@{

    ViewBag.Title = "EditPersonalFunc1";
    Role role = ViewBag.role;

    var rolename = string.Empty;
    BaseData.Role roleact = (int)BaseData.Role.Patient;
    string roleid = string.Empty;

    if (role != null)
    {
        rolename = role.role_name;
        roleid = role.role_id;
    }

    roleact = BaseData.RoleActor.GetRole(roleid);

    var deptname = ViewBag.deptname;

    var vauthorith = Model.user_authority;
    vauthorith = Convert.ToString(vauthorith);
    if (string.IsNullOrEmpty(vauthorith))
    {
        vauthorith = "";
    }
    var upload_enable = (role != null? role.upload_enable.ToString().ToLower():"false");
    var view_enable = (role !=null? role.view_enable.ToString().ToLower() : "false");
    var send_enable = (role != null ? role.send_enable.ToString().ToLower() : "false");
    var monitor_enable = (role != null ? role.monitor_enable.ToString().ToLower() : "false");
    var senddown = (role != null ? role.senddown_enable.ToString().ToLower() : "false");
    var download = (role != null ? role.download_enable.ToString().ToLower() : "false");
    var downpacs = (role != null ? role.downloadpacs_enable.ToString().ToLower() : "false");

    var departlist = (ViewBag.deptlist as List<Department>);
    var deptcount = departlist.Count;
    var ii = 0;
    var bkcolor = string.Empty;

    var userAuthorDepts = (ViewBag.userAuthorDepts as List<UserAuthorDept>);
    int iqupload = (int)BaseData.AuthorityRights.Upload;
    int iqview = (int)BaseData.AuthorityRights.ViewFile;
    int iqdown = (int)BaseData.AuthorityRights.DownloadFile;
    int iqsend = (int)BaseData.AuthorityRights.SendUpload;
    int iqsenddown = (int)BaseData.AuthorityRights.SendDownload;
    int iqdownpacs = (int)BaseData.AuthorityRights.DownloadFromPacs;
    int iqmonitor = (int)BaseData.AuthorityRights.Monitor;

    int deptrows = 6,jj = 0,ll=0;
    int kk = deptcount /deptrows ;
    if (deptcount % deptrows > 0)
    {
        kk++;
    }
}
<style>
     .showScrollBar {
        overflow-y: scroll;
        -ms-overflow-style:auto;
        overflow:auto;
    }

     .showScrollBar::-webkit-scrollbar {
            display:block;
        }
</style>


<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="col-md-6 col-lg-6" style="padding-bottom: 20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" style="background-color:darkblue">Personal Information</td>  @*bgcolor="#00AFEC"*@
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Group</td>
                        <td class="allTextSetGray">@rolename</td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue" style="width: 65%;">Name</td>
                        <td class="allTextSetGray">@Model.user_name</td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Native ID</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.id_number</td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">Medical Record Number</td>
                        <td class="allTextSetGray">@Model.medical_recno</td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Gender</td>
                        <td class="allTextSetGray">@Model.gender</td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Birthday</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.birthday</td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Address</td>
                        <td class="allTextSetGray">@Model.address</td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Phone</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.mobile_phone</td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">E-mail</td>
                        <td class="allTextSetGray">@Model.address</td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Department</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">@deptname</td>
                    </tr>
                </tbody>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" style="background-color:darkblue">Authority Edit</td>
                    </tr>
                    <tr style="height: 40px;" id="dvupload" name="dvupload">
                        <td class="allTextSetBlue" style="width: 65%;">Upload Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p1">
                                <label for="p1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;" id="dvview" name="">
                        <td bgcolor="" class="allTextSetBlue">View Files</td>
                        <td bgcolor="" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p2">
                                <label for="p2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;" id="dvsendup" name="">
                        <td bgcolor="" class="allTextSetBlue">Send upload link</td>
                        <td bgcolor="" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p3">
                                <label for="p3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;" id="dvmonitor" name="">
                        <td bgcolor="" class="allTextSetBlue">Monitor Files</td>
                        <td bgcolor="" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p4">
                                <label for="p4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px; " id="dvsenddown" name="">
                        <td bgcolor="" class="allTextSetBlue">Send download link</td>
                        <td bgcolor="" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p5">
                                <label for="p5"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px; " id="dvdownload" name="">
                        <td bgcolor="" class="allTextSetBlue">Download Files</td>
                        <td bgcolor="" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p6">
                                <label for="p6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px; " id="dvdownpacs" name="">
                        <td bgcolor="" class="allTextSetBlue">Download from Pacs</td>
                        <td bgcolor="" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p7">
                                <label for="p7"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 col-lg-6" style="padding-bottom: 20px;">

            <div class="setFormTitle allTextSetWhite" style="width: 100%; padding-left: 15px; background-color:darkblue;">Avaliable Department Edit</div>

            @for (ii = 0, jj = 0; jj < kk; ++jj)
            {
                <table width="100%" id="deptlist_@jj" name="" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr class="allTextSetGray" style="height: 40px;">
                            <td colspan="2">Department Category @(jj)</td>
                        </tr>
                        @for (ll = 0; ii < deptcount && ll < deptrows; ll++, ii++)
                        {
                            if ((ll + 1) % 2 == 0 && ll > 0)
                            {
                                bkcolor = "#E3E3E3";
                            }
                            else
                            {
                                bkcolor = "";
                            }
                            <tr style="height: 40px;">
                                <td class="allTextSetBlue" bgcolor="@bkcolor" style="width: 320px;">@departlist[ii].department_name</td>
                                <td class="allTextSetGray" bgcolor="@bkcolor">
                                    <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;" id="@departlist[ii].id" name="">
                                        <input type="checkbox" id="@departlist[ii].id@ii.ToString()">
                                        <label for="@departlist[ii].id@ii.ToString()"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="horAlignCenter" style="float: left; width: 100%;">
            @*<div class="buttonSet" id="savedeptandauthor" name="" style="margin: 0 50px; width:125px;">Save</div>*@
            <button type="button" id="savedeptandauthor" name="savedeptandauthor" class="btn btn-success" style="width: 10%;">Save</button>
            <div class="buttonSetCancel" style="margin: 0 50px; width:125px;display:none">Cancel</div>
        </div>
    </div>
</div>




<script>
    $(function () {

       // $('#showauthority').click(showauthority);
        //$('#showdept').click(showdept);

        $('#savedept').click(savedept);
        $('#saveautho').click(saveautho);
        $('#savedeptandauthor').click(savedeptandauthor);

       // swal('@roleid' + ' ' + '@roleact');

        var user_authority = '@vauthorith';
        if (user_authority != '') {
            user_authority = parseInt(user_authority);
        }
        else
            user_authority = 0;
        //
        $('#p1').prop("checked", false);
        $('#p2').prop("checked", false);
        $('#p3').prop("checked", false);
        $('#p4').prop("checked", false);
        $('#p5').prop("checked", false);
        $('#p6').prop("checked", false);
        $('#p7').prop("checked", false);
        var qupload = @iqupload;
        var qview = @iqview;
        var qdown =@iqdown;
        var qsend = @iqsend;
        var qsenddown = @iqsenddown;
        var qdownpacs =@iqdownpacs;
        var qmonitor = @iqmonitor;

        if (user_authority != 0) {
            if ((user_authority & qupload) > 0) { //1
                //upload
                $('#p1').prop("checked",true);
            }
            if ((user_authority & qview) > 0) { //2
                //upload
                $('#p2').prop("checked",true);
            }
            if ((user_authority & qsend) > 0) { //4
                //upload
                $('#p3').prop("checked",true);
            }
            if ((user_authority & qmonitor) > 0) { //8
                //upload
                $('#p4').prop("checked",true);
            }
            if ((user_authority & qsenddown) > 0) { //16
                //upload
                $('#p5').prop("checked",true);
            }
            if ((user_authority & qdown) > 0) { //
                //
                $('#p6').prop("checked", true);
            }
            if ((user_authority & qdownpacs) > 0) { //
                //
                $('#p7').prop("checked", true);
            }
        }
        else {
            var upload = '@upload_enable', view = '@view_enable', send = '@send_enable', monitor = '@monitor_enable', senddown = '@senddown';
            var download='@download', downloadpacs = '@downpacs'
            upload == "true" ? $('#p1').prop("checked", true) : $('#p1').prop("checked", false);
            view == "true" ? $('#p2').prop("checked", true) :   $('#p2').prop("checked", false);
            send == "true" ? $('#p3').prop("checked", true) :    $('#p3').prop("checked", false);
            monitor == "true" ? $('#p4').prop("checked", true) : $('#p4').prop("checked", false);
            send == "true" ? $('#p5').prop("checked", true) : $('#p5').prop("checked", false);
            download == "true" ? $('#p6').prop("checked", true) : $('#p6').prop("checked", false);
            downloadpacs == "true" ? $('#p7').prop("checked", true) : $('#p7').prop("checked", false);
        }
        @if(roleact == BaseData.Role.Patient|| roleact == BaseData.Role.Doctor|| roleact == BaseData.Role.Nurse)
        {
            <text>
        $('#dvupload').show();
        $('#dvview').show();
        $('#dvdownload').show();
        $('#dvmonitor').hide();
        $('#dvsendup').hide();
        $('#dvsenddown').hide();
        $('#dvdownpacs').hide();
        //$('#dveditgroup').hide();
        //$('#dveditperson').hide();
        $('#dvview').css("background-color", "#E3E3E3");
            </text>
        }
        else if(roleact == BaseData.Role.Manager)
        {
           <text>
        $('#dvupload').show();
        $('#dvview').hide();
        $('#dvdownload').hide();
        $('#dvmonitor').show();
        $('#dvsendup').show();
        $('#dvsenddown').show();
        $('#dvdownpacs').show();
        //$('#dveditgroup').hide();
        //$('#dveditperson').hide();
        $('#dvmonitor').css("background-color", "#E3E3E3");
        $('#dvsenddown').css("background-color", "#E3E3E3");
            </text>
        }
        else if(roleact == BaseData.Role.Admin)
        {
            <text>
        $('#dvupload').hide();
        $('#dvview').hide();
        $('#dvdownload').hide();
        $('#dvmonitor').hide();
        $('#dvsendup').hide();
        $('#dvsenddown').hide();
        $('#dvdownpacs').hide();
        //$('#dveditgroup').hide();
        //$('#dveditperson').hide();
        $('#saveautho').hide(); ///


            </text>
        }
        else if(roleact == BaseData.Role.Super)
        {
            <text>
        $('#dvupload').hide();
        $('#dvview').hide();
        $('#dvdownload').hide();
        $('#dvmonitor').hide();
        $('#dvsendup').hide();
        $('#dvsenddown').hide();
        $('#dvdownpacs').hide();
        //$('#dveditgroup').hide();
        // $('#dveditperson').hide();
        $('#saveautho').hide(); ///

            </text>
        }

        @if(userAuthorDepts != null)
        {
            for(ii = 0; ii < userAuthorDepts.Count;++ii )
            {

                <text>
                    var vid = '@userAuthorDepts[ii].dept_id_id';
        var depdiv = $('#' + vid);
        if (depdiv) {
            $(depdiv).find('input[type="checkbox"]').prop("checked",true);
        }
                </text>
            }

        }
    })
    function saveautho() {

        var url = '@Url.Action("SubmitUserAuthority", "User")';
        //
        var upload=$('#p1').prop("checked");
        var view =$('#p2').prop("checked");
        var send =$('#p3').prop("checked");
        var monitor=$('#p4').prop("checked");
        var senddown=$('#p5').prop("checked");
        var download = $('#p6').prop("checked");
        var downpacs = $('#p7').prop("checked");

        var data = {
            user_id_id: '@Model.user_id_id', upload: upload, view: view, send: send, monitor: monitor, senddown: senddown,
            download: download, downpacs: downpacs
        };

        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
                swal(result.message);
            }
            else
                swal(result.message);

            $('#personal').hide();
        });
    }
    function savedept() {
       //
        var ids = [];
        $("#deptlist").find('input[type="checkbox"]').each(function () {

            if ($(this).prop("checked")) {
                //swal($(this).parent().attr("id"));
                ids.push($(this).parent().attr("id"));

            }
        });
        if (ids.length == 0) {
            $('#departmentshow').hide();
            return;
        }
        var url = '@Url.Action("SubmitUserAuthorDept", "User")';
        var deptids = [];
        var data = { user_id_id: '@Model.user_id_id', deptids: ids };
        //
        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
                swal(result.message);
            }
            else
                swal(result.message);
            $('#departmentshow').hide();
        });
    }
    function showauthority() {

        $('#personal').show();
        $('#departmentshow').hide();
    }

    function showdept() {


        $('#personal').hide();
        $('#departmentshow').show();
    }
    function savedeptandauthor() {

        var kp = '@kk';
        kp = parseInt(kp);
        //
        var ids = [];

        for (var i = 0; i < kp; ++i) {
            var did = 'deptlist_' + i;
            //

            $("#" + did).find('input[type="checkbox"]').each(function () {

                if ($(this).prop("checked")) {
                    //swal($(this).parent().attr("id"));
                    ids.push($(this).parent().attr("id"));

                }
            });
        }
        //
        var url = '@Url.Action("SubmitUserAuthorDept", "User")';

        var data = { user_id_id: '@Model.user_id_id', deptids: ids };
        //
        var bsavedept = false;
        var message = '';
        //此处设为同步..
        $.ajaxSettings.async = false;

        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
                bsavedept = true;
            }
            else {
                message = result.message;
            }

        });
        //
        $.ajaxSettings.async = true;
        //
         url = '@Url.Action("SubmitUserAuthority", "User")';
        //
        var upload=$('#p1').prop("checked");
        var view =$('#p2').prop("checked");
        var send =$('#p3').prop("checked");
        var monitor=$('#p4').prop("checked");
        var senddown=$('#p5').prop("checked");
        var download = $('#p6').prop("checked");
        var downpacs = $('#p7').prop("checked");

        var data = {
            user_id_id: '@Model.user_id_id', upload: upload, view: view, send: send, monitor: monitor, senddown: senddown,
            download: download, downpacs: downpacs
        };
        var bsaveauthor = false;
        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
                bsaveauthor = true;
                //
                if (bsaveauthor && bsavedept) {
                    swal(result.message);
                }
                else
                    swal(message);
            }
            else {
                message = message + result.message;
                swal(message);
            }
        });

    }
</script>