﻿@using DataModel;
@{

    ViewBag.Title = "EditPersonalFunc1";
    Role role = ViewBag.role;

    var rolename = string.Empty;
    BaseData.Role roleact = (int)BaseData.Role.Patient;
    string roleid = string.Empty;

    if (role != null)
    {
        rolename = role.role_name;
        roleid = role.role_id;
    }

    roleact = BaseData.RoleActor.GetRole(roleid);

    var deptname = ViewBag.deptname;

    var vauthorith = Model.user_authority;
    vauthorith = Convert.ToString(vauthorith);
    if (string.IsNullOrEmpty(vauthorith))
    {
        vauthorith = "";
    }
    var upload_enable = (role != null? role.upload_enable.ToString().ToLower():"false");
    var view_enable = (role !=null? role.view_enable.ToString().ToLower() : "false");
    var send_enable = (role != null ? role.send_enable.ToString().ToLower() : "false");
    var monitor_enable = (role != null ? role.monitor_enable.ToString().ToLower() : "false");
    var senddown = (role != null ? role.senddown_enable.ToString().ToLower() : "false");
    var download = (role != null ? role.download_enable.ToString().ToLower() : "false");
    var downpacs = (role != null ? role.downloadpacs_enable.ToString().ToLower() : "false");

    var departlist = (ViewBag.deptlist as List<Department>);
    var deptcount = departlist.Count;
    var ii = 0;
    var bkcolor = string.Empty;

    var userAuthorDepts = (ViewBag.userAuthorDepts as List<UserAuthorDept>);
    int iqupload = (int)BaseData.AuthorityRights.Upload;
    int iqview = (int)BaseData.AuthorityRights.ViewFile;
    int iqdown = (int)BaseData.AuthorityRights.DownloadFile;
    int iqsend = (int)BaseData.AuthorityRights.SendUpload;
    int iqsenddown = (int)BaseData.AuthorityRights.SendDownload;
    int iqdownpacs = (int)BaseData.AuthorityRights.DownloadFromPacs;
    int iqmonitor = (int)BaseData.AuthorityRights.Monitor;

}
<style>
</style>
<script>
    $(function () {

        $('#showauthority').click(showauthority);
        $('#showdept').click(showdept);
        $('#savedept').click(savedept);
        $('#saveautho').click(saveautho);
       // alert('@roleid' + ' ' + '@roleact');

        var user_authority = '@vauthorith';
        if (user_authority != '') {
            user_authority = parseInt(user_authority);
        }
        else
            user_authority = 0;
        //
        $('#p1').prop("checked", false);
        $('#p2').prop("checked", false);
        $('#p3').prop("checked", false);
        $('#p4').prop("checked", false);
        $('#p5').prop("checked", false);
        $('#p6').prop("checked", false);
        $('#p7').prop("checked", false);
        var qupload = @iqupload;
        var qview = @iqview;
        var qdown =@iqdown;
        var qsend = @iqsend;
        var qsenddown = @iqsenddown;
        var qdownpacs =@iqdownpacs;
        var qmonitor = @iqmonitor;

        if (user_authority != 0) {
            if ((user_authority & qupload) > 0) { //1
                //upload
                $('#p1').prop("checked",true);
            }
            if ((user_authority & qview) > 0) { //2
                //upload
                $('#p2').prop("checked",true);
            }
            if ((user_authority & qsend) > 0) { //4
                //upload
                $('#p3').prop("checked",true);
            }
            if ((user_authority & qmonitor) > 0) { //8
                //upload
                $('#p4').prop("checked",true);
            }
            if ((user_authority & qsenddown) > 0) { //16
                //upload
                $('#p5').prop("checked",true);
            }
            if ((user_authority & qdown) > 0) { //
                //
                $('#p6').prop("checked", true);
            }
            if ((user_authority & qdownpacs) > 0) { //
                //
                $('#p7').prop("checked", true);
            }
        }
        else {
            var upload = '@upload_enable', view = '@view_enable', send = '@send_enable', monitor = '@monitor_enable', senddown = '@senddown';
            var download='@download', downloadpacs = '@downpacs'
            upload == "true" ? $('#p1').prop("checked", true) : $('#p1').prop("checked", false);
            view == "true" ? $('#p2').prop("checked", true) :   $('#p2').prop("checked", false);
            send == "true" ? $('#p3').prop("checked", true) :    $('#p3').prop("checked", false);
            monitor == "true" ? $('#p4').prop("checked", true) : $('#p4').prop("checked", false);
            send == "true" ? $('#p5').prop("checked", true) : $('#p5').prop("checked", false);
            download == "true" ? $('#p6').prop("checked", true) : $('#p6').prop("checked", false);
            downloadpacs == "true" ? $('#p7').prop("checked", true) : $('#p7').prop("checked", false);
        }
        @if(roleact == BaseData.Role.Patient|| roleact == BaseData.Role.Doctor|| roleact == BaseData.Role.Nurse)
        {
            <text>
        $('#dvupload').show();
        $('#dvview').show();
        $('#dvdownload').show();
        $('#dvmonitor').hide();
        $('#dvsendup').hide();
        $('#dvsenddown').hide();
        $('#dvdownpacs').hide();
        //$('#dveditgroup').hide();
        //$('#dveditperson').hide();
            </text>
        }
        else if(roleact == BaseData.Role.Manager)
        {
           <text>
        $('#dvupload').show();
        $('#dvview').hide();
        $('#dvdownload').hide();
        $('#dvmonitor').show();
        $('#dvsendup').show();
        $('#dvsenddown').show();
        $('#dvdownpacs').show();
        //$('#dveditgroup').hide();
        //$('#dveditperson').hide();
            </text>
        }
        else if(roleact == BaseData.Role.Admin)
        {
            <text>
        $('#dvupload').hide();
        $('#dvview').hide();
        $('#dvdownload').hide();
        $('#dvmonitor').hide();
        $('#dvsendup').hide();
        $('#dvsenddown').hide();
        $('#dvdownpacs').hide();
        //$('#dveditgroup').hide();
        //$('#dveditperson').hide();
        $('#saveautho').hide(); ///

            </text>
        }
        else if(roleact == BaseData.Role.Super)
        {
            <text>
        $('#dvupload').hide();
        $('#dvview').hide();
        $('#dvdownload').hide();
        $('#dvmonitor').hide();
        $('#dvsendup').hide();
        $('#dvsenddown').hide();
        $('#dvdownpacs').hide();
        //$('#dveditgroup').hide();
        // $('#dveditperson').hide();
        $('#saveautho').hide(); ///

            </text>
        }

        @if(userAuthorDepts != null)
        {
            for(ii = 0; ii < userAuthorDepts.Count;++ii )
            {

                <text>
                    var vid = '@userAuthorDepts[ii].dept_id_id';
        var depdiv = $('#' + vid);
        if (depdiv) {
            $(depdiv).find('input[type="checkbox"]').prop("checked",true);
        }
                </text>
            }

        }
    })
    function saveautho() {

        var url = '@Url.Action("SubmitUserAuthority", "User")';
        //
        var upload=$('#p1').prop("checked");
        var view =$('#p2').prop("checked");
        var send =$('#p3').prop("checked");
        var monitor=$('#p4').prop("checked");
        var senddown=$('#p5').prop("checked");
        var download = $('#p6').prop("checked");
        var downpacs = $('#p7').prop("checked");

        var data = {
            user_id_id: '@Model.user_id_id', upload: upload, view: view, send: send, monitor: monitor, senddown: senddown,
            download: download, downpacs: downpacs
        };

        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
                alert(result.message);
            }
            else
                alert(result.message);

            $('#personal').hide();
        });
    }
    function savedept() {
       //
        var ids = [];
        $("#deptlist").find('input[type="checkbox"]').each(function () {

            if ($(this).prop("checked")) {
                //alert($(this).parent().attr("id"));
                ids.push($(this).parent().attr("id"));

            }
        });
        if (ids.length == 0) {
            $('#departmentshow').hide();
            return;
        }
        var url = '@Url.Action("SubmitUserAuthorDept", "User")';
        var deptids = [];
        var data = { user_id_id: '@Model.user_id_id', deptids: ids };
        //
        $.post(url, data, function (result) {

            if (result.state == "1" || result.state == "success") {
                alert(result.message);
            }
            else
                alert(result.message);
            $('#departmentshow').hide();
        });
    }
    function showauthority() {

        $('#personal').show();
        $('#departmentshow').hide();
    }

    function showdept() {


        $('#personal').hide();
        $('#departmentshow').show();
    }
</script>
<div class="pageContentPosition" style="padding-top: 50px;">

    <div style="padding-top: 50px; float: left; width: 50%;">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite" style="height: 40px;">
                    <td colspan="2" bgcolor="#00AFEC">Personal Information</td>

                </tr>
                <tr style="height: 40px;">
                    <td class="allTextSetBlue">Group</td>
                    <td class="allTextSetGray">@rolename</td>
                </tr>
                <tr style="height: 40px;">
                    <td bgcolor="#E3E3E3" class="allTextSetBlue">Name</td>
                    <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.user_name</td>
                </tr>
                <tr style="height: 40px;">
                    <td class="allTextSetBlue">Native ID</td>
                    <td class="allTextSetGray">@Model.id_number</td>
                </tr>
                <tr style="height: 40px;">
                    <td bgcolor="#E3E3E3" class="allTextSetBlue">Medical Record Number</td>
                    <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.medical_recno</td>
                </tr>
                <tr style="height: 40px;">
                    <td class="allTextSetBlue">Gender</td>
                    <td class="allTextSetGray">@Model.gender</td>
                </tr>
                <tr style="height: 40px;">
                    <td bgcolor="#E3E3E3" class="allTextSetBlue">Birthday</td>
                    <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.birthday</td>
                </tr>
                <tr style="height: 40px;">
                    <td class="allTextSetBlue">Address</td>
                    <td class="allTextSetGray">@Model.address</td>
                </tr>
                <tr style="height: 40px;">
                    <td bgcolor="#E3E3E3" class="allTextSetBlue">Phone</td>
                    <td bgcolor="#E3E3E3" class="allTextSetGray">@Model.mobile_phone</td>
                </tr>
                <tr style="height: 40px;">
                    <td class="allTextSetBlue">E-mail</td>
                    <td class="allTextSetGray">@Model.address</td>
                </tr>
                <tr style="height: 40px;">
                    <td bgcolor="#E3E3E3" class="allTextSetBlue">Department</td>
                    <td bgcolor="#E3E3E3" class="allTextSetGray">@deptname</td>
                </tr>

            </tbody>
        </table>

    </div>

    <div style="margin-top: 50px; width: 50%; float: left;">
        <div class="buttonSet" id="showauthority" name="" style="margin: 0 20px; width:95%; height: 85px; line-height: 85px;">Show Personal Authority & Edit</div>
        <div class="buttonSet" id="showdept" name="" style="margin: 15px 20px; width:95%; height: 85px; line-height: 85px;">Show Avaliable Department & Edit</div>
    </div>


    <!-- 隱藏區 start  說明: 分兩個大的div id分別為 personal, department
                           頁面上按下 show personal ...按鈕時， personal 的 style="display: none"
                           拿掉 就會顯示出來 -->

    <div class="setPopupArea" style="width: 790px; height: 610px; display: none;" id="personal" name="">
        <div style="padding: 50px 0 0 25px; float: left; width: 45%;">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" bgcolor="#00AFEC">Authority Edit</td>

                    </tr>
                    <tr style="height: 40px;"id="dvupload" name="dvupload">
                        <td class="allTextSetBlue" style="width: 320px;">Upload Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p1">
                                <label for="p1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;" id="dvview" name="">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">View Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p2">
                                <label for="p2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;"id="dvsendup" name="">
                        <td class="allTextSetBlue">Send upload link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p3">
                                <label for="p3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;" id="dvmonitor" name="">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Monitor Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p4">
                                <label for="p4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px; " id="dvsenddown" name="">
                        <td class="allTextSetBlue">Send download link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p5">
                                <label for="p5"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px; " id="dvdownload" name="">
                        <td class="allTextSetBlue">Download Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p6">
                                <label for="p6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px; " id="dvdownpacs" name="">
                        <td class="allTextSetBlue">Download from Pacs</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p7">
                                <label for="p7"></label>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div style="margin-top: 20px; float: left; width: 100%;">
            <div class="buttonSet" id="saveautho" name="" style="margin: 0 auto; width:125px;">Save</div>
        </div>

    </div>


    <div class="setPopupArea" style="width: 790px; height: 610px;display:none" id="departmentshow" name="">
        <div style="padding: 50px 0 0 25px; float: left; width: 90%;">
            <div><span style="color:#00AFEC">Avaliable Department Edit</span> </div>
            <table width="100%" id="deptlist" name="" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <!--<tr class="allTextSetWhite" style="height: 40px;">
        <td colspan="2" bgcolor="#00AFEC">Avaliable Department Edit</td>

    </tr>-->
                    @for (ii = 0; ii < deptcount;)
                    {
                        if (ii % 2 == 0 && ii > 0)
                        {
                            bkcolor = "#E3E3E3";
                        }
                        else
                        {
                            bkcolor = "";
                        }
                        <tr style="height: 40px;">
                            <td class="allTextSetBlue" bgcolor="@bkcolor" style="width: 320px;" >@departlist[ii].department_name</td>
                            <td class="allTextSetGray" bgcolor="@bkcolor">
                                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;" id="@departlist[ii].id" name="">
                                    <input type="checkbox" id="@departlist[ii].id@ii.ToString()">
                                    <label for="@departlist[ii].id@ii.ToString()"></label>
                                </div>
                            </td>
                            @{
                                ii = ii + 1;

                                if (ii < deptcount)
                                {
                                    <td bgcolor="@bkcolor" class="allTextSetBlue" style="width: 320px;" >@departlist[ii].department_name</td>
                                    <td bgcolor="@bkcolor" class="allTextSetGray">
                                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;" id="@departlist[ii].id" name="">
                                            <input type="checkbox" id="@departlist[ii].id@ii.ToString()">
                                            <label for="@departlist[ii].id@ii.ToString()"></label>
                                        </div>
                                    </td>
                                }
                                ii = ii + 1;
                            }
                        </tr>
                    }
                    @* <tr style="height: 40px;">
            <td class="allTextSetBlue" style="width: 320px;">Dental</td>
            <td class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d1">
                    <label for="d1"></label>
                </div>
            </td>
            <td bgcolor="" class="allTextSetBlue" style="width: 320px;">Endo</td>
            <td bgcolor="" class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d2">
                    <label for="d2"></label>
                </div>
            </td>
        </tr>
        <tr style="height: 40px;">
            <td bgcolor="#E3E3E3" class="allTextSetBlue">Endo</td>
            <td bgcolor="#E3E3E3" class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d2">
                    <label for="d2"></label>
                </div>
            </td>
            <td bgcolor="#E3E3E3" class="allTextSetBlue" style="width: 320px;">Telecenter</td>
            <td bgcolor="#E3E3E3" class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d6">
                    <label for="d6"></label>
                </div>
            </td>
        </tr>
        <tr style="height: 40px;">
            <td class="allTextSetBlue">HPC1</td>
            <td class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d3">
                    <label for="d3"></label>
                </div>
            </td>
        </tr>
        <tr style="height: 40px;">
            <td bgcolor="#E3E3E3" class="allTextSetBlue">MRI</td>
            <td bgcolor="#E3E3E3" class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d4">
                    <label for="d4"></label>
                </div>
            </td>
        </tr>
        <tr style="height: 40px;">
            <td class="allTextSetBlue">Xray</td>
            <td class="allTextSetGray">
                <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                    <input type="checkbox" id="d5">
                    <label for="d5"></label>
                </div>
            </td>
        </tr> *@

                </tbody>
            </table>
        </div>
        <!--
        <div style="padding: 50px 0 0 25px; float: left; width: 45%;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue" style="width: 320px;">Telecenter</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="d6">
                                <label for="d6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">PSV</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="d7">
                                <label for="d7"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">UniCloud</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="d8">
                                <label for="d8"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">YALA</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="d9">
                                <label for="d9"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">MAIN</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="d10">
                                <label for="d10"></label>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div> -->

        <div style="margin-top: 20px; float: left; width: 100%;">
            <div class="buttonSet" id="savedept" name="" style="margin: 0 auto; width:125px;">Save</div>
        </div>

    </div>

    <!-- 隱藏區 end -->

</div>

