﻿
@{
    ViewBag.Title = "EditPersonalFunc";
    string userid_idstr = ViewBag.userid_ids as string;
}

<style>
    .bgRed {
        background-color: #DCDCDC;
    }
</style>

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Group</span>
                <select required name="group" class="dragDownMenuSet " id="group" style="width:100%;">
                    <option value="P" selected>Patient</option>
                    <option value="Y">Physician</option>
                    <option value="N">Nurse</option>
                    <option value="M">Manager</option>
                </select>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Creation Date</span> <!--hasDatepicker -->
                <input type="text" id="appldate" name="appldate" placeholder="Creation Date" class="inputFieldSet" style="width:100%; float: left">
                <div style="margin-top: -28px; position: relative; right: -88%; float: left;">

                    <img src='@Url.Content("~/Content/images/iconCalendar.png")' onclick="javascript:$('#appldate').focus();">
                </div>
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>User Name</span>
                <input type="text" id="name" name="" placeholder="User Name" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Native ID</span>
                <input type="text" id="nativeid" name="" placeholder="Native ID" class="inputFieldSet" style="width:100%;">
            </div>
            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Department</span>
                <select required id="dept" name="dept" class="dragDownMenuSet " style="width:100%;">
                    <option value="" selected>Department</option>

                    @if (ViewBag.departments != null)
                    {
                        foreach (var dept in ViewBag.departments)
                        {
                            <option value="@dept.department_id">@dept.department_name</option>
                        }
                    }
                </select>
            </div>
            <div class="" style="width: 30%; float: left;display:none">
                <div class="checkBoxSet" style="margin: 30px 6px 0 6px; float: left;">
                    <input type="checkbox" id="newapp">
                    <label for="newapp"></label>
                </div>
                <span class="allTextSetBlue" style="margin-top: 28px; float: left;">New Applications</span>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    @*<div id="search" name="" class="buttonSet" style="width: 100%;">Search</div>*@
                    <button type="button" id="search" name="search" class="btn btn-success" style="width: 100%;">Search</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>User List:</span></div>
        <table id="userlist" name="" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="" style="height: 40px;">
                    <td></td>
                    <td onclick="javascript:sortQuery('1')">User Name</td>
                    <td onclick="javascript:sortQuery('2')">Native ID</td>
                    <td>Group</td>
                    <td onclick="javascript:sortQuery('3')">Creation Date</td>
                    <td>Edit Function</td>
                    <td>Edit Profile</td>
                </tr>
        
            </tbody>
        </table>

        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="width: 80%; float: left; display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>


    </div>


</div>
<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
}

<script>

    var recCountPage = 5;
    var sortby = 1;//
    var lastsort = 1;
    var order = "desc";
    var selectIDs = [];
    var iniusers = '@userid_idstr';

    $(function () {

        $('#appldate').datepicker({ dateFormat: 'yymmdd' });

        $('#search').click(search);
        $('#edit').click(edit);
        //
        if (iniusers && iniusers != 'null'&& iniusers != '') {
            //
            GetUsers(iniusers, 1);
        }
    });
    function search() {

        var group = $('#group').val();
        var appdate = $('#appldate').val();
        var name = $('#name').val();
        var nativeid = $('#nativeid').val();
        var dept = $('#dept').val();
        var newapp = $('#newapp').prop('checked');

        $('#waiting').css("visibility", "visible");
        //
        queryUser(group, appdate, name, nativeid,dept, newapp, 1);

    }
    function inArray(suid, arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
       function dateFormat(date, format) {
        var o = {
            "M+": date.getMonth() + 1, //month
            "d+": date.getDate(),    //day
            "h+": date.getHours(),   //hour
            "m+": date.getMinutes(), //minute
            "s+": date.getSeconds(), //second
            "q+": Math.floor((date.getMonth() + 3) / 3),  //quarter
            "S": date.getMilliseconds() //millisecond
        }
        if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (date.getFullYear() + "").substr(4 - RegExp.$1.length));

        for (var k in o) if (new RegExp("(" + k + ")").test(format))
            format = format.replace(RegExp.$1,
                RegExp.$1.length == 1 ? o[k] :
                    ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }
    function freshSelect() {
        //
        $("#userlist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }
            else {
                //
                $(this).find('input[type="checkbox"]').prop("checked", false);

                if ($(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }


        });



    }
    function editProfiles(user_id_id) {

        var url = '@Url.Action("Profiles", "User")';
        url = url + '?user_id_id=' + user_id_id;
        //
        window.open(url);
    }
        function clearParam() {

        $('#nativeid').val('');
        $('#name').val('');

        $('#appldate').val('');
        $('#dept').val('');

    }
    function clear() {
        $('#userlist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });
    }
    function sortQuery(sid) {

        var lc = $("#userlist").find("tr").length;
        if (lc <= 1)
            return;
        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        $('#search').click();


    }
    //get user 通过user_id_id
    function GetUsers(userid_ids,pageIndex) {

        var url = '@Url.Action("GetUsers","User")';
        clear();
        //
        var data = {
            userid_ids: userid_ids,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
        };
        //
        $.post(url, data, function (result) {

            clear();

            if (result.state == "1" || result.state == "success") {

                   var retdats = result.data.datas;

                //
                if (!retdats)
                    return;

                var pagecount = result.data.pageCount;
                //swal(pagecount);
                var server1 = '';
                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var vmedicno = item.medical_recno;
                    if (!vmedicno)
                        vmedicno = '';
                    var vidnumber = item.id_number;
                    if (!vidnumber) vidnumber = '';
                    var vname = item.user_name;
                    if (!vname) vname = '';
                    var vuserid = item.user_id;
                    var vdept = item.department_id;
                    if (vdept) {
                        var tmpdepts = vdept.split("$");
                        if (tmpdepts.length > 1)
                            vdept = tmpdepts[1];
                    }
                    else
                        vdept = '';
                    var vgroup = item.role_id; //'' role to text

                    var tmpdate = '';
                    if ((item.create_date && item.create_date != 'null'&& item.create_date!='')) {
                        tmpdate = new Date(+ item.create_date.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                        //
                        tmpdate = dateFormat(tmpdate, "yyyy-MM-dd");
                    }
                    var vappdate = tmpdate;
                    var user_id_id = item.user_id_id;
                    //
                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;" > '
                        + ' <input type="checkbox" id="select' + item.user_id_id + '" name="_datacheckbox"> '
                        + '    <label for="select' + item.user_id_id + '"></label>  </div>  </td> ';
                    //check = '<td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconEditPer.png")\' width="30" height="30" onclick="javascript:edituser(\'' + item.user_id_id + '\')"><a/></td> ';
                    check = '<td></td>';

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + item.user_id_id + '" name="' + ' ' + '"> '
                        + check
                        + '<td>' + vname + '</td> '
                        + '    <td>' + vidnumber + '</td> '
                        + '    <td>' + vgroup + '</td> '

                        + '    <td>' + vappdate + '</td> '
                        + '    <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconEditPer.png")\'onclick="javascript:edituser(\'' + item.user_id_id + '\')"><a/> </td> '
                        +' <td> <a href="javascript:void(0)" onclick="editProfiles(' + user_id_id + ')"><img src=\'@Url.Content("~/Content/images/iconProfile.png")\'</a> </td>'
                        + ' </tr>';

                    $('#userlist tbody:last').append(row);

                }
                //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#userlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                        //
                        //if (inArray($(this).attr("id"), selectIDs) < 0) {
                        selectIDs = [];
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                        selectIDs.push(vobj);
                        freshSelect();
                       // }

                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        var indx = inArray($(this).attr("id"), selectIDs);
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }

                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                //
                if (pagecount > 1) {
                    var pagelink = '';
                    var pagestart = 0;
                    if (pageIndex % 10 == 0)
                        pagestart = parseInt(pageIndex / 10);
                    else
                        pagestart = parseInt(pageIndex / 10) + 1;
                    var ii = (pagestart - 1) * 10, jj = 0;
                    for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                        if (ii + 1 == pageIndex)
                            pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="GetUsers(\'' + userid_ids +  '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        else
                            pagelink += '<a href="javascript:void(0) "onclick="GetUsers(\'' + userid_ids +  '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        //if (ii > 5) {
                        //    pagelink += "...";
                        //    break;
                        //}
                    }
                    //if (ii != pagecount && pageIndex > ii + 1) {
                    //    //超过7页情况下，显示当前页
                    //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="GetUsers(\'' + group +  '\',' + (pageIndex + 0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                    //}
                    $('#pageLink').html(pagelink);
                    $('#firstPage').unbind('click');
                    $('#firstPage').click(function () {
                        if (pageIndex != 1)
                            GetUsers(userid_ids, 1);
                    });
                    $('#prevPage').unbind('click');
                    $('#prevPage').click(function () {
                        if (pageIndex > 1) {
                            var nidx = 1;
                            if (pageIndex > 10)
                                nidx = pageIndex - 10;
                            GetUsers(userid_ids, nidx);// pageIndex - 1);
                        }
                    });
                    $('#nextPage').unbind('click');
                    $('#nextPage').click(function () {
                        if (pageIndex < pagecount) {
                            var nidx = pageIndex + 10;
                            if (nidx > pagecount)
                                nidx = pagecount - 10;
                            if (nidx <= 0)
                                nidx = 1;

                            GetUsers(userid_ids,nidx);//pageIndex + 1);
                        }
                    });
                    $('#lastPage').unbind('click');
                    $('#lastPage').click(function () {
                        if (pageIndex != pagecount)
                            GetUsers(userid_ids,  pagecount);
                    });
                    $('#scrollNav').css("display", "block");
                }
                else
                    $('#scrollNav').css("display", "none");
                //
                freshSelect();
            }
            else {
                swal(result.message);
            }

        });
    }
    function queryUser(group, appdate, name, nativeid,dept, newapp, pageIndex) {

        var url = '@Url.Action("QueryUser","User")';
        clear();
        //department
        var data = {
            group: group, appdate: appdate, name: name, nativeid: nativeid, dept:dept,newapp: newapp,
            pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby,
            order: order
        };
        $.post(url, data, function (result) {

            clear();
            $('#waiting').css("visibility", "hidden");
            if (result.state == "1" || result.state == "success") {

                   var retdats = result.data.datas;

                //
                if (!retdats)
                    return;
                if (retdats.length == 0) {
                    swal('No results found');
                    clearParam();
                }
                var pagecount = result.data.pageCount;
                //swal(pagecount);
                var server1 = '';
                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];
                    //
                    var vmedicno = item.medical_recno;
                    if (!vmedicno)
                        vmedicno = '';
                    var vidnumber = item.id_number;
                    if (!vidnumber) vidnumber = '';
                    var vname = item.user_name;
                    if (!vname) vname = '';
                    var vuserid = item.user_id;
                    var vdept = item.department_id;
                    if (vdept) {
                        var tmpdepts = vdept.split("$");
                        if (tmpdepts.length > 1)
                            vdept = tmpdepts[1];
                    }
                    else
                        vdept = '';
                    var vgroup = item.role_id; //'' role to text

                    var tmpdate = '';
                    if ((item.create_date && item.create_date != 'null'&& item.create_date!='')) {
                        tmpdate = new Date(+ item.create_date.replace(/\/|[a-zA-Z]|\(|\)/g, ''));
                        //
                        tmpdate = dateFormat(tmpdate, "yyyy-MM-dd");
                    }
                    var vappdate = tmpdate;
                    var user_id_id = item.user_id_id;
                    //
                    var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;" > '
                        + ' <input type="checkbox" id="select' + item.user_id_id + '" name="_datacheckbox"> '
                        + '    <label for="select' + item.user_id_id + '"></label>  </div>  </td> ';
                    //check = '<td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconEditPer.png")\' width="30" height="30" onclick="javascript:edituser(\'' + item.user_id_id + '\')"><a/></td> ';
                    check = '<td></td>';

                    var row = '   <tr class="allTextSetGray" style="height: 40px;" id="' + item.user_id_id + '" name="' + ' ' + '"> '
                        + check
                        + '<td>' + vname + '</td> '
                        + '    <td>' + vidnumber + '</td> '
                        + '    <td>' + vgroup + '</td> '

                        + '    <td>' + vappdate + '</td> '
                        + '    <td><a href="javascript:void(0)"><img src=\'@Url.Content("~/Content/images/iconEditPer.png")\'onclick="javascript:edituser(\'' + item.user_id_id + '\')"><a/> </td> '
                        +' <td> <a href="javascript:void(0)" onclick="editProfiles(' + user_id_id + ')"><img src=\'@Url.Content("~/Content/images/iconProfile.png")\'</a> </td>'
                        + ' </tr>';

                    $('#userlist tbody:last').append(row);

                }
                //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#userlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().
                    if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                        //
                        //if (inArray($(this).attr("id"), selectIDs) < 0) {
                        selectIDs = [];
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                        selectIDs.push(vobj);
                        freshSelect();
                       // }

                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        var indx = inArray($(this).attr("id"), selectIDs);
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }

                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                //
                if (pagecount > 1) {
                    var pagelink = '';
                    var pagestart = 0;
                    if (pageIndex % 10 == 0)
                        pagestart = parseInt(pageIndex / 10);
                    else
                        pagestart = parseInt(pageIndex / 10) + 1;
                    var ii = (pagestart - 1) * 10, jj = 0;
                    for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                        if (ii + 1 == pageIndex)
                            pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryUser(\'' + group + '\',\'' + appdate + '\',\'' + name + '\',\'' + nativeid + '\',\'' + dept + '\',\'' + newapp + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        else
                            pagelink += '<a href="javascript:void(0) "onclick="queryUser(\'' + group + '\',\'' + appdate + '\',\'' + name + '\',\'' + nativeid + '\',\'' + dept + '\',\'' + newapp + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        //if (ii > 5) {
                        //    pagelink += "...";
                        //    break;
                        //}
                    }
                    //if (ii != pagecount && pageIndex > ii + 1) {
                    //    //超过7页情况下，显示当前页
                    //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryUser(\'' + group + '\',\'' + appdate + '\',\'' + name + '\',\'' + nativeid + '\',\'' + dept + '\',' + newapp + '\',' + (pageIndex + 0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                    //}
                    $('#pageLink').html(pagelink);
                    $('#firstPage').unbind('click');
                    $('#firstPage').click(function () {
                        if (pageIndex != 1)
                            queryUser(group,appdate,name,nativeid,dept,newapp,1);
                    });
                    $('#prevPage').unbind('click');
                    $('#prevPage').click(function () {
                        if (pageIndex > 1) {
                            var nidx = 1;
                            if (pageIndex > 10)
                                nidx = pageIndex - 10;
                            queryUser(group, appdate, name, nativeid, dept, newapp, nidx);// pageIndex - 1);
                        }
                    });
                    $('#nextPage').unbind('click');
                    $('#nextPage').click(function () {
                        if (pageIndex < pagecount) {
                            var nidx = pageIndex + 10;
                            if (nidx > pagecount)
                                nidx = pagecount - 10;
                            if (nidx <= 0)
                                nidx = 1;

                            queryUser(group, appdate, name, nativeid, dept, newapp, nidx);//pageIndex + 1);
                        }
                    });
                    $('#lastPage').unbind('click');
                    $('#lastPage').click(function () {
                        if (pageIndex != pagecount)
                            queryUser(group, appdate, name, nativeid, dept, newapp, pagecount);
                    });
                    $('#scrollNav').css("display", "block");
                }
                else
                    $('#scrollNav').css("display", "none");
                //
                freshSelect();
            }
            else {
                swal(result.message);
            }

        });
    }

    function edituser(user_id_id) {
        if (user_id_id) {

            var url = '@Url.Action("EditPersonalFunc", "User")';
            url += "?para1=1&para2=" + escape(user_id_id);

            //window.location.href = url;
            window.open(url);
        }
    }
    function edit() {
        if (!selectIDs || selectIDs.length == 0)
            return;
        var p1 = selectIDs[0].sid;

        var url = '@Url.Action("EditPersonalFunc", "User")';
        url += "?para1=1&para2=" + escape(p1) ;

        window.location.href = url;
    }
</script>