﻿
@{
    ViewBag.Title = "EditGroupFunc";


    DataModel.Role r1 = ViewBag.r1 as DataModel.Role;
    DataModel.Role r2 = ViewBag.r2 as DataModel.Role;
    DataModel.Role r3 = ViewBag.r3 as DataModel.Role;
    DataModel.Role r4 = ViewBag.r4 as DataModel.Role;

}

<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">

        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 15px;"><span>Group Authority Edit</span></div>

        <div class="col-md-6 col-lg-3" style="padding-bottom: 20px;">
            <table id="patientlst" name="" style="font-size: 13px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" style="background-color:darkblue;">Patient</td>

                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue" style="width: 320px;">Upload Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p1">
                                <label for="p1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">View Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p2">
                                <label for="p2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Send upload link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p3">
                                <label for="p3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Monitor Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p4">
                                <label for="p4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Send download link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p5">
                                <label for="p5"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">Download Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p6">
                                <label for="p6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Download FromPacs</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="p7">
                                <label for="p7"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;"></tr>
                    <tr style="height: 40px;"></tr>
                </tbody>
            </table>


            <div style="margin-top: 20px; float: left; width: 100%;">
                @*<div id="savepatient" name="" class="buttonSet" style="margin: 0 auto; width:125px;">Save</div>*@
                <button type="button" id="savepatient" name="savepatient" class="btn btn-success" style="width: 100%;">Save</button>
            </div>

        </div>

        <div class="col-md-6 col-lg-3" style="padding-bottom: 20px;">

            <table id="physicianlst" name="" style="font-size: 13px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" style="background-color:darkblue;">Physician</td>

                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue" style="width: 320px;">Upload Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph1">
                                <label for="ph1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">View Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph2">
                                <label for="ph2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Send upload link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph3">
                                <label for="ph3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Monitor Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph4">
                                <label for="ph4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Send download link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph5">
                                <label for="ph5"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">Download Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph6">
                                <label for="ph6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Download FromPacs</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="ph7">
                                <label for="ph7"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;"></tr>
                    <tr style="height: 40px;"></tr>
                </tbody>
            </table>


            <div style="margin-top: 20px; float: left; width: 100%;">
                @*<div id="savephysician" name="" class="buttonSet" style="margin: 0 auto; width:125px;">Save</div>*@
                <button type="button" id="savephysician" name="savephysician" class="btn btn-success" style="width: 100%;">Save</button>
            </div>
        </div>

        <div class="col-md-6 col-lg-3" style="padding-bottom: 20px;">
            <table id="nurselst" name="" style="font-size: 13px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" style="background-color:darkblue;">Nurse</td>

                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue" style="width: 320px;">Upload Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n1">
                                <label for="n1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">View Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n2">
                                <label for="n2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Send upload link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n3">
                                <label for="n3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Monitor Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n4">
                                <label for="n4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Send download link</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n5">
                                <label for="n5"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">Download Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n6">
                                <label for="n6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td class="allTextSetBlue">Download FromPacs</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="n7">
                                <label for="n7"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;"></tr>
                    <tr style="height: 40px;"></tr>
                </tbody>
            </table>


            <div style="margin-top: 20px; float: left; width: 100%;">
                @*<div id="savenurse" name="" class="buttonSet" style="margin: 0 auto; width:125px;">Save</div>*@
                <button type="button" id="savenurse" name="savenurse" class="btn btn-success" style="width: 100%;">Save</button>
            </div>
        </div>

        <div class="col-md-6 col-lg-3" style="padding-bottom: 20px;">

            <table id="managerlst" name="" style="font-size: 13px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="allTextSetWhite" style="height: 40px;">
                        <td colspan="2" style="background-color:darkblue;">Manager</td>

                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue" style="width: 320px;">Upload Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m1">
                                <label for="m1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">View Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m2">
                                <label for="m2"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Send upload link</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m3">
                                <label for="m3"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">Monitor Files</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m4">
                                <label for="m4"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Send download link</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m5">
                                <label for="m5"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;display:none">
                        <td bgcolor="#E3E3E3" class="allTextSetBlue">Download Files</td>
                        <td bgcolor="#E3E3E3" class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m6">
                                <label for="m6"></label>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td class="allTextSetBlue">Download FromPacs</td>
                        <td class="allTextSetGray">
                            <div class="checkBoxSet" style="margin: 1px 6px 0 6px; float: left;">
                                <input type="checkbox" id="m7">
                                <label for="m7"></label>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div style="margin-top: 20px; float: left; width: 100%;">
                @*<div id="savemanager" name="" class="buttonSet" style="margin: 0 auto; width:125px;">Save</div>*@
                <button type="button" id="savemanager" name="savemanager" class="btn btn-success" style="width: 100%;">Save</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#savepatient').click(savepatient);
        $('#savenurse').click(savenurse);
        $('#savephysician').click(savephysician);
        $('#savemanager').click(savemanager);

        //
        var upload = false, viewfiles = false, sendfiles = false, monitorfiles = false, senddown = false
            downfrompacs=false,download=false;
        @if(r1 != null)
        {
            <text>
        upload = '@r1.upload_enable.ToString()' == 'True' ? true : false;
        //swal(upload);
        viewfiles = '@r1.view_enable.ToString()' == 'True' ? true : false;
        download = '@r1.download_enable.ToString()' == 'True' ? true : false;
        sendfiles = '@r1.send_enable.ToString()' == 'True' ? true : false;
        monitorfiles = '@r1.monitor_enable.ToString()' == 'True' ? true : false;
        senddown = '@r1.senddown_enable.ToString()' == 'True' ? true : false;
        downfrompacs = '@r1.downloadpacs_enable.ToString()' == 'True' ? true : false;
            </text>
        }

        $('#p1').prop('checked', upload);
        $('#p2').prop('checked', viewfiles);
        $('#p3').prop('checked', sendfiles);
        $('#p4').prop('checked', monitorfiles);
        $('#p5').prop('checked', senddown);
        $('#p6').prop('checked', download);
        $('#p7').prop('checked', downfrompacs);

        upload = false, viewfiles = false, sendfiles = false, monitorfiles = false, senddown = false,
            downfrompacs = false, download = false;
        @if(r2 != null)
        {
            <text>
        upload = '@r2.upload_enable.ToString()' == 'True' ? true : false;
        viewfiles = '@r2.view_enable.ToString()' == 'True' ? true : false;
        download = '@r2.download_enable.ToString()' == 'True' ? true : false;
        sendfiles = '@r2.send_enable.ToString()' == 'True' ? true : false;
        monitorfiles = '@r2.monitor_enable.ToString()' == 'True' ? true : false;
        senddown = '@r2.senddown_enable.ToString()' == 'True' ? true : false;
        downfrompacs = '@r2.downloadpacs_enable.ToString()' == 'True' ? true : false;
            </text>
        }

        $('#ph1').prop('checked', upload);
        $('#ph2').prop('checked', viewfiles);
        $('#ph3').prop('checked', sendfiles);
        $('#ph4').prop('checked', monitorfiles);
        $('#ph5').prop('checked', senddown);
        $('#ph6').prop('checked', download);
        $('#ph7').prop('checked', downfrompacs);
            //
        upload = false, viewfiles = false, sendfiles = false, monitorfiles = false, senddown = false,
            downfrompacs = false, download = false;
        @if(r3!=null)
        {
            <text>
        upload = '@r3.upload_enable.ToString()' == 'True' ? true : false;
        viewfiles = '@r3.view_enable.ToString()' == 'True' ? true : false;
        download = '@r3.download_enable.ToString()' == 'True' ? true : false;
        sendfiles = '@r3.send_enable.ToString()' == 'True' ? true : false;
        monitorfiles = '@r3.monitor_enable.ToString()' == 'True' ? true : false;
        senddown = '@r3.senddown_enable.ToString()' == 'True' ? true : false;
        downfrompacs = '@r3.downloadpacs_enable.ToString()' == 'True' ? true : false;
            </text>
        }

        $('#n1').prop('checked', upload);
        $('#n2').prop('checked', viewfiles);
        $('#n3').prop('checked', sendfiles);
        $('#n4').prop('checked', monitorfiles);
        $('#n5').prop('checked', senddown);
        $('#n6').prop('checked', download);
        $('#n7').prop('checked', downfrompacs);
            //
        upload = false, viewfiles = false, sendfiles = false, monitorfiles = false, senddown = false,
            downfrompacs = false, download = false;
        @if(r4!=null)
        {
            <text>
        upload = '@r4.upload_enable.ToString()' == 'True' ? true : false;
        viewfiles = '@r4.view_enable.ToString()' == 'True' ? true : false;
        download = '@r4.download_enable.ToString()' == 'True' ? true : false;
        sendfiles = '@r4.send_enable.ToString()' == 'True' ? true : false;
        monitorfiles = '@r4.monitor_enable.ToString()' == 'True' ? true : false;
        senddown = '@r4.senddown_enable.ToString()' == 'True' ? true : false;
        downfrompacs = '@r4.downloadpacs_enable.ToString()' == 'True' ? true : false;

            </text>
        }

        $('#m1').prop('checked', upload);
        $('#m2').prop('checked', viewfiles);
        $('#m3').prop('checked', sendfiles);
        $('#m4').prop('checked', monitorfiles);
        $('#m5').prop('checked', senddown);
        $('#m6').prop('checked', download);
        $('#m7').prop('checked', downfrompacs);

        });
    function submitserver(type,up,view,send,monitor,senddown,download,downpacs) {

        var url = '@Url.Action("SubmitGroupFunc","User")';

        var data = {
            type: type, uploadFiles: up, viewFiles: view, sendFiles: send, monitorFiles: monitor, sendDown: senddown,
            Download: download, Downpacs: downpacs
        };

        $.post(url, data, function (result) {
            if (result.state == "1" || result.state == "success") {
                swal(result.message);
            }
            else
                swal(result.message);
        });
    }
    function savepatient() {

        var type = 0;//1
        var upload = $('#p1').prop('checked');
        var viewfiles = $('#p2').prop('checked');
        var sendfiles = $('#p3').prop('checked');
        var monitorfiles = $('#p4').prop('checked');
        var senddown = $('#p5').prop('checked');
        var download = $('#p6').prop('checked');
        var downpacs = $('#p7').prop('checked');

        submitserver(type, upload, viewfiles, sendfiles, monitorfiles, senddown, download, downpacs);
    }
    function savephysician() {
        var type = 2;
        var upload = $('#ph1').prop('checked');
        var viewfiles = $('#ph2').prop('checked');
        var sendfiles = $('#ph3').prop('checked');
        var monitorfiles = $('#ph4').prop('checked');
        var senddown = $('#ph5').prop('checked');
        var download = $('#ph6').prop('checked');
        var downpacs = $('#ph7').prop('checked');

        submitserver(type, upload, viewfiles, sendfiles, monitorfiles, senddown, download, downpacs);
    }
    function savenurse() {
        var type = 1;
        var upload = $('#n1').prop('checked');
        var viewfiles = $('#n2').prop('checked');
        var sendfiles = $('#n3').prop('checked');
        var monitorfiles = $('#n4').prop('checked');
        var senddown = $('#n5').prop('checked');
        var download = $('#n6').prop('checked');
        var downpacs = $('#n7').prop('checked');

        submitserver(type, upload, viewfiles, sendfiles, monitorfiles, senddown, download, downpacs);
    }
    function savemanager() {
        var type = 3;//4
        var upload = $('#m1').prop('checked');
        var viewfiles = $('#m2').prop('checked');
        var sendfiles = $('#m3').prop('checked');
        var monitorfiles = $('#m4').prop('checked');
        var senddown = $('#m5').prop('checked');
        var download = $('#m6').prop('checked');
        var downpacs = $('#m7').prop('checked');

        submitserver(type, upload, viewfiles, sendfiles, monitorfiles, senddown, download, downpacs);
    }
</script>