﻿
@{
    ViewBag.Title = "ForgetPassword";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>EBM eDC</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="images/myCSS.css" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="myCSS.css" rel="stylesheet" type="text/css">-->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myCss")
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    <script>

        $(document).ready(function () {

            username = getCookie('vna_user');
           
            //alert(username);
            if (username != null && username != "") {

                $('#user_email').val(username);
            }

            $('#user_email').blur(function () {

        
            });

            $('#signdiv').click(function (e) {
                var mail = $('#user_email').val();
                mail = mail.trim();

                if (mail.length == 0) {
                    alert("Email is empty.");
                    return;
                }
                                
                if (mail != '') {//判断
                    {    //var reg = /^([a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
                        var reg = /^([\.a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
                        if (!reg.test(mail)) {
                            alert('email format is wrong!');
                            return;//false;
                        }

                        //

                    }
                }
               

                        var data = { user_email: mail };
                        $.post('@Url.Action("CheckUser", "Register")', data, function (result) {
                            /*
                            if (result.state == "1") {                  

                            } else {

                                alert(result.message);
                                return;
                            }
                            */
                }, "json");

                submitData();
            });


        });
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end))
                }
            }
            return ""
        }
        function submitData() {

           // alert(1);

            var mail = $('#user_email').val();
           // var pass = $('#password').val();

            var data = { user_email: mail };//, password: pass 
            $.post('@Url.Action("SendResetPassword", "User")', data, function (result) {
                if (result.state == "1") {

                    //alert(result.message);
                    document.write(result.message);

                } else {
                    //alert(result.message);
                    document.write(result.message);
                }
            }, "json");
        }


    </script>
</head>

<body class="loginBG">

    <div class="allContentContainer middleCenter">
        <div class="login_productNamePosition">
            <span class="login_productNameEBM">EBM </span>
            <span class="login_productName">eDC</span>
        </div>
        <div class="login_logoPosition">
            <img src=@Url.Content("~/Content/images/logo-1.png")>
        </div>

        <div style="height: 162px; background-color: rgba(0,175,236,1.00);" class="middleCenter">
            <div class="loginForgetPWBg middleCenter">
                <div class="loginSignInIconSet">
                    <img src=@Url.Content("~/Content/images/iconLogin.png")>
                    <span>FORGET PASSWORD</span>
                </div>
                <div class="allTextSetGray" style="margin: 20px 0 0 23px;">
                    <span>Enter your email to reset your password</span>
                </div>
                <div>
                    <form>
                        <input type="text" id="user_email" name="user_email" placeholder="Email" class="inputFieldSet" style="margin: 10px 0 0 20px; width:333px">
                        <div style="margin: -30px 0 11px 333px;">
                            <img src=@Url.Content("~/Content/images/loginEmailIcon.png")>
                        </div>
                        <div class="buttonSet" id="signdiv" name="signdiv" style="margin: 18px 0 0 20px; width:333px">Send</div>
                        <div style="margin: 33px 0 0 298px;"><a href='@Url.Action("Login","User")' style="color:rgba(0,175,236,1.00);">Login in</a></div>
                    </form>
                </div>
            </div>
        </div>


        </div>
    <!--
        <div style="height: 162px; background-color: rgba(0,175,236,1.00);" class="middleCenter">
            <div class="loginSignInBg middleCenter">
                <div class="loginSignInIconSet">
                    <img src=@@Url.Content("~/Content/images/iconLogin.png")>
                    <span>Forget Password</span>
                </div>
                <div>
                    <form>
                        <input type="text" id="user_email" name="user_email" placeholder="Email" class="inputFieldSet" style="margin: 23px 0 0 20px; width:333px">
                        <div style="margin: -30px 0 11px 333px;">
                            <img src=@@Url.Content("~/Content/images/loginEmailIcon.png")>
                        </div>
                    
                        <div style="height:80px;"></div>
                        <div class="buttonSet" id="signdiv" name="signdiv" style="margin: 6px 0 0 20px; width:343px">Submit</div>
                    </form>
                </div>
            </div>
        </div>

    </div> -->

    <!--
    <div class="loginCenter showBorderLine" style="width: 454px; height: 500px; background-color: rgba(255,255,255, 0.8); background-color: rgb(255,255,255) \9;">

        <div>

            <div>
                <input class="login_username showBorderLine" style="width: 100%;" placeholder="病歷號" value="">
            </div>
            <div>
                <input class="login_password showBorderLine" style="width: 100%;" placeholder="密碼" value="">
            </div>
            <div class="btn_login" style="height: 40px;">
                <input type="button" value="登入" style="width: 100%; height: 40px;">
            </div>
            <div>
                <div class="drawLine" style="width: 30%; margin: 35px 0 0 0;"></div>
                <div style="width: 22%; margin: 25px; float: left;">卡片登入</div>
                <div class="drawLine" style="width: 30%; margin: 35px 0 0 0;"></div>
            </div>
            <div style="width: 80%; float: left;">
                <input class="login_pinCode showBorderLine" style="height: 40px; width: 100%;" placeholder="PIN碼" value="">
            </div>
            <div class="btn_pinCode">
                <input type="button" style="width: 20%; height: 40px; float: left;">
                <img src="images/icon_login.png">
            </div>
            <div class="checkbox" style="float: left; padding: 20px;"><input type="checkbox"> 登入即時簽章</div>
        </div>

    </div>
    -->




</body>
</html>


