﻿
@{
    ViewBag.Title = "LogIn";
    Layout = null;

    string loguser = ViewBag.loginUser as string;
    if (string.IsNullOrEmpty(loguser))
    {
        loguser = "";
    }

    string sReturnUrl = ViewBag.ReturnUrl as string;
    string sUseLdap = ViewBag.UseLdap as string;
}


<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>EBM eDC</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="images/myCSS.css" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="myCSS.css" rel="stylesheet" type="text/css">-->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/myCss")
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    @Scripts.Render("~/bundles/jquerymd5")

    <script type="text/javascript">
        (function ($) {
            $.login = {
                formMessage: function (msg) {
                    alert(msg);
                },
                loginClick: function () {
                    var $username = $("#username");
                    var $password = $("#password");
                    var $code = $("#txt_code");

                    if ($username.val() == "") {
                        $username.focus();
                        $.login.formMessage('please input user name.');
                        return false;
                    } else if ($password.val() == "") {
                        $password.focus();
                        $.login.formMessage('password');
                        return false;
                    } else if ($code.val() == "") {
                      $code.focus();
                      $.login.formMessage('please input verify code');
                      return false;
                    }
                    else {
                        //  $("#login_button").attr('disabled', 'disabled').find('span').html("loading...");
                        var useldap = '@sUseLdap';
                        var vpass = $.trim($password.val());
                        if (useldap == '1')
                            vpass = vpass;
                        else {
                            //hash..
                            vpass = $.md5(vpass);
                        }
                     
                        $('#login_button').attr("disabled", "disabled");
                        //$('#loading-indicator').css("display", "");
                        $('#waiting').css("visibility", "visible");
                        
                        $.ajax({
                            url: '@Url.Action("CheckLogin", "User")', //"/User/CheckLogin",$.md5($.trim($password.val()))
                            data: { user_email: $.trim($username.val()), password: vpass, code: $.trim($code.val()) }, //
                            type: "post",
                            dataType: "json",
                            success: function (data) {
                                //alert(data.state);
                                if (data.state == "1") {
                                    // $("#login_button").find('span').html("login sucess,redirect to...");
                                    if ($('#rememberMe').prop('checked')) { //prop('checked',true)
                                        //alert('remember');
                                        setCookie('vna_user', $username.val(), 365);
                                    }
                                    else
                                        clearCookie('vna_user');

                                    window.setTimeout(function () {
                                       // alert('@@Url.Action("Index","Home")');
                                        var rturl = '@sReturnUrl';
                                        if (rturl && rturl != '')
                                            window.location.href = rturl;
                                        else
                                            window.location.href = '@Url.Action("Index","Home")';//"/Home/Index";

                                    }, 500);
                                } else {
                                    // $("#login_button").removeAttr('disabled').find('span').html("Login");
                                    $("#imgcode").trigger("click");//switchCode

                                    $('#login_button').attr("disabled", true);
                                   // $('#loading-indicator').css("display", "none");
                                    $('#waiting').css("visibility", "hidden");
                                    //  $code.val('');
                                    $.login.formMessage(data.message);
                                }
                            }
                        });
                    }
                },
                init: function () {
                    /*
                         var login_error = top.$.cookie('VNA_login_error');
                         if (login_error != null) {
                             switch (login_error) {
                                 case "overdue":
                                     $.login.formMessage("timeout.");
                                     break;
                                 case "OnLine":
                                     $.login.formMessage("login on other place.");
                                     break;
                                 case "-1":
                                     $.login.formMessage("unknown error.");
                                     break;
                             }
                             top.$.cookie('VNA_login_error', '', { path: "/", expires: -1 });
                         }*/
                    $("#login_button").click(function () {
                        $.login.loginClick();
                    });

                    $("#imgcode").click(function () {
                        $('#txt_code').val("");
                        $("#imgcode").attr("src", '@Url.Content("~/User/GetAuthCode")'+ "?time=" + Math.random());
                    });
                    $("#renew").click(function () {
                        $('#txt_code').val("");
                        $("#imgcode").attr("src", '@Url.Content("~/User/GetAuthCode")'+ "?time=" + Math.random());
                    });

                    document.onkeydown = function (e) {
                        if (!e) e = window.event;
                        if ((e.keyCode || e.which) == 13) {
                            document.getElementById("login_button").focus();
                            document.getElementById("login_button").click();
                        }
                    }
                }
            };
            $(function () {
                $.login.init();
                //
                
                checkCookie();

                var loguser = '@loguser';
                if (loguser && loguser != '') {
                    $('#username').val(loguser);
                }
            });
        })(jQuery);

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end))
                }
            }
            return ""
        }

        function setCookie(c_name, value, expiredays) {
            var exdate = new Date()
            exdate.setDate(exdate.getDate() + expiredays)
            document.cookie = c_name + "=" + escape(value) +
                ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString())
        }
        function clearCookie(name) {
            setCookie(name, "", -1);
        }  
        function checkCookie() {
            username = getCookie('vna_user');
            //alert(username);
            if (username != null && username != "") {

                $('#username').val(username);

                $('#rememberMe').prop('checked', true);
            }
            else {
               // username = prompt('Please enter your name:', "")
                //if (username != null && username != "") {
                //    setCookie('vna_user', username, 365)
               // }
                $('#rememberMe').prop('checked', false);
            }
        }
        function playSound() {
            //
            var audio = new Audio('@Url.Action("GetVerifySound","User")');
            audio.play();

        }
    </script>

</head>

<body class="loginBG">

    <div class="allContentContainer middleCenter">
        <div class="login_productNamePosition">
            <!---<span class="login_productNameEBM">EBM </span>
            <span class="login_productName">eDC</span>-->
            <img src=@Url.Content("~/Content/images/edcLogo.png")>
        </div>
        <div class="login_logoPosition">
            <img src=@Url.Content("~/Content/images/logo-1.png")>
        </div>
        <div style="height: 162px; background-color: rgba(0,175,236,1.00);" class="middleCenter">
            <div class="loginSignInBg middleCenter">
                <div class="loginSignInIconSet">
                    <img src=@Url.Content("~/Content/images/iconLogin.png")>
                    <span>LOGIN</span>

                    <!--<img src='@@Url.Content("~/Content/images/loader.gif")' id="loading-indicator" style="display:none;margin-left:50px;" />-->

                </div>
                <div>
                    <form>
                        <input type="text" id="username" name="username" placeholder="Email" class="inputFieldSet" style="margin: 23px 0 0 20px; width:343px">
                        <div style="margin: -30px 0 11px 333px;">
                            <img src=@Url.Content("~/Content/images/loginEmailIcon.png")>
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password" class="inputFieldSet" style="margin: 6px 0 0 20px; width:343px">
                        <div style="margin: -33px 0 14px 336px;">
                            <img src=@Url.Content("~/Content/images/loginPWIcon.png")>
                        </div>
                        <input type="text" id="txt_code" name="txt_code" placeholder="verify code" class="inputFieldSet" style="margin: 6px 0 0 20px; width:200px">
                        <div style="margin: -34px 0 11px 222px;">
                            <!-- 243-->
                            <img src=@Url.Content("~/User/GetAuthCode") style="cursor:pointer" id="imgcode" name="">
                            <img src=@Url.Content("~/Content/images/btn_renew.png") style="cursor:pointer" width="30" height="30" id="renew" name="">
                            <a href="#" onclick="playSound()"><img src=@Url.Content("~/Content/images/play.png") width="28" height="28" /></a>
                            <!-- "@@Url.Action("GetVerifySound","User")"-->
                        </div>
                        <div class="buttonSet" id="login_button" name="login_button" style="margin: 16px 0 0 20px; width:343px">Login</div>
                        <div class="checkBoxSet" style="margin:4px 0 0 20px">
                            <input type="checkbox" id="rememberMe">
                            <label for="rememberMe"></label>
                        </div>
                        <div class="loginTextRememberMe" style="margin: -20px -8px 0 50px;">Remember me</div>
                        <div style="margin: -23px 0 0 296px;display:none"><a href='@Url.Action("SignUp","Register")' style="color:rgba(0,175,236,1.00);">Sign up</a></div>
                        <div style="margin: -22px 0 0 160px;"><a href='@Url.Action("ForgetPassword","User")' style="color:rgba(83,83,83,1.00); font-size: 16px;">Forget Password?</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
        <img src='@Url.Content("~/Content/images/loading.gif")'>
    </div>
    <!--
    <div class="loginCenter showBorderLine" style="width: 454px; height: 500px; background-color: rgba(255,255,255, 0.8); background-color: rgb(255,255,255) \9;">

        <div>

            <div>
                <input class="login_username showBorderLine" style="width: 100%;" placeholder="病歷號" value="">
            </div>
            <div>
                <input class="login_password showBorderLine" style="width: 100%;" placeholder="密碼" value="">
            </div>
            <div class="btn_login" style="height: 40px;">
                <input type="button" value="登入" style="width: 100%; height: 40px;">
            </div>
            <div>
                <div class="drawLine" style="width: 30%; margin: 35px 0 0 0;"></div>
                <div style="width: 22%; margin: 25px; float: left;">卡片登入</div>
                <div class="drawLine" style="width: 30%; margin: 35px 0 0 0;"></div>
            </div>
            <div style="width: 80%; float: left;">
                <input class="login_pinCode showBorderLine" style="height: 40px; width: 100%;" placeholder="PIN碼" value="">
            </div>
            <div class="btn_pinCode">
                <input type="button" style="width: 20%; height: 40px; float: left;">
                <img src="images/icon_login.png">
            </div>
            <div class="checkbox" style="float: left; padding: 20px;"><input type="checkbox"> 登入即時簽章</div>
        </div>

    </div>
    -->




</body>
</html>


