﻿@using System.Web.Configuration

@{
    ViewBag.Title = "LogIn";
    Layout = null;

    string loguser = ViewBag.loginUser as string;
    if (string.IsNullOrEmpty(loguser))
    {
        loguser = "";
    }

    string sReturnUrl = ViewBag.ReturnUrl as string;
    string sUseLdap = ViewBag.UseLdap as string;

    bool IsCaptcha = WebConfigurationManager.AppSettings["Captcha"].ToString() == "1" ? true:false ;
}
<style>
    p:hover {
        color: blue;
    }
</style>
<title>EBM eDC</title>
<body class="loginWallpaper">
    @Html.Hidden("IsForget", false)
    <div class="description">
        <div id="div_panel_description">
            <div class="col-lg-12 text-center">
                <img src=@Url.Content("~/Content/images/edcLogo.png") style="height:120px;">
            </div>
            <div class="col-lg-12" style="padding-left:20px">
                <div class="sub0_panel_description col-lg-12 text-center">
                    <h3>กรุณาล็อกอินเพื่อเข้าสู่ระบบ</h3>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-outline-secondary btn-lg" style="border-radius: 25px;width:300px;" data-toggle="modal" data-target="#Modal" id="buttonLogin" name="buttonLogin" onclick="$('#IsForget').val(false);">สำหรับเจ้าหน้าที่</button>
            </div>
        </div>
    </div>
</body>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalStudyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src=@Url.Content("~/Content/images/iconLogin.png")>
                <span>LOGIN</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">UserName:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                @if (IsCaptcha)
                {
                    <div class="form-group">
                        <input type="text" id="txt_code" name="txt_code" placeholder="verify code" class="inputFieldSet" style="width: 200px;margin-top: 10px;">
                        <div style="margin: -34px 0 11px 222px;">
                            <!-- 243-->
                            <img src=@Url.Content("~/User/GetAuthCode") style="cursor:pointer" id="imgcode" name="">
                            <img src=@Url.Content("~/Content/images/btn_renew.png") style="cursor:pointer" width="30" height="30" id="renew" name="">
                            <a href="#" onclick="playSound()"><img src=@Url.Content("~/Content/images/play.png") width="28" height="28" /></a>
                            <!-- "@@Url.Action("GetVerifySound","User")"-->
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label for="message-text" class="col-form-label" data-toggle="modal" data-target="#ModalForget" onclick="document.getElementById('exit_login_button').click(); $('#IsForget').val(true);"><p>Forget Password?</p></label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="exit_login_button" name="exit_login_button" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#IsForget').val(false);">ยกเลิก</button>
                <button id="login_button" name="login_button" class="btn btn-primary">เข้าสู่ระบบ</button>
            </div>
        </div>
    </div>
</div>

<div class="Modal fade" id="ModalForget" tabindex="-1" role="dialog" aria-labelledby="ModalStudyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src=@Url.Content("~/Content/images/iconLogin.png")>
                <span>FORGET PASSWORD</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">UserName:</label>
                    <input type="text" class="form-control" id="user_email" name="user_email" placeholder="Enter email" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#Modal" onclick="$('#IsForget').val(false);">ย้อนกลับ</button>
                <button id="signdiv" name="signdiv" class="btn btn-primary" onclick="submitData();">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="loadingDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" style="height:420px;">
            <div class="modal-body text-center">
                <h1 class="has-text-green pt-lg">กรุณารอสักครู่</h1>
                <h3 class="has-text-silver pt-lg">ขณะนี้ระบบกำลังประมวลผล</h3>

                <div class="loader">
                </div>

                <h6 class="pt-md has-text-silver">(ใช้เวลาทำการประมาณ 3-5 นาที)</h6>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/_LayoutLogOn")
@Styles.Render("~/Content/sweetalert2.min")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/myCss")
@Styles.Render("~/Content/loader")
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script src="~/Scripts/bootstrap.js"></script>

@Scripts.Render("~/bundles/jquerymd5")
@Scripts.Render("~/bundles/sweetalert2.min")
<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("buttonLogin").click();
    });

    (function ($) {
        $.login = {
            formMessage: function (msg) {
                swal(msg);
                return false;
            },
            loginClick: function () {
                var $username = $("#username");
                var $password = $("#password");
                var $code = $("#txt_code");

                if ($username.val() == "") {
                    $username.focus();
                    hideLoadingDialog();
                   swal('please input user name.');
                    return false;
                } else if ($password.val() == "") {
                    $password.focus();
                    hideLoadingDialog();
                    swal('password');
                    return false;
                }

                else {
                    var useldap = '@sUseLdap';
                    var vpass = $.trim($password.val());
                    if (useldap == '1')
                        vpass = vpass;
                    else {
                        vpass = $.md5(vpass);
                    }

                    $('#waiting').css("visibility", "visible");

                    $.ajax({
                        url: '@Url.Action("CheckLogin", "User")', //"/User/CheckLogin",$.md5($.trim($password.val()))
                        data: { user_email: $.trim($username.val()), password: vpass, code: $.trim($code.val()) }, //
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "1") {
                                if ($('#rememberMe').prop('checked')) { //prop('checked',true)
                                    //alert('remember');
                                    setCookie('vna_user', $username.val(), 365);
                                }
                                else
                                    clearCookie('vna_user');

                                window.setTimeout(function () {
                                    var rturl = '@sReturnUrl';
                                    if (rturl && rturl != '')
                                        window.location.href = rturl;
                                    else
                                        window.location.href = '@Url.Action("Index","Home")';//"/Home/Index";

                                }, 500);
                            } else {
                                $("#imgcode").trigger("click");//switchCode
                                $('#waiting').css("visibility", "hidden");
                                hideLoadingDialog();
                                swal(data.message);
                            }
                        }
                    });
                }
            },
            init: function () {
                $("#login_button").click(function () {
                    showLoadingDialog();
                    $.login.loginClick();
                });

                $("#imgcode").click(function () {
                    $('#txt_code').val("");
                    $("#imgcode").attr("src", '@Url.Content("~/User/GetAuthCode")'+ "?time=" + Math.random());
                });
                $("#renew").click(function () {
                    $('#txt_code').val("");
                    $("#imgcode").attr("src", '@Url.Content("~/User/GetAuthCode")'+ "?time=" + Math.random());
                });

                document.onkeydown = function (e) {
                    if (!e) e = window.event;
                    if ((e.keyCode || e.which) == 13) {
                        if ($('#IsForget').val() != "true") {
                            document.getElementById("login_button").focus();
                            document.getElementById("login_button").click();
                        }
                        else {
                            submitData();
                        }

                    }
                }
            }
        };
        $(function () {
            $.login.init();
            checkCookie();
            var loguser = '@loguser';
            if (loguser && loguser != '') {
                $('#username').val(loguser);
            }
        });
    })(jQuery);

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=")
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }

    function setCookie(c_name, value, expiredays) {
        var exdate = new Date()
        exdate.setDate(exdate.getDate() + expiredays)
        document.cookie = c_name + "=" + escape(value) +
            ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString())
    }

    function clearCookie(name) {
        setCookie(name, "", -1);
    }

    function checkCookie() {
        username = getCookie('vna_user');
        if (username != null && username != "") {

            $('#username').val(username);

            $('#rememberMe').prop('checked', true);
        }
        else {
            $('#rememberMe').prop('checked', false);
        }
    }

    function playSound() {
        var audio = new Audio('@Url.Action("GetVerifySound","User")');
        audio.play();
    }

    function submitData() {
        $('#IsForget').val(true);
        var mail = $('#user_email').val();
        mail = mail.trim();

        if (mail.length == 0) {
            hideLoadingDialog();
            swal("Email is empty.");
            return false;
        }

        if (mail != '') {
            {
                var reg = /^([\.a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
                if (!reg.test(mail)) {
                    hideLoadingDialog();
                    swal('email format is wrong!');
                    return false;//false;
                }
            }
        }

         var data = { user_email: mail };
                    $.post('@Url.Action("CheckUser", "Register")', data, function (result) {
                    }, "json");

         var mail = $('#user_email').val();

        $.ajax({
            type: "POST",
            traditional: true,
            url: '@Url.Action("_SendResetPassword", "User")',
             data: { user_email: mail },
            async: false,
            success: function (data) {
                if (data.state == "1") {
                    hideLoadingDialog();
                    swal(data.message);
                    return false;
                }
                else {
                    hideLoadingDialog();
                    swal(data.message);
                    return false;
                }
            }
        });
    }

    function showLoadingDialog() {
        setTimeout(function () { hideLoadingDialog(); }, 60000);
        var loadingDialog = $('#loadingDialog');
        loadingDialog.modal('show');
    }

    function hideLoadingDialog() {
        var loadingDialog = $('#loadingDialog');
        loadingDialog.modal('hide');
    }
</script>
