﻿@{


    ViewBag.Title = "Profile";
    string sroleId = ViewBag.roleid as string;
    string sroleName = ViewBag.roleName as string;
    string sReturnUrl = ViewBag.ReturnUrl as string;
    string seditable = ViewBag.editable as string;
    string srolecode = ViewBag.RoleCode as string;
    string sadmin = ViewBag.Admin as string;
    string sEditPhoneAddr = ViewBag.UserEditPhoneAddr as string;
    string beditSelf = ViewBag.beditSelf as string;
}

<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">
            <div class="row" style="padding:15px 15px;">
                <div class="allTextSetBlue col-md-3 col-lg-2">
                    <span>E-mail</span>
                    <input type="text" id="email" name="email" class="inputFieldSet" style="width:100%;" onblur="validateEmail(this)" value="@Model.email">
                </div>
                <div class="allTextSetBlue col-md-6 col-lg-3">
                    <span>Name</span>
                    <input type="text" id="username" name="username" class="inputFieldSet" style="width:100%;" value="@Model.user_name">
                    <input type="hidden" id="user_id" name="user_id" value="@Model.user_id" />
                </div>
                <div class="allTextSetBlue col-md-3 col-lg-2">
                    <span>Gender</span>
                    <select required name="gender" class="dragDownMenuSet " id="gender" style="width:100%;">
                        <option value="" selected>Choose Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding:15px 15px;">
                <div class="allTextSetBlue col-md-3 col-lg-2" id="dividentity" name="">
                    <span>Group</span>
                    <select required name="group" class="dragDownMenuSet " id="group" style="width:100%;">
                        <option value="" selected>Choose Group</option>
                        <option value="P">Patient</option>
                        <option value="Y">Physician</option>
                        <option value="N">Nurse</option>
                        @if (srolecode == "M")
                        {
                            <option value="M">Manager</option>
                        }
                        @if (sadmin.ToLower() == "true")
                        {
                            <option value="A">Admin</option>
                        }
                    </select>
                </div>
                <div class="allTextSetBlue col-md-3 col-lg-2" id="divdept" name="divdept">
                    <span>Department</span>
                    <select required name="department" class="dragDownMenuSet " id="department" style="width:100%;">
                        <option value="" selected></option>
                        @if (ViewBag.departments != null)
                        {
                            foreach (var dept in ViewBag.departments)
                            {
                                <option value="@dept.department_id">@dept.department_name</option>
                            }
                        }
                    </select>
                </div>
                <div class="allTextSetBlue col-md-6 col-lg-3">
                    <span>ID Number</span>
                    <input type="text" id="idno" name="idno" class="inputFieldSet" style="width:100%;" value="@Model.id_number">
                </div>
                <div class="allTextSetBlue col-md-6 col-lg-3">
                    <span>Medical Record Number</span>
                    <input type="text" id="medrecno" name="medrecno" class="inputFieldSet" style="width:100%;" value="@Model.medical_recno">
                </div>
            </div>

            <div class="row" style="padding:15px 15px;">
                <div class="allTextSetBlue col-md-3 col-lg-2">
                    <span>Phone Number</span>
                    <input type="text" id="phone" name="phone" class="inputFieldSet" style="width:100%;" value="@Model.mobile_phone" onkeyup="validatePhone()" onblur="validatePhone()">
                </div>
                <div class="allTextSetBlue col-md-3 col-lg-2">
                    <span>Birthday</span>
                    <input type="text" id="birthday" name="birthday" placeholder="yyyymmdd" class="inputFieldSet" onblur="validateDate(this)" style="width:100%;" value="@Model.birthday">
                </div>
            </div>

            <div class="row" style="padding:15px 15px;">
                <div class="allTextSetBlue col-md-12 col-lg-7">
                    <span>Address</span>
                    <textarea id="address" name="address" rows="4" cols="50" class="inputFieldSet" style="width:100%; height:auto" value="@Model.address"></textarea>
                </div>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <button type="button" id="save" name="save" class="btn btn-success" style="width: 100%;">Save</button>
                    @*<div class="buttonSet" id="save" name="save" style="width: 100%;">Save</div>*@
                    </div>
            </div>
            <div id="divresetpass" class="flexVerSet flexHorSet_SB col-md-3 col-lg-2">
                <span><a href="#sendChk" onclick="showchangepass()" style="font-size: 13px; line-height: 70px;">Reset Password</a></span>
            </div>
        </div>
</form>
</div>



<div class="setPopupArea flexVerSet overlay" id="sendChk">
    <div class="flexHorSet flexVerSet popup">
        <span class="allTextSetGray" style="padding-bottom: 20px;">Enter your new password for your eDC account</span>

        <div class="flexHorSet" style="width: 100%; padding-bottom: 15px;">
            <div class="allTextSetBlue">
                <input type="password" id="oldpass" name="oldpass" class="inputFieldSet" placeholder="current password" style="width: 300px;">
            </div>
        </div>
        <div class="flexHorSet" style="width: 100%; padding-bottom: 15px;">
            <div class="allTextSetBlue">
                <input type="password" id="password" name="password" class="inputFieldSet" placeholder="new password" style="width: 300px;">
            </div>
        </div>
        <div class="flexHorSet" style="width: 100%; padding-bottom: 15px;">
            <div class="allTextSetBlue">
                <input type="password" id="password1" name="password1" class="inputFieldSet" placeholder="confirm password" style="width: 300px;">
            </div>
        </div>

        <div class="flexHorSet">
            <div style="margin-top: 10px;">
                <div class="buttonSet" id="resetpass" name="" style="margin: 0 auto; width:300px;">Reset Password</div>
            </div>
        </div>
        <a class="close" href="#" style="z-index:1">&times;</a>
    </div>
</div>


@section Scripts {
    @Styles.Render("~/jQueryUI/css")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jquerymd5")
}

<script>

    $(function () {
        //$("#birthday").datepicker({ dateFormat: 'yymmdd' });

        $("#birthday").datepicker({ dateFormat: 'yymmdd', autoclose:true });

        //$('.datepicker').datepicker({
        //    format: "dd/mm/yyyy",
        //    autoclose: true,
        //});
        //$(".datepicker").datepicker("setDate", new Date());
    });

    $(document).ready(function () {

        var editable = '@seditable';
        var admin = '@sadmin';
        var sEditPhoneAddr ='@sEditPhoneAddr';

        if (editable == 'False') {
            $('#save').css("display", "none");
            //

        }
        if (admin == 'False') {
            $('#email').attr("readonly", "readonly")
        }
        else {
            $('#email').removeAttr("readonly");
        }
        //edit user phone and addr..
        if (admin == 'False') {
            $('#username').attr("readonly", "readonly");
            $('#idno').attr("readonly", "readonly");
            $('#medrecno').attr("readonly", "readonly");
            $('#gender').attr("readonly", "readonly");
            $('#birthday').attr("disabled", "disabled");//
            $('#department').attr("disabled", "disabled");
            $('#group').attr("disabled", "disabled");
            if (sEditPhoneAddr != '1') {

                $('#address').attr("readonly", "readonly");//only phone and addr..
                $('#phone').attr("readonly", "readonly");
                $('#save').css("display", "none"); //no save...
            }
            else {

            }


        }
        var roleid = '@sroleId';
        if (roleid == "" || roleid == "0")
        {
            $("#divdept").css("visibility", "hidden");


            $("#dividentity").css("visibility", "hidden");
        }

        $('#group').val('@srolecode');

        $('#save').click(function () {
            submitData();

        });

        $('#gender').val('@Model.gender');
        var deptid = '@Model.department_id';
        $('#department').val(deptid.trim());

        $('#resetpass').click(function () {
            submitresetPassword();
        });

        });

    function validatePhone() {

        var vph = $('#phone').val();
        vph = vph.replace(/[^0-9-]+/, '');
        $('#phone').val(vph);

    }
    function validateDate(obj) {
        var reg = /^\d{8}$/;// /^\d{4}-(?:0\d|1[0-2])-(?:[0-2]\d|3[01])( (?:[01]\d|2[0-3])\:[0-5]\d\:[0-5]\d)?$/;//  /^[2]\\d{3}[0|1][1-9][0-3]\\d$/;//
        var value = $(obj).val();
        if (value.length > 0) {
            var mon = parseInt(value.substr(4, 2));
            var day = parseInt(value.substr(6, 2));

            if (!reg.test(value) || mon > 12 || mon == 0 || day >31 || day==0) {
                swal("Date format is wrong");
                //
                 $(obj).css("background-color","red");//$(obj).focus();
                return false;
            }
        }
        $(obj).css("background-color", "transparent");
        return true;
    }
    function validateEmail(obj) {
        var email = $(obj).val();
        var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (re.test(email)) {

            $(obj).css("background-color", "transparent");
            return true;
        }
        else {
            $(obj).css("background-color", "red");
            return false;
        }
    }

    function submitData() {

        var username = $('#username').val();
        var idno = $("#idno").val();
        var medrecno = $("#medrecno").val();
        var gender = $("#gender").val();
        var birthday = $("#birthday").val();
        var address = $("#address").val();
        var phone = $("#phone").val();
        var mail = $("#email").val();
        var department = $("#department").val();
        var userid = $('#user_id').val();
        var group = $('#group').val();
        //
       // var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
        if (!validateEmail($("#email"))) {//mail

            swal("Email is not valid.");
            return;
        }


        if (!validateDate($("#birthday")))
            return;

        var data = {
            user_id: userid, user_name: username, id_number: idno, medical_recno: medrecno, gender: gender,
            birthday: birthday, email: mail, mobile_phone: phone, address: address, department_id: department,
            role_id: group
        };

        $.post('@Url.Action("ModifyProfile", "User")', data, function (result) {

            if (result.message)
                swal(result.message);

            if (result.state == "1") {
                var editself = '@beditSelf';
                if (editself == 'True') {
                    $('#userNamesp').html(username);
                    //$('#userNamelp').html(username);
                }
                 var rturl = '@sReturnUrl';
                 if (rturl && rturl != '')
                    window.location.href = rturl;

            }

        }, "json");
    }
     function submitresetPassword() {

           // swal(1);
         var mail = $("#email").val();
         var oldpass = $('#oldpass').val().trim();

         var pass = $('#password').val().trim();
         var pass1 = $('#password1').val().trim();
         if (oldpass == "" || pass == "") {
             swal("password can not be empty");
             return;
         }
            if (pass != pass1) {
                swal("input password is not same.");
                return;
            }
            pass = $.md5($.trim(pass));
            oldpass = $.md5($.trim(oldpass));

            var data = { user_email: mail, password: pass, oldpass: oldpass };

            $.post('@Url.Action("SubmitChangePassword", "User")', data, function (result) {
                if (result.state == "1") {

                    swal(result.message);
                    $('#sendChk').css("display", "none");//css("visibility", "hidden");//
                } else {
                    swal(result.message);
                }
            }, "json");
        }
    function showchangepass() {
            $('#oldpass').val('');
         $('#password').val('');
         $('#password1').val('');
        $('#sendChk').css("display", "flex");//block
    }

</script>