﻿
@{
    ViewBag.Title = "SignUp";
    Layout= null;
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>EBM eDC</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="images/myCSS.css" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>  -->
    <link href="myCSS.css" rel="stylesheet" type="text/css">

    <script>

        function submitForm() {
            if (!$('#form1').formValid()) {
                return false;
            }
            $.submitForm({
                url: @Url.Content("~/User/CreateUser") ,
                param: $("#form1").formSerialize(),
                success: function () {
                   // $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }

    </script>

</head>

<body class="loginBG">

    <div class="allContentContainer middleCenter">
        <div class="login_productNamePosition">
            <span class="login_productNameEBM">EBM </span>
            <span class="login_productName">eDC</span>
        </div>
        <div class="login_logoPosition">
            <img src="images/logo-1.png">
        </div>
        <div style="height: 162px; background-color: rgba(0,175,236,1.00);" class="middleCenter">
            <div class="loginSignUpBg middleCenter">
                <div class="loginSignInIconSet">
                    <img src="images/iconLogin.png">
                    <span>SIGN UP</span>
                </div>
                <div>
                    <form id="form1">
                        <input type="text" id="user_email" name="user_email" placeholder="Email" class="inputFieldSet" style="margin: 23px 0 0 20px; width:333px">
                        <div style="margin: -30px 0 11px 333px;">
                            <img src="images/loginEmailIcon.png">
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password" class="inputFieldSet" style="margin: 6px 0 0 20px; width:333px">
                        <div style="margin: -33px 0 14px 336px;">
                            <img src="images/loginPWIcon.png">
                        </div>
                        <input type="password" id="repassword" name="repassword" placeholder="Repeat Password" class="inputFieldSet" style="margin: 0 0 0 20px; width:333px">
                        <div style="margin: -33px 0 14px 336px;">
                            <img src="images/loginPWIcon.png">
                        </div>
                        <div class="buttonSet" style="margin: 6px 0 0 20px; width:333px">Sign up</div>
                        <div style="margin: 5px 0 0 298px;"><a href="" style="color:rgba(0,175,236,1.00);">Sign in</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
