﻿
@{

    ViewBag.Title = "UserFromAD";
    string group = ViewBag.vnagroup as string;
    string multisel = ViewBag.MultiSelect as string;
    // var  lstUsers = ViewBag.LDAPUsers as List<Common.LDAPUser>;
    //int icount = lstUsers != null ? lstUsers.Count : 0;
    //int iend = icount >= 5 ? 4 : icount-1;
    // int iskip = 0;
    //int ii = 0;
    string smulti = "multiple";
    if (multisel != "1")
    {
        smulti = "one";
    }

}
<style>
    .bgRed {
        background-color: #DCDCDC;
    }

    .bgRealRed {
        background-color: #ff0000;
    }
</style>

<script type='text/javascript'>

    var recCountPage = 5;
    var sortby = 1;//
    var lastsort = 1;
    var order = "asc";//desc

    var borderbak = "#00AFEC";
    var ncolor = "#949494";
    var mails = [];
    var selectIDs = [];
    var bmulti = '@multisel' == '1' ? true : false;

    $(function () {

        if (!bmulti) {
            $("#all").hide();//css("visibility", "hidden");

        }
        $('#submitcreate').css("visibility", "hidden");

        //$('#loading-indicator').show(); //
        $('#waiting').css("visibility", "visible");
        $("#all").click(function () {
            if (!bmulti)
                return;
            var selected = $("#all").prop("checked");// $('#all').attr('checked')

            $('#submitcreate').css("visibility","hidden");


            $("#accountlist [name='_datacheckbox']").prop("checked", selected);//全选 'true'

            $("#accountlist [name='_datacheckbox']").each(function () {

                if (selected && !$(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");//添加选中样式 ,3个parent..到 tr 层
                else if (!selected && $(this).parent().parent().parent().hasClass("bgRed"))
                    $(this).parent().parent().parent().toggleClass("bgRed");

                var ttr = $(this).parent().parent().parent();
                if (selected) {
                    if (inArray($(ttr).attr("id"), selectIDs) < 0) {
                        var vobj = { //此处$(this)没有指到tr
                            sid: $(ttr).attr("id"), user_idid: $(ttr).attr("name")
                        };
                        selectIDs.push(vobj);
                    }
                }
                else {
                    var indx = inArray($(ttr).attr("id"), selectIDs);
                    if (indx >= 0)
                        selectIDs.splice(indx, 1);
                }
                if (selectIDs.length == 0) {

                    $('#submitcreate').css("visibility","hidden");
                }
                else {

                    $('#submitcreate').css("visibility", "visible");
                }
            });

        });
        //
        $('#submitcreate').click(CreateGroupAccounts);

        $('#viewall').click(viewall);
        $('#search').click(search);
        $('#accountName').keydown(function (e) {
            var curKey = e.which;
            if (curKey == 13) {

                $("#search").click();
                return false;
            }
        });

        //....
        QueryAccount('', 1);
    })

    function checkMail(v) {
        if (!v || v == '')
            return false;
        //alert(v);
        //var reg = /^\w+((.\w+)|(-\w+))@@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/; //正则表达式
        //if (!reg.test(v)) { //正则验证不通过，格式不对
        //    return false;
        //} else {
        //    return true;
        //}
         var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(v).toLowerCase());
    }
       function inArray(suid, arr) {
        for (var i = 0, len = arr.length; i < len; ++i) {
            var v = arr[i];
            if (v.sid == suid)
                return i;
        }
        return -1;
    }
    function freshSelect() {
        //
        $("#accountlist tr").each(function () {

            if (inArray($(this).attr("id"), selectIDs) >= 0) {
                //select...
                $(this).find('input[type="checkbox"]').prop("checked", true);

                if (!$(this).hasClass("bgRed"))
                    $(this).toggleClass("bgRed");
            }

        });

        if (selectIDs.length == 0)
            $("#all").prop("checked", false);//

    }
      function clearParam() {
        $('#accountName').val('');


    }
    function clear() {


        $('#accountlist tr').each(function () {
            if ($(this).attr("id") != "header")
                $(this).remove();
        });


        $('#scrollNav').css("display", "none");
    }

    function QueryAccount(fileName,pageIndex) {

        var nurl = '@Url.Action("GetADAccounts", "User")';
        var ldata = { userName: fileName,  pageLimit: recCountPage, pageIndex: pageIndex, sortBy: sortby, order: order };
        // $('#loading-indicator').show(); //
        $('#waiting').css("visibility", "visible");
        $.post(nurl, ldata, function (result) {

            if (result.state == "1" || result.state == "success") {
               // $('#loading-indicator').hide(); //
                $('#waiting').css("visibility", "hidden");
                //
                SetResult(result, fileName, pageIndex);
                //
                freshSelect();
            }
            else
                $('#waiting').css("visibility", "hidden");//$('#loading-indicator').hide(); //
        });
    }
    //
    function SetResult(result,fileName,pageIndex) {

          clear();

                //
                var retdats = result.users;


                if (retdats == null)
                    return;
        if (retdats.length == 0) {
            clearParam();
                }
                var pagecount = result.pageCount;

                //
                //if (retdats.length > 0)
                  //  $("#clearbtn").css("background-color", borderbak);

                for (var i = 0; i < retdats.length; ++i) {
                    if (i >= recCountPage)
                        break;
                    var item = retdats[i];

                    //
                    var username = item.UserAccount;
                    var firstname = item.FirstName;
                    var lastname = item.LastName;
                    var email = item.Email;

                    if (!checkMail(email))
                        mails.push(username);
                    //
                     var check = ' <td> <div class="checkBoxSet" style="margin: 1px 0 0 6px;" > '
                        + ' <input type="checkbox" id="select' + i + '" name="_datacheckbox"> '
                        + '    <label for="select' + i + '"></label>  </div>  </td> ';

                    var row = '<tr class="allTextSetGray" style="height: 40px;" id="' + username + '" name="' + username + '"> '
                        + check
                        + '<td>' + username + '</td>'
                        + '<td>' + firstname + '</td>'
                        + '<td>' + lastname + '</td>'
                        + '<td>' + email + '</td>';
                    + '</tr> ';
                    //

                    $('#accountlist tbody:last').append(row);
                }
                //
                //除了表头（第一行）以外所有的行添加click事件.
                $("#accountlist tr").first().nextAll().click(function (evt) {

                    //如果没有某个样式则加上，否则去除
                    $(this).toggleClass("bgRed"); //children().

                       if ($(this).hasClass("bgRed")) {//children().如果有某个样式则表明，这一行已经被选中
                        $(this).find('input[type="checkbox"]').prop("checked", true);//$(this).children().first().children().prop("checked", true); //attr....
                           //如果只选中一个，那取消所有的..
                           if (!bmulti) {
                               selectIDs = [];
                               $("#accountlist tr").first().nextAll().removeClass("bgRed");
                               $(this).addClass("bgRed");
                               $("#accountlist [name='_datacheckbox']").prop("checked", false);
                               $(this).find('input').prop("checked", true);
                           }
                        if (inArray($(this).attr("id"), selectIDs) < 0) {
                            var vobj = { sid: $(this).attr("id"), user_idid: $(this).attr("name") };
                            selectIDs.push(vobj);
                        }

                    } else {                                  //如果没有被选中
                        $(this).find('input[type="checkbox"]').prop("checked", false);//$(this).children().first().children().prop("checked", false);

                        var indx = inArray($(this).attr("id"), selectIDs) ;
                        if (indx >= 0)
                            selectIDs.splice(indx, 1);
                    }

                if (selectIDs.length == 0) {

                        $('#submitcreate').css("visibility","hidden");
                    }
                else {

                    $('#submitcreate').css("visibility", "visible");
                    }

                    //tr里有个label，点击模拟的checkbox时里面的label受到点击，会导致click触发两次..,或者用return false..
                    // evt.stopPropagation();
                    // evt.preventDefault();
                    // evt.stopImmediatePropagation();
                    return false;
                });

                //加入选择有问题的mail..
                if (mails && mails.length > 0) {

                    $('#accountlist tr').each(function () {
                        var lmail = $(this).find("td").eq(1).text(); //某user的email有问题..
                        //
                        //alert(lmail);
                        var ldx = mails.indexOf(lmail);
                        if (ldx >= 0) {
                            //background color...

                            if ($(this).hasClass("bgRed"))
                                $(this).removeClass("bgRed");
                            //show redclass
                            if (!$(this).hasClass("bgRealRed"))
                                $(this).addClass("bgRealRed");
                        }
                    });
                }
                //
                if (pagecount > 1) {
                    var pagelink = '';
                    var pagestart = 0;
                    if (pageIndex % 10 == 0)
                        pagestart = parseInt(pageIndex / 10);
                    else
                        pagestart = parseInt(pageIndex / 10) + 1;
                    var ii = (pagestart - 1) * 10, jj = 0;
                    for (; ii < pagecount && jj < 10; ++ii, ++jj) {

                        if (ii + 1 == pageIndex)
                            pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="QueryAccount(\'' + fileName + '\',' + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        else
                            pagelink += '<a href="javascript:void(0)"onclick="QueryAccount(\'' + fileName + '\','  + (ii + 1) + ')">' + (ii + 1).toString() + '</a> ';
                        //if (ii > 5) {
                        //    pagelink += "...";
                        //    break;
                        //}
                    }
                    //if (ii != pagecount && pageIndex > ii+1) {
                    //    //超过7页情况下，显示当前页
                    //    pagelink += '<a style = "color:red" href="javascript:void(0)" onclick="queryFiles(\'' + medic_no + '\',\'' + native_id + '\',\'' + name + '\',\'' + studydate + '\',\'' + report_type + '\',\'' + upload_date + '\',\'' + upload_date2 + '\',\'' + ref_physician + '\',\'' + department + '\',' + (pageIndex+0) + ')">' + (pageIndex + 0).toString() + '</a> ';

                    //}
                    $('#pageLink').html(pagelink);
                    $('#firstPage').unbind('click');
                    $('#firstPage').click(function () {
                        if (pageIndex != 1)
                            QueryAccount(fileName,  1);
                    });
                    $('#prevPage').unbind('click');
                    $('#prevPage').click(function () {
                        if (pageIndex > 1) {
                            var nidx = 1;
                            if (pageIndex > 10)
                                nidx = pageIndex - 10;
                            QueryAccount(fileName,  nidx);//pageIndex - 1);
                        }
                    });
                    $('#nextPage').unbind('click');
                    $('#nextPage').click(function () {
                        if (pageIndex < pagecount) {
                            var nidx = pageIndex + 10;
                            if (nidx > pagecount)
                                nidx = pagecount - 10;
                            if (nidx <= 0)
                                nidx = 1;
                            QueryAccount(fileName,  nidx);//pageIndex + 1);
                        }
                    });
                    $('#lastPage').unbind('click');
                    $('#lastPage').click(function () {
                        if (pageIndex != pagecount)
                            QueryAccount(fileName, pagecount);
                    });
                    $('#scrollNav').css("display", "block");
                }
                else
                    $('#scrollNav').css("display", "none");

    }

    function sortQuery(sid) {

        sortby = sid;

        if (lastsort == sid) {
            if (order == "asc")
                order = "desc";
            else
                order = "asc";
        }
        else
            order = "asc";
        lastsort = sid;

        var account = $('#accountName').val();
        QueryAccount(account, 1);
        //

    }
    function viewall() {

        QueryAccount('', 1);
    }
    function search() {

        var account = $('#accountName').val();

        QueryAccount(account, 1);
    }
    function CreateGroupAccounts() {

        var group = '@group';//$('#select').val();

        var userids = [];
        if (mails.length > 0) {
            //alert("some emails is not valid.");
        }
        //
        for (var i = 0; i < selectIDs.length; ++i) {

            userids.push(selectIDs[i].sid);
        }

        var nurl = '@Url.Action("SubmitCreateGroupAccountsFromAD", "User")';
        var ldata = { group: group, users: userids };


        $.post(nurl, ldata, function (result) {

            //
            if (result.state == "1" || result.state == "success") {
                mails = [];
                alert('success');
                if (result.succs.length == 1) {
                    //modify profile
                    var uid_id = result.succs[0];
                    var url0 = '@Url.Action("Profiles", "User")';
                    url0 = url0 + '?user_id_id=' + uid_id;
                    //
                    window.location.href = url0;
                }
                else if (result.succs.length > 1) {
                    //editpersonalfunc
                    var uid_id = '';
                    for (var ii = 0; ii < result.succs.length; ++ii) {
                        if (ii > 0)
                            uid_id += ',';
                        uid_id = uid_id + result.succs[ii];

                    }

                    var url0 = '@Url.Action("EditPersonalFunc", "User")';
                    url0 = url0 + '?para1=&para2=' + uid_id;
                    //
                    window.location.href = url0;
                }
            }
            else {

                //0可能partial success..
                if (result.emails) {
                    //
                    mails = result.emails;

                    $('#accountlist tr').each(function () {
                        var lmail = $(this).find("td").eq(1).text(); //user name..
                        //
                        var ldx = mails.indexOf(lmail);
                        if (ldx >= 0) {
                            //background color...
                            if (!$(this).hasClass("bgRealRed"))
                                $(this).addClass("bgRealRed");
                        }
                    });
                }
                if (result.message !='')
                    alert(result.message);
            }

        });
    }

</script>
<div style="padding: 15px 15px;">
    <form>
        <div class="setWhiteBG">

            <div class="allTextSetBlue col-md-3 col-lg-2">
                <span>Account Name</span>
                <input type="text" id="accountName" name="accountName" placeholder="Account Name" class="inputFieldSet" style="width:100%;">
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <div class="buttonSet" id="search" name="search" style="width: 100%;">Search</div>
                </div>
            </div>

            <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
                <div style="width: 100%;">
                    <div class="buttonSet" id="viewall" name="viewall" style="width: 100%;">Show All</div>
                </div>
            </div>

        </div>
    </form>
</div>
<div style="padding: 15px 15px;">
    <div class="setWhiteBG_table" style="width: 100%;">
        <div class="allTextSetBlue" style="font-size: 18px; padding-bottom: 13px;"><span>Please choose @smulti account:</span></div>
        <table width="100%" style="font-size: 15px;" id="accountlist" name="accountlist" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="allTextSetWhite setTableBG_title" id="header" name="" style="height: 40px;">
                    <td>
                        <div class="checkBoxSet" style="margin: 1px 6px 0 6px;">
                            <input type="checkbox" id="all" name="all">
                            <label for="all"></label>
                        </div>
                    </td>
                    <td onclick="javascript:sortQuery('1')">User Account</td>
                    <td onclick="javascript:sortQuery('2')">First Name</td>
                    <td onclick="javascript:sortQuery('3')">Last Name</td>
                    <td onclick="javascript:sortQuery('4')">E-mail</td>

                </tr>
                @* for (ii=iskip; ii < lstUsers.Count && ii < 5; ++ii)
                    {
                        <tr class="allTextSetGray" style="height: 40px;">
                            <td>
                                <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                                    <input type="checkbox" id="select_@ii">
                                    <label for="select_@ii"></label>
                                </div>
                            </td>
                            <td>@lstUsers[ii].UserAccount</td>
                            <td>@lstUsers[ii].FirstName</td>
                            <td>@lstUsers[ii].LastName</td>
                            <td>@lstUsers[ii].Email</td>
                        </tr>
                    }
                            <tr class="allTextSetGray" style="height: 40px;">
                                <td>
                                    <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                                        <input type="checkbox" id="select1">
                                        <label for="select1"></label>
                                    </div>
                                </td>
                                <td>Angelina</td>
                                <td>N12346789</td>
                                <td>111111111</td>
                                <td>F</td>
                            </tr>
                            <tr class="allTextSetGray" style="height: 40px;" bgcolor="#E3E3E3">
                                <td>
                                    <div class="checkBoxSet" style="margin: 1px 0 0 6px;">
                                        <input type="checkbox" id="select1">
                                        <label for="select1"></label>
                                    </div>
                                </td>
                                <td>Angelina</td>
                                <td>N12346789</td>
                                <td>111111111</td>
                                <td>F</td>
                            </tr>*@
            </tbody>
        </table>


        <div class="setChoosePage" id="scrollNav" name="scrollNav" style="display:none">
            <a href="javascript:void(0)"><img id="firstPage" name="firstPage" src='@Url.Content("~/Content/images/iconFirstPage.png")'> </a>
            <a href="javascript:void(0)"><img id="prevPage" name="prevPage" src='@Url.Content("~/Content/images/iconPreviousPage.png")'></a>
            <span class="allTextSetGray" id="pageLink" name="pageLink" style="text-align: center;">1　2　3　4　5</span>
            <a href="javascript:void(0)"><img id="nextPage" name="nextPage" src='@Url.Content("~/Content/images/iconNextPage.png")'></a>
            <a href="javascript:void(0)"><img id="lastPage" name="lastPage" src='@Url.Content("~/Content/images/iconLastPage.png")'></a>
        </div>

    </div>

</div>


<div style="padding: 15px 15px;">
    <div class="setWhiteBG">
        <!--		<div class="allTextSetBlue" style="font-size: 18px; padding: 0 0 13px 15px;"><span>Create One Account</span></div>-->

        <div class="flexVerSet flexHorSet_SB col-md-3 col-lg-2" style="height: 70px;">
            <div style="width: 100%;">
                <a href="#sendChk"><div class="buttonSet" id="submitcreate" name="" style="width: 100%;">Submit</div></a>
            </div>
        </div>

        <div id="loading-indicator" style="display:none">

            <img src='@Url.Content("~/Content/images/loader.gif")' />
            <span class="allTextSetBlue">Loading...</span>
        </div>
    </div>

</div>

<div class="loadMASK" id="waiting" name="waiting" style="visibility: hidden;">
    <img src='@Url.Content("~/Content/images/loading.gif")'>
</div>
